.start-kyc-padding{
  font-weight: 400;
  // padding-top: 20px;
}
.startkyc-card{
 margin: 0px;
 border-radius: 10px;
 p{
    padding: 0px 16px;
    color: #042C5C;
    font-size: 16px;
    line-height: 19px;
   i{
    font-size: 24px;
    padding: 8px;
   }
 }

}
.help-icon{
  font-size:18px;
  padding:8px;
}



.ion-doted-box{ 
  border: 2px dashed #DFE7F5;
  background: #fff;
  // border-radius: 8px;
  
}

ion-card-content p{
  /*padding: 0px 16px; */
  color: #042C5C;
  font-size: 16px;
  margin: 20px auto;
  /* line-height: 19px; */
  /* font-weight: 300;*/
}
ion-card-content{
  padding: unset;
    width: 100%;
}
ion-card{
  background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    padding: 16px;
    width: 100% ;
    border-radius: 12px;
   
}

ion-card-content p i {
  font-size: 24px;
    padding: 8px;
    margin: auto 10px;
    background: #EAEBF2;
    border-radius: 10px;
}


.page-header {
  color: #043267;
  font-size: 15px;
  font-weight: 400;
   width: 100%;
  text-align: center;
}

.help-icon{
  font-size: 17px;
  /* margin: auto 7px; */
  /* padding: 8px; */
}