<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <ion-buttons slot="start" class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header ">Start KYC</h2>
        </ion-buttons>
        <p class="black-text start-kyc-padding">To complete KYC, you should have</p>
    </div>



    <ion-grid>
        <ion-row>
                <ion-card>
                        
                      
                        <ion-card-content>
                                <p> <i class="icon-address-proof1x"> </i>{{'KYCNotCompleted.PANtxt'|translate}}</p>
                                <p> <i class="icon-scanned-signature1x"> </i>{{'KYCNotCompleted.SIgtxt'|translate}}</p>
                                <p> <i class="icon-bank1x"> </i>{{'KYCNotCompleted.bnkinfotxt'|translate}}</p>
                        </ion-card-content>
                      </ion-card>
        </ion-row>
        <ion-row>
                <ion-card class="ion-margin-vertical ion-padding ion-doted-box">
                        <div class="verify-bottom-box">
                           <ion-row>
                              <ion-col size="4">  
                                 <img src="/assets/images/video.jpg" class="" style="margin: 12px auto;"  />
                              </ion-col>
                              <ion-col  size="8">
                                 <div class="ion-text-left">
                                    <p class="grey-text m-b-0"><i class="icon-help1x help-icon"> </i>{{'KYCNotCompleted.wtchvideotxt'|translate}}</p>
                                    <p class="page-header m-t-0 kyc-heading">{{'KYCNotCompleted.howvideokycsmheader'|translate}} </p>
                                 </div>
                              </ion-col>
                           </ion-row>
                        </div>
                        </ion-card>
        </ion-row>
    </ion-grid>
    
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
        <ion-button expand="block" (click)="continuekyc()" class="demo-button-violet">
                {{'KYCNotCompleted.contbtn'|translate}}</ion-button>
    <!-- <ion-row class="email-row-padding">
        <ion-col style="margin-bottom: 50px;">
            <ion-button expand="block" (click)="continuekyc()" class="demo-button-violet">
                {{'KYCNotCompleted.contbtn'|translate}}</ion-button>
        </ion-col>
    </ion-row> -->
    <!-- Footer Section -->
    <!-- <div class="ion-padding" style="margin-left: -16px;position: fixed;padding: 10px 16px;background: #414d93;color: #f1f1f1;bottom: 0;
  width: 100%;">
        <ion-grid>
            <ion-row>
                <ion-col (click)="this.router.navigateByUrl('supportdetails');">
                    <span style="float: left;font-size: 12px; color: #ffff;">Support</span>
                </ion-col>
                <ion-col (click)="this.router.navigateByUrl('faq');">
                    <span style="float: right;font-size: 12px; color: #ffff;">FAQ</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->
</ion-footer>