.supprt_lplp ion-icon {
    color:gray;
    font-size: 25px;
    float: right;
    margin-top: 10px;
}
.supprt_whats ion-icon {
    color: #25D366;
    font-size:30px;
    float: right;
    margin-top: 15px;
}
.supp_text p {
    font-size: 17px;
    color: #0c084e;
    margin:13px 5px 12px;
 }
 .right_slp{
 float: right;
    margin-right: 15px;
 }
.ber_pad{
    border-bottom: 1px solid #ededed;
    background:#fff;
}
.bg_whit{
    background:#fff;
    padding-left: 15px;
    padding-right: 15px;
}
right_slp p{
    font-size:15px;
 }
 .right_slp p {
    color: #13798e;
    font-size: 15px;
}
.un_pad{
    padding: unset;
}