
<app-header headers="{{'support.headersupp'|translate}}"></app-header>
<ion-content>
    <ion-grid class="un_pad">
        <ion-row (click)="phoneCall(supportDetails.Phone)" class="ber_pad">
            <ion-col size="10">
                <div class="supp_text">
                    <p class="link linkpadding">{{'support.callustxt'|translate}}: <a href="tel:{{supportDetails.Phone}}">{{supportDetails.Phone}}</a></p>
                </div>
            </ion-col>
            <!-- href="mailto:test@test.com" -->
            <ion-col size="1">
                <div class="supprt_lplp">
                    <a href="tel:tel:{{supportDetails.Phone}}"><ion-icon name="call"></ion-icon></a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="ber_pad" style="margin-bottom: 10px;">
            <ion-col size="10">
                <div class="supp_text">
                    <p>Email us on <a [href]="supportEmail">{{supportDetails.Email | lowercase}}</a></p>

                </div>
            </ion-col>
            <ion-col size="1">
                <div class="supprt_whats">
                    <a [href]="supportEmail"><ion-icon name="mail"></ion-icon></a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="bg_whit">
            <ion-col size="6">
                <div class="supp_text">
                    <p style="margin-left: 5px;"> {{'support.offaddtxt'|translate}}</p>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="right_slp" style="margin-top: 15px;">
                    <a href="https://www.google.com/maps/place/Lakshy+Inclusion+Services+Private+Limited/@12.9761682,77.6187508,15z/data=!4m5!3m4!1s0x0:0x5d678ded34a2bd96!8m2!3d12.9761682!4d77.6187508"> {{'support.dirtxt'|translate}}</a>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="bg_whit">
            <ion-col size="12">
                <img src="/assets/images/Screenshot.png">
            </ion-col>

        </ion-row>
        <ion-row class="bg_whit">
            <ion-col size="12" >
                <span style="font-size: 13px;color: gray;"> {{supportDetails.Address | titlecase}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>