<ion-header class="grey-bg-page">
    <ion-row>
        <ion-col>
            <h2 class="page-header m-b-0"> {{'CaptureVideoSelfie.capturetxtheader'|translate}}</h2>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content class="ion-padding grey-bg-page">
    <ion-grid class="padding-0">
            <ion-row class="m-t-0">
                    <!-- <ion-col class="ion-text-center m-t-0">
                        Please capture your video in minimum resulation.
                    </ion-col> -->
            </ion-row>
        <ion-row class="m-t-0">
            <ion-col class="ion-text-center m-t-0"> 
                <!-- <img [src]="showThumb" *ngIf="showThumb" class="pan-icon" style="height: 90%;" /> -->
                <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source [src]="fileContent.video" type="video/mp4">
                Your browser does not support the video tag.
                </video>
                <!-- <iframe [src]='videosrc' width="320" height="240" frameborder="0" allowfullscreen></iframe> -->

                <!-- <video  src={(videosrc.fullPath}} frameborder="0" 
            ></video> -->
                <!-- <video width="320" height="240" controls>
                    <source src={(videosrc}} type="video/mp4">
                  </video> -->
                <!-- <video id="my-player" class="video-js vjs-default-skin" playsinline src="the-mp4-local-path"  *ngIf="videosrc && videosrc[0].fullPath">
                        <source [src]={(videosrc.fullPath}} type="video/mp4">
                    </video> -->
                <!-- <p class="grey-text m-t-0 m-b-0 capture-text">6 digit number</p>
              <p class="black-text m-t-0 m-b-0 capture-black-text">7 8 5 6 4 3</p>
              <p class="capture-read-text"> Read out loud or, <span class="link">Regenerate again</span></p> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page" >
    <ion-button expand="block" (click)="captureVideo()" class="demo-button info-misimatch-button-padding" [attr.disabled] = "makeBtnDsable">
        {{'CaptureVideoSelfie.retakebtn'|translate}}</ion-button>

        <ion-button expand="block" (click)="continue()" class="demo-button-violet" *ngIf="fileContent.video  && fileContent.image">
                {{this.buttonText}}
            </ion-button>
        <ion-button expand="block" disabled="diasbled" class="demo-button-violet" *ngIf="!fileContent.video || !fileContent.image">
                    Uploading Video..
                </ion-button>

</ion-footer>