<ion-header>
    <ion-title>
       <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
       <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
       <img src="./assets/images/whatsapp.png" style="position: absolute;
         font-size: 30px;
         float: right;
         right: 10px;
         top: 5px;
         padding-top: 0px; 
         color: green;
         z-index: 999999;
         width: 40px;" (click)="openWhatsapp()"/>
       <span>{{'save.saveheader'|translate}}</span>
       <!-- <ion-icon name="logo-whatsapp"  style="font-size: 30px; float: right;padding-top: 0px; color: green;"></ion-icon> -->
    </ion-title>
 </ion-header>
 <ion-content>

    <!-- <ion-grid class="product-cart" *ngIf="currentUserDetails.IsGoalCreated">
       <ion-card class="white">
         <ion-row class="ion-padding-horizontal">
            <ion-col text-center size="6">
                <h4 class="price-color">₹{{currentSavings1 | number:'1.0-0'}}</h4>
                <span class="tooltip next-step" style="background: rgba(59, 178, 184, 0.24);">{{'hometran.cursave'|translate}}</span>
            </ion-col>

             <ion-col text-center size="6">
                <h4 class="price-color">₹{{ nextStop | number:'1.0-0'}}</h4>
                <span class="tooltip next-step">Next Stop</span>
             </ion-col>
           </ion-row>
          <ion-row class="ion-padding-top relative ion-padding-horizontal">
             <ion-col>
                <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
                <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
                <div></div>
                <div class="border-sec"></div>
             </ion-col>
          </ion-row>
          <ion-row class="ion-padding-horizontal">
             <ion-col class="ion-text-left">
                <span class="ion-no-margin start"> {{'hometran.starttxt'|translate}} </span>
                <p class="ion-no-margin price-color">₹ {{permonthAmount}}</p>
             </ion-col>
             <ion-col class="ion-text-right">
                <span class="ion-no-margin start"> {{'hometran.goalintxt1'|translate}} {{mileStones.length/4}} {{'hometran.goalintxt2'|translate}} </span>
                <p class="ion-no-margin price-color">₹ {{ goalAmount  | number:'1.0-0'}}</p>
             </ion-col>
          </ion-row>

          <ion-row class="ion-padding-horizontal" style="padding-left: 0px; padding-right: 0px;">
           
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                   <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(1)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(2)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(3)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/milestone-award.png" class="ion-padding-top"  [ngStyle]="setGoalStyles()"/>
               </ion-col>
            </ion-row>
         <img src="./assets/images/auto.png" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
         <img src="./assets/images/route.jpg" id="save-auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
       </ion-card>
    </ion-grid> -->
    <ion-grid class="ad_paddin"   style="background: linear-gradient(to bottom, #373588 0%, #373588 50%, #f3f3f3 33%, #f3f3f3 100%);">
      <ion-card class="hone_cd" >
         <ion-row *ngIf="tansationAmount && tansationAmount < 100 && this.transationDetails.TotalInvestmentAmount  == 0" class="first-transation" style="color: red;text-align: center;"> 
            <ion-col>
              *Amount should be 100 plus
            </ion-col>
         </ion-row>
         <ion-row *ngIf="tansationAmount && tansationAmount < 5 && this.transationDetails.TotalInvestmentAmount  >= 0" class="first-transation" style="color: red;text-align: center;"> 
           <ion-col>
             *Amount should be more than 5
           </ion-col>
        </ion-row>
        <ion-row *ngIf="tansationAmount && tansationAmount > 100000 && this.transationDetails.TotalInvestmentAmount  >= 0" class="first-transation" style="color: red;text-align: center;"> 
          <ion-col>
            *Amount should not be more than 100000
          </ion-col>
        </ion-row>
        <ion-row *ngIf="tansationAmount % 1 !=0 && tansationAmount" class="first-transation" style="color: red;text-align: center;"> 
          <ion-col>
            *Decimal currencies is not accepted {{tansationAmount}}
          </ion-col>
        </ion-row>
         <ion-row align-items-center>
            <ion-col class="ion-no-padding ion-margin-horizontal">
               <ion-input (ionBlur)="checkAmount()" (keypress)="numberOnlyValidation($event,$event.target.value)" style="box-shadow: 1px 1px 0px 0px #807979; margin: 15px auto;" name="tansationAmount" [(ngModel)]="tansationAmount" type="number" placeholder="{{'save.txtboxtxt'|translate}}" class="input e-amount" clear-input="true"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row style="margin-bottom: 10px;">
            <ion-col class="ion-text-center ion-margin-horizontal">
               <ion-chip style="margin-left: 0px; padding: 8px;" (click)="addAmount(100)">
                  <ion-icon name="add" class="p-voucher"></ion-icon>
                  <ion-label class="p-voucher">100</ion-label>
               </ion-chip>
               <ion-chip style=" padding: 8px;" (click)="addAmount(200)">
                  <ion-icon name="add" class="p-voucher"></ion-icon>
                  <ion-label class="p-voucher">200</ion-label>
               </ion-chip>
               <ion-chip style=" padding: 8px;" (click)="addAmount(300)">
                  <ion-icon name="add" class="p-voucher"></ion-icon>
                  <ion-label class="p-voucher">300</ion-label>
               </ion-chip>
               <ion-chip style=" padding: 8px;margin-right: 0px;" (click)="addAmount(500)">
                  <ion-icon name="add" class="p-voucher"></ion-icon>
                  <ion-label class="p-voucher">500</ion-label>
               </ion-chip>
            </ion-col>
         </ion-row>
      </ion-card>
   </ion-grid>
    <ion-grid class="white">
       <!-- <div *ngIf="this.disableContinueBtn">
          {{paidMessage}}...
         <ion-progress-bar type="indeterminate"></ion-progress-bar>  
       </div> -->
       
       <!-- <ion-row class="ion-padding-vertical">
          <ion-col size="12" class="ion-text-center " style="color: #77869E;">
             <h6 class="main-text">{{'save.saveamttxt'|translate}}</h6>
             <p class="ion-no-margin first-transation">{{'save.firsttratext'|translate}}</p>
             <p class="ion-no-margin first-transation"> {{'save.subtrantxt'|translate}}</p>
          </ion-col>
       </ion-row> -->
      
       <!-- <ion-row>
          <ion-col size="12" class="border-box ion-margin-vertical"> </ion-col>
          <ion-col class="ion-padding-bottom">
             <h6 _ngcontent-ayi-c1="" class="main-text ion-no-margin ion-text-center">{{'save.txtselectpayoption'|translate}}</h6>
          </ion-col>
       </ion-row> -->
       <ion-row class="ion-align-items-center">
         <ion-list style="width: 100%;overflow-x: auto; height: 200px;padding-top: 0px;overflow: scroll;">
            <ion-radio-group [(ngModel)]="upiId1" name="upiId1" >
              <ion-list-header>
                <ion-label>{{'pur.pselectupitxt'|translate}}.</ion-label>
              </ion-list-header>
              <ion-item (ionFocus)="changeTransation('UPI',null)">
               <img src="./assets/images/upi.png" class="card-m-t" style="margin: 10px 10px 0px 0px;" />
                <ion-input  name="newUpi" [(ngModel)]="newUpi" type="text" placeholder="{{'pur.addnewupitxt'|translate}}"></ion-input>

                <ion-radio slot="start" value=""></ion-radio>
              </ion-item>
              <div *ngIf="upiIds.length > 0">
                 <ion-item (ionFocus)="changeTransation('UPI',upi.upiId)" *ngFor= 'let upi of upiIds'>
                  <img src="./assets/images/{{upi.type}}.png" class="card-m-t" style="margin: 2px 10px 0px 0px; width: 67px;"/>
                  <ion-label>
                     {{upi.upiId}}

                  </ion-label>
                  <ion-radio slot="start" value="{{upi.upiId}}"></ion-radio>
                  <ion-icon name="trash"  style="font-size: 20px; z-index: 99999999; float: right;padding-top: 0px; color: rgb(139, 136, 136);" (click)="deleteUpiAlertConfirm(upi.upiId)"></ion-icon>

                  
               </ion-item>
              </div>
              
          
              
            </ion-radio-group>
          </ion-list>
       </ion-row>
       <ion-row class="ion-align-items-center">
         <ion-list style="width: 100%;overflow-x: auto; height: 200px;">
            
              <ion-list-header>
                <ion-label style=" color: #77869E;
                --background: #f3f3f3;
                font-family: Rubik;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;">{{'pur.upihelptxt'|translate}}.</ion-label>
              </ion-list-header>
          
              <ion-item style="height: 35px;">
               <img src="./assets/images/ybl.png" class="card-m-t" style="margin: 2px 10px 0px 0px; width: 60px;"/>
                <ion-label style="font-weight: 500;font-size: 12px;">
                   <span style="color: #3880ff;">9004089924</span> @ybl
                </ion-label>
               
              </ion-item >
              <ion-item style="height: 35px;">
               <img src="./assets/images/apl.png" class="card-m-t" style="margin: 2px 10px 0px 0px; width: 60px;"/>
                <ion-label style="font-weight: 500;font-size: 12px;">
                   <span style="color: #3880ff;">9004089924</span> @apl
                </ion-label>
               
              </ion-item >
              <ion-item style="height: 35px;">
               <img src="./assets/images/paytm.png" class="card-m-t" style="margin: 2px 10px 0px 0px; width: 60px;"/>
                <ion-label style="font-weight: 500;font-size: 12px;">
                   <span style="color: #3880ff;">9004089924</span> @paytm
                </ion-label>
               
              </ion-item>
              <ion-item style="height: 35px;" (ionFocus)="changeTransation('UPI',null)">
               <img src="./assets/images/upi.png" class="card-m-t" style="margin: 10px 10px 0px 0px;width: 60px;" />
               <ion-label style="font-weight: 500;font-size: 12px;">
                  <span style="color: #3880ff;">9004089924</span> @upi
               </ion-label>
              </ion-item>
           
          </ion-list>
       </ion-row>
       
       <ion-row class="ion-align-items-center" [attr.disabled]="this.disableContinueBtn" no-padding justify-content-start align-items-start>
            <!-- To disable DC  -->
         
            <!-- <ion-col size="4" (click)="changeTransation('DC')" offset="2">
            <div class="section-transation-type" [ngClass]="{active : transationType == 'DC'}">
                
                <p class="ion-margin-vertical banking">UPI Intent Comming Soon</p>
             </div>
          </ion-col> -->
          



          <!-- <ion-col class="ion-align-self-center" size='4' (click)="changeTransation('UPI',upi.upiId)" *ngFor= 'let upi of upiIds' ion-item no-lines no-padding text-center col-2>
            <div class="section-transation-type" [ngClass]="{active : upiId == upi.upiId}">
               <img src="./assets/images/upi.png" class="card-m-t" />
               <p class="ion-margin-vertical banking">{{upi.upiId}}</p>
            </div>
         </ion-col> 
          <ion-col class="ion-align-self-center" size='4' (click)="changeTransation('UPI',null)" ion-item no-lines no-padding text-center col-2>
             <div class="section-transation-type" [ngClass]="{active : upiId == null}">
                <img src="./assets/images/upi.png" class="card-m-t" />
                <p class="ion-margin-vertical banking">New UPI</p>
             </div>
          </ion-col> -->
       </ion-row>
       <ion-row style="text-align: center;" *ngIf="transationType == 'DCc'">
          <ion-col >
             <ion-select class="select-option" interface="action-sheet" placeholder="Select Bank" [(ngModel)]="bankName" name="bankName" required>
             <ion-select-option value="{{bank.BankName | titlecase}}" *ngFor="let bank of bankDetails">{{bank.BankName | titlecase}}</ion-select-option>
             </ion-select>
          </ion-col>
       </ion-row>


       <ion-row *ngIf="this.disableContinueBtn" class="first-transation" style="color: red;text-align: center;"> 
         <ion-col>
            {{statusMsg}}           
         </ion-col>
      </ion-row>
      <!-- <ion-row style="text-align: center;">
         <ion-col style="text-align: center;">
            <ion-input style="box-shadow: 3px 3px 3px 1px #807979;" name="upiId" [(ngModel)]="upiId" type="text" placeholder="Enter UPI ID" class="input e-amount" clear-input="true"></ion-input>
         </ion-col>
      </ion-row> -->
    </ion-grid>

    
 </ion-content>
 <ion-footer class="ion-text-center ion-padding grey-bg-page" [attr.disabled]="!upiId && !newUpi">
    <!-- this.disableContinueBtn ||  this.diabledContinue || -->
    <ion-button expand="block" (click)="submitPurchase()" class="demo-button-violet" [attr.disabled]="!upiId && !newUpi">
      <!-- <ion-button expand="block" (click)="submitPurchase()" class="demo-button-violet" [attr.disabled]="getBtnStatus()"> -->
      {{'save.savebtn'|translate}} 
    </ion-button>
 </ion-footer>