.white {
    background-color: #fff;
}

.price-color {
    color: #212344
}

.main-text {
    color: #2C3555;
}

.green {
    color: #24996A
}

ion-button.sec-color {
    background-color: #373588;
    width: 95%;
    border-radius: 8%;
}
.iocnlp_image1 {
    margin-top: 25%;
    float: right;
}
.hone_cd {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08), 0 1px 5px rgba(0, 0, 0, 0.22);
    background: #fff;
    border-radius: 10px;
}
.cd_text0 {
    font-size: 18px;
    color: #043267;
    padding: 15px 12px 3px;
    font-weight: 400;
}

.cb_text1 span {
    color: #00d793;
}

.accoe_iocn {
    width: 58px;
    height: 58px;
    background: #FCB06C;
    border-radius: 10px;
    text-align: center;
}

.accoe_iocn {
    float: right;
}

.accoe_iocn ion-icon {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 28%;
}


ion-button.with-color {
    background-color: #3735881a;
    width: 95%;
    color: #373588;
    border-radius: 8%;
}

.next-step {
    background: #5b72de2e;
}

.p-voucher {
    color: #3F3C93;
    font-weight: 500;
    font-size: 14px;
}

.ass {
    color: #77869E
}

.small-font {
    font-size: 13px;
}

.price-padding {
    padding: 15px 10px;
}

.med-font {
    font-size: 20px;
}

.line-h {
    line-height: 10px;
}

.product-cart {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#373588+0,373588+33,f3f3f3+33,f3f3f3+100 */
    background: #373588;
    /* Old browsers */
    background: -moz-linear-gradient(top, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#373588', endColorstr='#f3f3f3', GradientType=0);
    /* IE6-9 */
}

.tooltip {
    background: rgba(59, 178, 184, 0.24);
    font-size: 11px;
    color: #2C3555;
    word-wrap: break-word;
    display: inline-block;
    padding: 6px 0px;
    width: 90%;
    border-radius: 5px;
    font-weight: normal;
    line-height: 16px;
    vertical-align: top;
    position: relative;
}
.tooltip1 {
    background: rgba(59, 178, 184, 0.24);
    font-size: 11px;
    color: #2C3555;
    word-wrap: break-word;
    display: inline-block;
    padding: 6px 0px;
    width: 90%;
    border-radius: 5px;
    font-weight: normal;
    line-height: 16px;
    vertical-align: top;
    position: relative;
}
.tooltip:before {
    content: '';
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 45%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(59, 178, 184, 0.24);
}

.tooltip.next-step {
    background: #5b72de2e;
    width: 90%;
    padding: 14px 0px;
}

.tooltip.next-step:before {
    content: '';
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 45%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #5b72de2e;
}

.tooltip.exted {
    background: #f3f7fb6e;
}

.tooltip.exted:before {
    content: '';
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 45%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f3f7fb6e;
}

.border-sec {
    border-top: 1px dotted #043267;
    position: absolute;
    width: 97%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.w-15 {
    width: 15%;
}

.w-35 {
    width: 35%;
}

.round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #43E695;
    position: relative;
    z-index: 1;
}

.start {
    color: #77869E;
    font-size: 13px;
}

.border-green {
    border: 1px solid rgba(36, 153, 106, 0.26);
    border-radius: 15px;
}


/*
for header
*/

ion-header {
    background-color: #373588 !important;
    color: #fff !important;
}

.section-transation-type {
    display: block;
    color: #686980;
    border: 1px solid #686980;
    border-radius: 12px;
    margin: 4px auto;
    text-align: center;
    text-decoration: none;
    width: 101px;
}

.section-transation-type.active {
    border: 2px solid #3F3C93;
}

.first-transation {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.e-amount {
    background: #F8F7F9;
    border: 1px solid #DFE7F5;
}

.border-box {
    border-top: 2px dotted #D4DCEC
}

.card-m-t {
    margin: 35px auto 0px;
}

.banking {
    font-size: 12px;
    color: #043267;
}


.select-option {
    box-shadow: 3px 3px 3px 1px #807979;
    /* border: 1px solid #000; */
    border-radius: 10px;
    color: #043267;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    height: 51px;
    background: #F8F7F9;
    border: 1px solid #DFE7F5;
    box-shadow: 3px 3px 3px 1px #807979;
}

ion-grid {
    padding-left: 0px;
    padding-right: 0px;
  }