<ion-content class="grey-bg-page ion-padding">
    <div class="ion-text-center">
       <ion-buttons slot="start" class="backbutton-black">
          <ion-back-button defaultHref=""></ion-back-button>
          <h2 class="page-header m-t-0 m-b-0">{{'PANsuccessfulUpload.uploadpanhead' | translate}}</h2>
       </ion-buttons>
    </div>
    <div class="main-card pan-form-card">
       <!-- {{panimg}} -->
       <img [src]="panimg" /> 
    </div>
    <form (ngSubmit)="panFetch()" class="main-form" [ngStyle]="{'display': (currentStep != 1) ? 'none' : 'block' }" >
    <div class="ion-text-center">
       <h2 class="page-header m-b-0 form-sub-header">{{'PANsuccessfulUpload.editinfotxt' | translate}}</h2>
    </div>
    <div class="uploadform">
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'PANsuccessfulUpload.pan' | translate}}</ion-label>
          <ion-input name="panno" type="text" placeholder="Pan No"  required [(ngModel)]="pandData.PAN" name ="PAN"></ion-input>
       </ion-item> 
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text">Please check the autofilled PAN no. with your PAN card and correct if ther is any mistake. </ion-label>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>Mother Name</ion-label>
          <ion-input name="mothername" type="text" placeholder="Enter mother name" required [(ngModel)]="pandData.MotherName" name ="MotherName"></ion-input>
       </ion-item>
       <ion-item lines="none" style="margin-bottom: 20px;">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'PANsuccessfulUpload.dob' | translate}}</ion-label>
         <ion-datetime  value="{{pandData.DOB}}" displayFormat="DD/MM/YYYY" placeholder="Date of birth" required [(ngModel)]="pandData.DOB" name ="DOB" ></ion-datetime>
          
          <!-- <ion-input name="dob" displayFormat="MM DD YY" (ionChange) ="getpanDate($event.target.value)" value="{{showDOB | date :'yyyy-mm-dd'}}" type="date" placeholder="Date of birth" required [(ngModel)]="pandData.DOB" name ="DOB"></ion-input> -->
       </ion-item> 
    </div>
    <div style="margin-top: 10px">
       <ion-button expand="block" class="demo-button-violet" type="submit">
          Pan Fetch
       </ion-button>
    </div>
    </form>
    <form (ngSubmit)="uploadpan()" class="main-form" [ngStyle]="{'display': (currentStep != 2) ? 'none' : 'block' }" > 
    <div class="ion-text-center">
       <h2 class="page-header m-b-0 form-sub-header">{{'PANsuccessfulUpload.editinfotxt' | translate}}</h2>
    </div>
    <div class="uploadform">
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'PANsuccessfulUpload.pan' | translate}}</ion-label>
          <ion-input name="panno" type="text" placeholder="Pan No"  required [(ngModel)]="pandData.PAN" name ="PAN"></ion-input>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked"><span style="color: red;">*</span>{{'PANsuccessfulUpload.nm' | translate}}</ion-label>
          <ion-input name="name" type="text" placeholder="Enter your name" required [(ngModel)]="pandData.Name" name ="Name" ></ion-input>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'PANsuccessfulUpload.fthnm' | translate}}</ion-label>
          <ion-input name="fathername" type="text" placeholder="Enter father name" required [(ngModel)]="pandData.FatherName" name ="FatherName"></ion-input>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>Mother Name</ion-label>
          <ion-input name="mothername" type="text" placeholder="Enter mother name" required [(ngModel)]="pandData.MotherName" name ="MotherName"></ion-input>
       </ion-item>
       <ion-item lines="none" style="margin-bottom: 20px;">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'PANsuccessfulUpload.dob' | translate}}</ion-label>
         <ion-datetime  value="{{pandData.DOB}}" displayFormat="DD/MM/YYYY" placeholder="Date of birth" required [(ngModel)]="pandData.DOB" name ="DOB" ></ion-datetime>
          
          <!-- <ion-input name="dob" displayFormat="MM DD YY" (ionChange) ="getpanDate($event.target.value)" value="{{showDOB | date :'yyyy-mm-dd'}}" type="date" placeholder="Date of birth" required [(ngModel)]="pandData.DOB" name ="DOB" ></ion-input> -->
       </ion-item>
    </div>
    <div style="margin-top: 10px">
       <ion-button expand="block" class="demo-button-violet" type="submit" >
          {{'PANsuccessfulUpload.submitbtn' | translate}}
       </ion-button>
    </div>
    </form>
 </ion-content>
 <!-- <ion-footer class="ion-text-center ion-padding grey-bg-page"  >
    </ion-footer>  -->