.pan-form-card{
    margin: 0px 0px 16px 0px;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 25%;
    img{
        width: 100%;
        height: 100%;   
    }
    }
    .confirm-text{
    font-size: 18px;
    font-weight: 400;
    padding: 32px 16px 16px 16px;
    }
    .doc-button-margin{
     margin:8px;
    }
    .retake-button-padding{
    padding-top:8px;
    }