
  .OTP-border {
    ion-col {
      div {
        border-bottom: 1px solid;
      }
    }
  }
.loginput{
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);
  color: #043267;	
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  min-height: 51px;
  margin:12px 0px;
}

  .linkpadding{
    padding-left:9px;
  }
  .padding-row{
    padding:16px;
  }

  .loginform{
    ion-item{
      --ion-background-color: transparent;
      padding: 8px 20px;
      .grey-text {
        color: #77869E !important;
        font-size: 18px !important;
        line-height: 24px !important;
        }
    }
  }