<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
       <ion-buttons slot="start" class="backbutton-black" >
          <ion-back-button defaultHref="" style="padding-top: 9px;"></ion-back-button>
          <h2 *ngIf="verifyCodeBtnStatus" class="page-header m-b-0"> Forget PIN</h2>
          <h2 *ngIf="!verifyCodeBtnStatus" class="page-header m-b-0"> {{'USPVideocomplete.reg'|translate}}</h2>
       </ion-buttons>
    </div>
     <!-- <ion-item lines="none"> -->
               <p style="text-align: center;font-size: 13px; color: #818fa5;">{{'USPVideocomplete.info_reg'|translate}}</p>
               
            <!-- </ion-item> -->
    <form #form="ngForm" [formGroup]="loginGroup" (ngSubmit)="logForm(form)" class="loginform">
        
    <ion-item lines="none">
       <ion-label position="stacked" class="grey-text">{{'USPVideocomplete.enterPhone'|translate}}</ion-label>
       <ion-input clearInput type="number" (keypress)="checklength($event.target.value)" placeholder="{{'USPVideocomplete.enterPhone'|translate}}" formControlName="PhoneNumber" class="loginput" clear-input="true"></ion-input>
    </ion-item>
    <ion-item lines="none"  *ngIf="!verifyCodeBtnStatus">
       <ion-label position="stacked" class="grey-text">{{'USPVideocomplete.haveReferalCode'|translate}}</ion-label>
       <ion-input clearInput type="text" placeholder="{{'USPVideocomplete.enterCode'|translate}}" formControlName="ReferralCode" class="loginput" clear-input="true"></ion-input>
    </ion-item>
 
    </form>
    <ion-row>
       <ion-col>
          <ion-text text-center class="grey-text block">{{'Reg3_numselected.ecitcustomer'|translate}}?
             <span class="link linkpadding" (click)="this.router.navigateByUrl('otplogin')">{{'Reg3_numselected.hyper_signin'|translate}}</span>
          </ion-text>
       </ion-col>
    </ion-row>
 </ion-content>
 <ion-footer class="ion-padding grey-bg-page">
    <ion-row class="padding-row">
       <ion-col>
          <ion-text text-center class="grey-text block"> 
             {{'Reg3_numselected.terConditiontext'|translate}} 
               <a nav-transition="android" href="https://www.lakshya.net.in/terms-conditions">
                  {{'Reg3_numselected.hyper_termCond_T&C'|translate}}</a> 
             {{'Reg3_numselected.andText'|translate}} 
             <!-- <span class="link linkpadding"> -->
               <a nav-transition="android" href="https://www.lakshya.net.in/privacypolicy">
                {{'Reg3_numselected.hyper_termCond_privacy'|translate}}
               </a>
               <!-- </span> -->
          </ion-text>
       </ion-col>
    </ion-row>
    <ion-row>
       <ion-col>
          <ion-button expand="block" (click)="verify()" class="demo-button-violet">
             {{'Reg3_numselected.btn_verfy_Continue'| translate}}
          </ion-button>
       </ion-col>
    </ion-row>
 </ion-footer>