

ion-header{
    background: #373588;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    --background: none;
  }
  ion-header h2{ font-size: 20px;}
  .white-coler{background-color: #fff;}
  ion-card{ border-radius: 8px;}
  .pan-card-border{border: 2px dashed #DFE7F5; padding: 10px;     border-radius: 8px;}
  
  .tooltip:before {
        content: '';
        position: absolute;
        bottom: -6px;
        z-index: 1;
        left: 45%;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(59, 178, 184, 0.24);
    }

    .tooltip.next-step {
        background: #5b72de2e;
        width: 90%;
        padding: 14px 0px;
    }

    .tooltip.next-step:before {
        content: '';
        position: absolute;
        bottom: -6px;
        z-index: 1;
        left: 45%;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #5b72de2e;
    }
    .tooltip {
        background: rgba(59, 178, 184, 0.24);
        font-size: 11px;
        color: #2C3555;
        word-wrap: break-word;
        display: inline-block;
        padding: 6px 0px;
        width: 90%;
        border-radius: 5px;
        font-weight: normal;
        line-height: 16px;
        vertical-align: top;
        position: relative;
    }
    
    .start {
        color: #77869E;
        font-size: 13px;
    }
  .white-bg1{ 
    border-radius:12px;
    text-align: center;
  }
  .success-tick{
    font-size: 60px;
    color: #24996A;
    margin-top: 30px;
    width: 70px;
    display: inline-block;
    filter: invert(14%) sepia(78%) saturate(1070%) hue-rotate(130deg) brightness(220%) contrast(293%);
  }
  .failed-tick{
    font-size: 60px;
    color: #a8aa24;
    margin-top: 30px;
    width: 70px;
    display: inline-block;
    // filter: invert(14%) sepia(78%) saturate(1070%) hue-rotate(130deg) brightness(220%) contrast(293%);
    filter: invert(99%) sepia(88%) saturate(5386%) hue-rotate(2deg) brightness(105%) contrast(96%);
  }
  .failed-tick2{
    font-size: 60px;
    color: #a8aa24;
    margin-top: 30px;
    width: 70px;
    display: inline-block;
    // // filter: invert(14%) sepia(78%) saturate(1070%) hue-rotate(130deg) brightness(220%) contrast(293%);
    // filter: invert(99%) sepia(88%) saturate(5386%) hue-rotate(2deg) brightness(105%) contrast(96%);
  }
  .home_cd p {
    font-size: 15px;
    color: #043267;
    margin-left: 5px;
    margin-right: 5px;
    // line-height: 8px;
    // font-weight: 500;
  }
  .success-para {
    margin-top: -10px;
    border-top: 0.3px solid #d0caca;
  }
  .account_summary {
    margin-bottom: 50px;
  }
  .account_summary p {
    font-size: 13px;
    color: #043267;
    margin: 5px;
    padding: 5px;
    // line-height: 10px;
    font-weight: 400;
  }
  .goal-padding{
      padding:28px 16px 24px 16px;
    }
    .verify-button-padding{
      margin: 16px 0px 20px 0px;
    }
    .success-settings-card{
      height:38%;
      padding:0px;
      background: #FFFFFF;
      .white-bg{ 
          background: #FFFFFF;
          border-radius:12px;
          text-align: center;
          .success-footer-text{
          font-size: 16px;
          font-weight: 500;
          color: #043267;
          padding:24px 24px 0px 24px;
          margin-top:-2.5em;
          }
          .grey-text{
           color:#77869E;
           font-size: 14px;
           line-height: 24px;
           padding:0px 24px 24px 24px;
           text-align: center;
          }
          .blue-text{
          color: #043267;
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 12px;
          margin-top: -1em;
         }
      }
      .setting-slider{
          text-align:center;
          border-top: 1px solid rgba(151, 151, 151, 0.5);
          padding: 0px 16px;
          background: #FFFFFF;
          .green-text{
              color:#24996A;
              font-size: 12px;
              font-weight: 500;
              line-height: 24px;
              padding:0px 24px;
          }
          .range-bar{
              --bar-height:15px;
              --bar-border-radius:10px;
              --bar-background:#DFE7F5;
              --knob-background:linear-gradient(315deg, #43E695 0%, #3BB2B8 100%);
              --bar-background-active:linear-gradient(315deg, #43E695 0%, #3BB2B8 100%);
          }
  
      }
      
    }
    .range-icon{
        font-size:28px;
        color:#77869E;
    }
    .success-goalsettings-card{
      border:none;
      margin: 44% 16px 32px 16px !important;
     }
     .success-goalsettings-card-one{
      border:none;
      width:100%;
      margin: 65% 0px 32px 0px !important; 
      background: #FFFFFF;  
     }
     
     .suceess-bottom-box{
       height:70%;
     }
     .success-child-card{
      background: #FFFFFF;
      border-radius: 12px;
     }
     .price-color {
        color: #212344
     }
     .next-step {
        background: #5b72de2e;
    }
    ion-button.sec-color {
        background-color: #373588;
        width: 95%;
        border-radius: 8px;
    }

    ion-grid {
      padding-left: 0px;
      padding-right: 0px;
    }

    .blue-text2 {
      color: #4b5056;
      font-size: 15px;
      /* line-height: 8px; */
      padding: unset;
      margin: 10px;
      text-align: left !important;
      font-weight: 400;
  }