<ion-header>
  <ion-title>
     <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
     <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
     <span>{{'save.savesuccheader'|translate}}</span>
  </ion-title>
</ion-header>

<ion-content class="first"> 
  <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
    <ion-card class="slides-ios white-coler first_part">
      <div class="conf-success white-bg1">
        <img  class="icon-tick-mark1x failed-tick2" style="color: rgb(233, 233, 17);" src="/assets/images/cross.png" style="filter: invert(26%) sepia(79%) saturate(6923%) hue-rotate(339deg) brightness(87%) contrast(98%);"/>
        <!-- <img  class="icon-tick-mark1x success-tick" src="/assets/images/conf_success.svg" style="    margin-top: 15px;" /> -->
         <!-- <i></i> -->
         <div class="ion-padding home_cd" style="    margin: 0px 0px 30px 0px;">
          <p class="m-t-0 grey-text" *ngIf="showServerError">{{'savingFail.server' | translate}}</p>
          <p class="m-t-0 grey-text" *ngIf="!showServerError">{{'savingFail.upi' | translate}}</p>
           </div>
         <div class="white-bg" style="margin-top: -33px;">
         </div>
      </div>
   </ion-card>
  </ion-grid>


  <ion-grid >
    <div class="white-bg" style="padding: 15px; font-size: 15px;">
      <p class=" ion-padding ion-text-center blue-text blue-text2" style="margin-bottom: 25px;">Tips for avoiding transaction failure:</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2">1. Complete the trnsaction from your UPI app within 1 minute</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2">2. Don't press back during the transaction</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2 ">3. Don't kill the app during the transaction</p> 
                  
    </div>
  </ion-grid>


</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
  <ion-grid>
    <ion-row class="ion-padding-horizontal">
       <ion-col >
          <ion-button  expand="block" color="#373588" class="sec-color"  (click)="navCtrl.navigateRoot('homeTab')">{{'CommonUtility.homebtn'|translate}}</ion-button>
       </ion-col>
       <ion-col>
          <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('savings')" style="color: white !important;">{{'save.btnsaveMaore'|translate}}</ion-button>
       </ion-col>
    </ion-row>
 </ion-grid>
</ion-footer>