
ion-header{
    background: #373588;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    --background: none;
}
ion-header h2{ font-size: 20px;}
.white-coler{background-color: #fff;}
ion-card{ border-radius: 8px;}
.pan-card-border{border: 2px dashed #DFE7F5; padding: 10px;     border-radius: 8px;}



ion-content{
    --background: #373588;
    --background: -webkit-gradient(linear, left top, left bottom, from(#373588), color-stop(33%, #373588), color-stop(33%, #f3f3f3), to(#f3f3f3));
    --background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
}
.ion-doted-box{ 
    border: 2px dashed #DFE7F5;
    background: #fff;
    border-radius: 8px;
    
}







.verify-padding{
    padding: 24px 16px 24px 16px;
}
.verify-button-padding{
    margin: 16px 0px 20px 0px;
}
.upload-pan-card-one{
    .pan-card-border{
        border:0.1rem dashed #DFE7F5;
        .pan-text-heading{
          padding: 4px 0px 4px 0px;
        }
    }
}

.upload-pan-icon{
    height: 100%;
}