<ion-header class="ion-no-padding">
    <ion-buttons slot="start" class="backbutton-white">
       <ion-back-button defaultHref=""></ion-back-button>
       <h2 class="page-header-white m-t-0 m-b-0">{{'VideoKYCstart.uploadPanheader'|translate}}</h2>
    </ion-buttons>
 </ion-header>
 <ion-content class="first">
    <ion-card class="first_part slides-ios white-coler ion-padding">
       <div class="">
          <div class="ion-text-center pan-card-border">
             <!--<p class="grey-text m-t-0 m-b-0 pan-text-heading">{{'VideoKYCstart.frontsidetxt'|translate}}</p>-->
             <img [src]="uploadimg" class="pan-icon upload-pan-icon" />
          </div>
          <ion-row>
             <ion-col class="m-t-0 m-b-0 p-t-0 p-b-0">
                <ion-button expand="block" (click)="getImage(0)" class="faded-button verify-button-padding">
                   {{'VideoKYCstart.uploadbtn'|translate}}
                </ion-button>
             </ion-col>
             <ion-col class="m-t-0 m-b-0 p-t-0 p-b-0">
                <ion-button expand="block" (click)="getImage(1)" class="faded-button verify-button-padding">
                   {{'VideoKYCstart.takePhotbtn'|translate}}
                </ion-button>
             </ion-col>
          </ion-row>
          <div class="ion-text-center">
             <p class="grey-text m-t-0 m-b-0 pan-text-heading">{{'VideoKYCstart.piccleartxt'|translate}}</p>
          </div>
       </div>
    </ion-card>
    <ion-card class="ion-margin-vertical ion-padding ion-doted-box">
    <div class="verify-bottom-box">
       <ion-row>
          <ion-col size="4">  
             <img src="/assets/images/video.jpg" class=""   />
          </ion-col>
          <ion-col  size="8">
             <div class="ion-text-left">
                <p class="grey-text m-b-0"><i class="icon-help1x help-icon"> </i>{{'VideoKYCstart.wtchvideotxt'|translate}}</p>
                <p class="page-header m-t-0 kyc-heading" (click)="pankyc()" style="text-align: left;">{{'VideoKYCstart.howuploadpansmheader'|translate}}</p>
             </div>
          </ion-col>
       </ion-row>
    </div>
    </ion-card>
 </ion-content>
 <ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-row>
       <ion-col style="margin-bottom: 5px;">
          <ion-button expand="block" (click)="submitpan()" class="demo-button-violet" [attr.disabled]="!baseimg">
             {{'VideoKYCstart.submitbtn'|translate}}
          </ion-button>
       </ion-col>
    </ion-row>
    <!-- Footer Section -->
    <!-- <div class="ion-padding" style="margin-left: -16px;position: fixed;padding: 10px 16px;background: #414d93;color: #f1f1f1;bottom: 0;
       width: 100%;">
            <ion-grid>
                <ion-row>
                    <ion-col (click)="this.router.navigateByUrl('supportdetails');">
                        <span style="float: left;font-size: 12px; color: #ffff;">Support</span>
                    </ion-col>
                    <ion-col (click)="this.router.navigateByUrl('faq');">
                        <span style="float: right;font-size: 12px; color: #ffff;">FAQ</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div> -->
 </ion-footer>