<ion-header>

    <ion-title>
        <ion-icon name="md-arrow-round-back" (click)="navCtrl.back()" style="float: left;"></ion-icon>
        <span>{{'goalsetting.goalheader'|translate}}</span>
    </ion-title>
</ion-header>

<ion-content class="violet-bg-page">
    <div class="violet-bg-page top-box">
        <div class="ion-text-center goal-padding">
            <h2 class="top-box-header m-b-0">Set your goal</h2>
        </div>
    </div>
    <div class="main-card goal-settings-card">
        <div class="white-bg">
            <p class="m-t-0 m-b-0 footer-text">
                {{'goalsetting.whatisgoalamout'|translate}}
            </p>
            <p class="m-t-0 m-b-0 grey-text">
                {{'goalsetting.nopenalty'|translate}}
            </p>
        </div>
        <!-- step="rangesteps" -->
        <div class="setting-slider">
            <p class="green-text m-b-0"> {{'goalsetting.txtdailysav'|translate}} {{ (sliderrange/(slidemonths*30)) | number : '1.0-0'}}</p>
            <p class="grey-text m-t-0 m-b-0"> Rs {{sliderrange}}</p>
            <ion-range [min]="minamount" [max]="maxamount" color="success"  step="100" [(ngModel)]="sliderrange">
            </ion-range>
            <ion-grid class="m-t-0 m-b-0 padding-0">
                <ion-row class="m-t-0 m-b-0">
                    <ion-col class="m-t-0 m-b-0">
                        <div class="ion-text-start">
                            <ion-label slot="start" class="grey-text">Rs 1000</ion-label> <br>
                            <ion-icon name="remove-circle-outline" class="range-icon" (click)="decreaseAmount()"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col class="m-t-0 m-b-0">
                        <div class="ion-text-end">
                            <ion-label slot="end" class="grey-text">Rs 1,00,000</ion-label> <br>
                            <ion-icon name="add-circle-outline" class="range-icon" (click)="increaseAmount()"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="grey-bg-page bottom-box dashboard-bottom-box">
        <div class="main-grey-card  dashboard-goalsettings-card-one">
            <div class="main-card goal-settings-card">
                <div class="white-bg">
                    <p class="m-t-0 m-b-0 footer-text">
                        {{'goalsetting.bywhenyouwant'|translate}}
                    </p>
                    <p class="m-t-0 m-b-0 grey-text">
                        {{'goalsetting.nopenaltytime'|translate}}
                    </p>
                </div>
            <div></div>
                <div class="setting-slider" style="padding-top: 6px;">
                    <p class="grey-text m-t-0 m-b-0"> {{slidemonths}} {{'goalsetting.mnthtxt'|translate}}</p>
                    <ion-range [min]="mintime" [max]="maxtime" color="success"  [(ngModel)]="slidemonths">
                    </ion-range>
                    <ion-grid class="m-t-0 m-b-0 padding-0">
                        <ion-row class="m-t-0 m-b-0">
                            <ion-col class="m-t-0 m-b-0">
                                <div class="ion-text-start">
                                    <ion-label slot="start" class="grey-text">1  {{'goalsetting.mnthtxt'|translate}}</ion-label> <br>
                                    <ion-icon name="remove-circle-outline" class="range-icon" (click)="decreaseTime()"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="m-t-0 m-b-0">
                                <div class="ion-text-end">
                                    <ion-label slot="end" class="grey-text">12  {{'goalsetting.mnthtxt'|translate}}</ion-label> <br>
                                    <ion-icon name="add-circle-outline" class="range-icon" (click)="increaseTime()"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
        <div class="main-grey-card  dashboard-goalsettings-card-two">
            <div class="main-card goal-settings-card">
                <div class="white-bg">
                    <p class="m-t-0 m-b-0 footer-text">
                        {{'goalsetting.thisisforsaving'|translate}}
                    </p>
                    <p class="m-t-0 m-b-0 grey-text">
                        {{'goalsetting.donothavepurpose'|translate}}
                    </p>
                    <div class="scrollmenu m-t-0">
                        <i class="icon-school-fees1x" (click)="goalType = 'School Fee'" [ngClass]="{'active_type': goalType == 'School Fee'}"><p>School Fee</p></i>
                        <i class="icon-Emergency1x" (click)="goalType = 'Emergency'" [ngClass]="{'active_type': goalType == 'Emergency' }"><p>Emergency</p></i>
                        <i class="icon-auto-repair1x" (click)="goalType = 'Auto Repair'" [ngClass]="{'active_type': goalType == 'Auto Repair' }"><p>Auto Repair</p></i>
                        <i class="icon-buy-auto1x" (click)="goalType = 'Buy Auto'" [ngClass]="{'active_type': goalType == 'Buy Auto' }"><p>Buy Auto</p></i>
                        <i class="icon-no-purpose1x" (click)="goalType = 'No purpose'" [ngClass]="{'active_type': goalType == 'No purpose' }"><p>No purpose</p></i>
                        <i class="icon-add1x"  (click)="openModal()"><p>Add New</p> </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-button expand="block" (click)="createNewGoal()" class="demo-button-violet">
        {{'CommonUtility.cntbtn'|translate}}</ion-button>
</ion-footer> 