<ion-header>

    <ion-title>
        <ion-icon name="md-arrow-round-back" (click)="navCtrl.back()" style="float: left;margin-top: 10px;"></ion-icon>
        <span>{{headers | titlecase}}</span>
    </ion-title>
    <img src="./assets/images/whatsapp.png" style="position: absolute;
   font-size: 30px;
   float: right;
   right: 10px;
   top: 15px;
   padding-top: 0px;
   color: green;
   z-index: 999999;
   width: 40px;" (click)="openWhatsapp()"/>
</ion-header>