<ion-header style="background: #373588 !important;">
  <img src="./assets/images/whatsapp.png" style="position: absolute;
     font-size: 30px;
     float: right;
     right: 10px;
     top: 29px;
     padding-top: 0px;
     color: green;
     z-index: 999999;
     width: 40px;" (click)="openWhatsapp()"/>
  <ion-toolbar style="--background: #373588 !important;">
     <ion-title style="--background: #373588 !important; padding: 0px; margin: 0px 0px 10px 10px; color: #ffffff; height: 56px;"  >
        <p class="header-title header">{{currentUserDetails.POIInformation.Name | titlecase}}</p>
        <p class="header-subtitle header">{{currentUserDetails.PhoneNumber}}</p>
     </ion-title>
     <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin-left: 15px; height: 56px;">
        <ion-menu-button autoHide="true">
           <img (error)="userImage='./assets/images/human.png' " src="{{userImage}}" style="max-width: 60px; width: 60px; border-radius: 60px; height: 60px;" cache="false" />
        </ion-menu-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Heading Card  -->
  <div class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 45%, #f3f3f3 15%, #f3f3f3 100%);">
     <ion-card style="margin-top: 0px;border-radius: 10px; padding: 10px;" class="white " >
        <ion-grid>
           <ion-row>
              <div class="card-header">
                 Welcome to Lakshya <span class="card-header-gold"> GOLD</span>
              </div>
           </ion-row>
           <ion-row style="margin-top: 10px;">
              <ion-col>
                 <ion-row>
                    <ion-icon name="thumbs-up" color="warning" class="card-icon"></ion-icon>
                 </ion-row>
                 <ion-row >
                    <div  class="card-icon-text">
                       22K Puirity
                    </div>
                 </ion-row>
              </ion-col>
              <ion-col>
                 <ion-row>
                    <ion-icon name="pie" color="warning" class="card-icon"></ion-icon>
                 </ion-row>
                 <ion-row>
                    <div class="card-icon-text">
                       Start with Rs. 
                    </div>
                 </ion-row>
              </ion-col>
              <ion-col>
                 <ion-row>
                    <ion-icon name="lock" color="warning" class="card-icon"></ion-icon>
                 </ion-row>
                 <ion-row>
                    <div class="card-icon-text">Store secquerly</div>
                 </ion-row>
              </ion-col>
           </ion-row>
           <ion-row  style="margin-top: 10px;">
              <div class="card-secure-text">
                 Secured with DVARA SMART 
              </div>
           </ion-row>
           <ion-row   style="margin-top: 10px;">
              <div class="card-secure-text">
                 Gold balance in Locker <span style="    font-weight: 400;
                    margin-left: 10px;
                    color: #313131;
                    ">0.20 grms </span>
              </div>
           </ion-row>
           <ion-row   style="margin-top: 10px;">
              <div class="card-secure-text2">Price inductive. Final price will be based on gold price at the time of latest market closure </div>
           </ion-row>
        </ion-grid>
     </ion-card>
  </div>
  <div>
    <ion-grid class="details-options">
      <ion-row>
        <div class="buy-gold-div">
            <div style="margin: auto 15px;">
              <ion-icon name="thumbs-up" color="warning" style="margin: auto;" class="card-icon"></ion-icon>
            </div>
            <div style="    margin: auto 5px;
            font-size: 1.2rem;
            font-weight: 500;">
              Buy Gold
            </div>
        </div>
      </ion-row>
      <ion-row class="normal-gold-text">
        Todays gold price Rs. 123.45
      </ion-row>
      <ion-row class="normal-gold-text">
        <ion-col style="border-right: 1px solid #0c0979;">
          Sell Gold
        </ion-col>
        <ion-col style="border-right: 1px solid #0c0979;">
          Gold Coin
        </ion-col>
        <ion-col>
          Gold Loan
        </ion-col>
      </ion-row>
      <ion-row class="normal-gold-text">
        Set Gold Target
      </ion-row>
      <ion-row class="normal-gold-text">
        Set auto save
      </ion-row>
      <ion-row class="normal-gold-text">
        Get Suprise gift if you set goal and auto pay
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-card  style="background-color: #fff; margin-bottom: 25px;"  (click)="this.navCtrl.navigateRoot('homeTab')">
      <ion-grid style="padding: unset;">
        <ion-row>
          <ion-col size="5" style="padding: unset;">
            <img src="/assets/images/invest.jpg" style="height: 100px; width: 200px" />
          </ion-col>
          <ion-col style="margin: auto;
          padding: 5px;">
            <ion-row class="card-kyc-heading">
              COMPLETE KYC TO SAVE IN ICICI MF
            </ion-row>
            <ion-row class="card-kyc-sub-heading">
              Starting from Rs. 5
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>