.header-title{
    font-size: 13px;
    font-weight: bold;
}
.header-subtitle{
    font-size: 12px;
} 
.header{
    margin: unset;
    padding: unset;
    height: 25px;
    width: max-content;
    font-size: 13px;
    font-weight: bold;
}
.white {
    background-color: #fff;
}
.card-header {
    font-size: 1.2rem;
    font-weight: 500;
    color: #0b0879;
    text-align: center;
    margin: auto;
}
.card-header-gold {
    color: gold;

}

.card-icon-text {
    font-size: .7rem;
    color: #0400a7;
    text-align: center;
    margin: auto;
    font-weight: 500;
}

.card-icon {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 10px;

}

.card-secure-text {
    font-size: .9rem;
    font-weight: 500;
    color: #0400a7;
    text-align: center;
    margin: auto;
}

.card-secure-text2 {
    color: #827e7e;
    text-align: center;
    margin: auto;
    font-size: .7rem;
}


ion-grid.details-options {
    color: #0c0979;
    margin: auto;
    text-align: center;
}
.normal-gold-text {
    margin: 1rem auto;
    text-align: center;
    justify-content: center;
}

.card-kyc-sub-heading {
    font-size: .8rem;
    font-weight: 500;
    margin-top: 5px;
    color: #a2a1a1;
}
.card-kyc-heading {
    font-size: 1rem;
    font-weight: 500;
    color: #0c0979;
}

.buy-gold-div {
    width: 50%;
    display: flex;
    border: 1px solid #0a0286;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #9d9df9;
    margin: auto;
    height: 50px;
    background: #97d4da36;
}