<ion-tabs>
    <ion-tab-bar slot="bottom" style="box-shadow: 1px -3px 12px grey;">
        <ion-tab-button tab="home" (click)="tapped()">
            <ion-icon name="home"></ion-icon>
            <ion-label>{{'tabs.home'| translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="gold" (click)="tapped()">
            <ion-icon name="pie"></ion-icon>
            <ion-label>Gold</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="passbook" (click)="tapped()">
            <ion-icon name="md-book"></ion-icon>
            <ion-label>{{'tabs.passbook'| translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="video">
            <ion-icon name="md-videocam"></ion-icon>
            <ion-label>{{'tabs.video'| translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="support" (click)="tapped()">
            <ion-icon name="md-headset"></ion-icon>
            <ion-label>{{'tabs.support'| translate}}</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="soa" (click)="tapped()">
            <ion-icon ios="ios-document" md="md-document"></ion-icon>
            <ion-label>{{'tabs.soa'| translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>