<ion-header>
  <ion-title>
     <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
     <span>Set Goal</span>
  </ion-title>
</ion-header>
<ion-content class="ion-padding grey-bg-page">
    <div class="videoframe">
        <iframe [src]="getSafeURL(vidoLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="demo-button" [ngClass] ="{'active' : language =='ka' }" (click)="checkVideo('ka')"  expand="block">ಕನ್ನಡ</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="demo-button" [ngClass] ="{'active' : language =='en' }" (click)="checkVideo('en')" expand="block">English</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="demo-button" [ngClass] ="{'active' : language =='hn' }" (click)="checkVideo('hn')" expand="block">हिंदी</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="summary-card" style="padding: 0px 16px;">
        <h2 class="black-text m-b-0">Remember</h2>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>Set goal to remain focused</p>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>Save daily to reach goal</p>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>No penalty if you miss</p>
    </div>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
  <ion-row>
     <ion-col>
      <ion-button expand="block" (click)="setGoal()" class="demo-button-violet">
        Set Goal</ion-button>
     </ion-col>
  </ion-row>
</ion-footer>