.link-padding{
    padding-top:9px;
}
    
ion-header{
    background: #373588;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    --background: none;
}
ion-header h2{ font-size: 20px;}