<ion-header>
  <ion-toolbar>
    <ion-title>esignModal</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->
  <!-- <iframe src=“http://gagri.net></iframe> -->
  <iframe src="https://esign-preproduction.signzy.tech/nsdl-esign-customer2/5b2e4ddd84b5cd6c465019ed/token/U04vjLuvvpQ1dOTNIWpwX88ZRU00QlLwEmX6NLEpFIEttR4bR2EWOh7PWEJ11604696466208" style= "border:none;height:300px;width:100% " ></iframe>
<!-- </ion-content> -->
