<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <ion-buttons slot="start" class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header m-t-0 m-b-0">{{'PAN&POAcompare.Pancompareheader'|translate}}</h2>
        </ion-buttons>
    </div>
    <ion-grid class="padding-0">
        <ion-row class="ion-margin-top">
            <ion-col class="ion-text-center m-t-0">
                <p class="grey-text m-t-0 m-b-0">{{resMessage}}</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <table style="width:100%">
                    <tr>
                        <th>{{'PAN&POAcompare.particulartxt'|translate}}</th>
                        <th>{{'CommonUtility.nmtxt'|translate}}</th>
                        <th>{{'CommonUtility.dobtxt'|translate}}</th>
                    </tr>
                    <tr>
                        <td>POA</td>
                        <td>{{informationDetails.NamePOA | titlecase}}</td>
                        <td>{{informationDetails.DOBPOA | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td>PAN</td>
                        <td>{{informationDetails.NamePOI | titlecase}}</td>
                        <td>{{informationDetails.DOBPOI | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </table>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="grey-text m-b-0">{{'PAN&POAcompare.pleasecomparetxt'|translate}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content> 
<ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-button expand="block" (click)="this.router.navigateByUrl('uploadsign')" class="demo-button-violet">
        Continue</ion-button>

    <ion-button expand="block" (click)="this.router.navigateByUrl('uploadpoa');" class="demo-button info-misimatch-button-padding">
        Change Now</ion-button>

</ion-footer>