<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <ion-buttons slot="start" class="backbutton-black" style="padding-top: 9px;">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header"> {{'Reg2_simSelection.head1_reg' | translate}}</h2>
        </ion-buttons>
        <p class="grey-text"> {{'Reg2_simSelection.subhead2_txt'| translate}}<br> {{'Reg2_simSelection.subhead3_txt'| translate}}</p>
    </div>
    <ion-grid class="grid-container">
        <ion-row>
            <ion-col (click)="signin(true , sim1no)">
                <div class="card ion-text-center language-signup--card" [ngClass]="(selectednumber==sim1no && selectednumber !='')?'simactive':''">
                    <i class="icon-tick-mark1x selectedtick" *ngIf="selectednumber !='' && selectednumber ===sim1no"> </i>
                    <i class="icon-sim-card1x"> </i>
                    <h6>
                        {{'Reg2_simSelection.sim1'| translate}}
                    </h6>
                    <p class="m-t-0">
                        {{ sim1no }}
                    </p>
                </div>
            </ion-col>
            <ion-col (click)="signin(true ,sim2no)" [attr.disabled]="!sim1no">
                <div class="card ion-text-center language-signup--card" [ngClass]="(selectednumber===sim2no && selectednumber !='')?'simactive':''">
                    <i class="icon-tick-mark1x selectedtick" *ngIf="selectednumber !='' && selectednumber === sim2no"> </i>
                    <i class="icon-sim-card1x"> </i>
                    <h6 class="m-b-0">
                        {{'Reg2_simSelection.sim2'| translate}}
                    </h6>
                    <p class="m-t-0">
                        {{ sim2no }}
                    </p>
                </div>
            </ion-col>
        </ion-row>
        <h6 class="link m-t-0" (click)="signin(false , '')"> {{'Reg2_simSelection.hyper_regdiffnumber'| translate}}</h6>
    </ion-grid>
</ion-content>
<ion-footer class="ion-text-center footer-padding grey-bg-page">
    <p (click)="this.router.navigateByUrl('otplogin');">{{'Reg2_simSelection.alreadyregister'| translate}}</p>
    <ion-button class="faded-button register-signin" (click)="moveLogin();">{{'Reg2_simSelection.signin_btn'| translate}}</ion-button>
</ion-footer>