<ion-content class="violet-bg-page">
    <div class="violet-bg-page top-box">
        <div class="ion-text-center goal-padding">
            <h2 class="top-box-header m-b-0">Update your goal</h2>
        </div>
    </div>
    <div class="main-card goal-settings-card">
        <div class="white-bg">
            <p class="m-t-0 m-b-0 footer-text">
                Update your goal
            </p>
            <p class="m-t-0 m-b-0 grey-text">
                No penalty if you do not save daily
            </p>
        </div>
        <!-- step="rangesteps" -->
        <div class="setting-slider">
            <p class="green-text m-b-0"> Daily savings Rs 10</p>
            <p class="grey-text m-t-0 m-b-0"> Rs {{sliderrange}}</p>
            <ion-range [min]="minamount" [max]="maxamount" color="secondary" class="range-bar padding-0" [(ngModel)]="sliderrange">
            </ion-range>
            <ion-grid class="m-t-0 m-b-0 padding-0">
                <ion-row class="m-t-0 m-b-0">
                    <ion-col class="m-t-0 m-b-0">
                        <div class="ion-text-start">
                            <ion-label slot="start" class="grey-text">Rs 1000</ion-label> <br>
                            <ion-icon name="remove-circle-outline" class="range-icon" (click)="decreaseAmount()"></ion-icon>
                        </div>
                    </ion-col>
                    <ion-col class="m-t-0 m-b-0">
                        <div class="ion-text-end">
                            <ion-label slot="end" class="grey-text">Rs 1,00,000</ion-label> <br>
                            <ion-icon name="add-circle-outline" class="range-icon" (click)="increaseAmount()"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="grey-bg-page bottom-box dashboard-bottom-box">
        <div class="main-grey-card  dashboard-goalsettings-card-one">
            <div class="main-card goal-settings-card">
                <div class="white-bg">
                    <p class="m-t-0 m-b-0 footer-text">
                        By when do you want ?
                    </p>
                    <p class="m-t-0 m-b-0 grey-text">
                        No Penalty if you take more time
                    </p>
                </div>
                <div class="setting-slider">
                    <p class="grey-text m-t-0 m-b-0"> {{slidemonths}} months</p>
                    <ion-range [min]="mintime" [max]="maxtime" color="secondary" class="range-bar padding-0" [(ngModel)]="slidemonths">
                    </ion-range>
                    <ion-grid class="m-t-0 m-b-0 padding-0">
                        <ion-row class="m-t-0 m-b-0">
                            <ion-col class="m-t-0 m-b-0">
                                <div class="ion-text-start">
                                    <ion-label slot="start" class="grey-text">1 month</ion-label> <br>
                                    <ion-icon name="remove-circle-outline" class="range-icon" (click)="decreaseTime()"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col class="m-t-0 m-b-0">
                                <div class="ion-text-end">
                                    <ion-label slot="end" class="grey-text">12 months</ion-label> <br>
                                    <ion-icon name="add-circle-outline" class="range-icon" (click)="increaseTime()"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
        <div class="main-grey-card  dashboard-goalsettings-card-two">
            <div class="main-card goal-settings-card">
                <div class="white-bg">
                    <p class="m-t-0 m-b-0 footer-text">
                        This savings is for
                    </p>
                    <p class="m-t-0 m-b-0 grey-text">
                        No worries, if you don't have a purpose
                    </p>
                    <div class="scrollmenu m-t-0">

                        <i class="icon-school-fees1x" (click)="goalType = 0" [ngClass]="{'active_type': goalType == 0}"> </i>
                        <i class="icon-Emergency1x" (click)="goalType = 1" [ngClass]="{'active_type': goalType == 1 }"> </i>
                        <i class="icon-auto-repair1x" (click)="goalType = 2" [ngClass]="{'active_type': goalType == 2 }"> </i>
                        <i class="icon-buy-auto1x" (click)="goalType = 3" [ngClass]="{'active_type': goalType == 3 }"> </i>
                        <i class="icon-no-purpose1x" (click)="goalType = 4" [ngClass]="{'active_type': goalType == 4 }"> </i>
                        <i class="icon-add1x"> </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-button expand="block" (click)="updateGoal()" class="demo-button-violet">
        Update</ion-button>
</ion-footer>