.goal-padding {
    padding: 28px 16px 24px 16px;
}

.verify-button-padding {
    margin: 16px 0px 20px 0px;
}

.goal-settings-card {
    height: 46%;
    padding: 0px;
    .white-bg {
        height: 85px;
        background: #FFFFFF;
        text-align: center;
        border-radius: 12px 12px 0px 0px;
        .scrollmenu {
            background-color: #FFFFFF;
            overflow: auto;
            padding: 16px;
            white-space: nowrap;
            i {
                display: inline-block;
                font-size: 60px;
                color: #686980;
                border: 1px solid #686980;
                border-radius: 12px;
                margin: 4px;
                text-align: center;
                padding: 28px;
                text-decoration: none;
            }
            // i:hover {
            //   color:#3F3C93;
            //   border: 3px solid #3F3C93;
            // }
        }
        .footer-text {
            font-size: 16px;
            font-weight: 500;
            color: #043267;
            padding: 24px 24px 0px 24px;
        }
        .grey-text {
            color: #77869E;
            font-size: 14px;
            line-height: 24px;
            padding: 0px;
            text-align: center;
        }
    }
    .setting-slider {
        text-align: center;
        border-top: 1px solid rgba(151, 151, 151, 0.5);
        padding: 0px 16px;
        background: #FFFFFF;
        .green-text {
            color: #24996A;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            padding: 0px 24px;
        }
        .range-bar {
            --bar-height: 15px;
            --bar-border-radius: 10px;
            --bar-background: #DFE7F5;
            --knob-background: linear-gradient(315deg, #43E695 0%, #3BB2B8 100%);
            --bar-background-active: linear-gradient(315deg, #43E695 0%, #3BB2B8 100%);
        }
    }
    //div {}
}

.range-icon {
    font-size: 28px;
    color: #77869E;
}

.dashboard-goalsettings-card {
    border: none;
    margin: 44% 16px 32px 16px !important;
}

.dashboard-goalsettings-card-one {
    border: none;
    width: 100%;
    margin: 73% 0px 32px 0px !important;
    background: #FFFFFF;
}

.dashboard-goalsettings-card-two {
    border: none;
    width: 100%;
    margin: 137% 0px 32px 0px !important;
    background: #FFFFFF;
}

.dashboard-bottom-box {
    height: 113%;
}

.dashboard-child-card {
    background: #FFFFFF;
    border-radius: 12px;
}

.active_type {
    color: #3F3C93 !important;
    border: 3px solid #3F3C93 !important;
}