<ion-header class="ion-padding grey-bg-page"> 
  </ion-header>
<ion-content class="ion-padding grey-bg-page">
    <div  class="ion-text-center header-text common-header-padding">
        <h2 class="page-header m-b-0"> Know how to do KYC</h2>    
      </div>
<div class="videoframe">
<iframe  src="https://www.youtube.com/embed/AyS3uw7HZOM" frameborder="0"
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <ion-grid>
    <ion-row>
        <ion-col >
            <ion-button class="demo-button" expand="block">ಕನ್ನಡ</ion-button>
        </ion-col>
        <ion-col >
            <ion-button class="demo-button active" expand="block">English</ion-button>
        </ion-col>
        <ion-col >
            <ion-button class="demo-button" expand="block">हिंदी</ion-button>
        </ion-col>
      </ion-row>
 </ion-grid>
</div>
</ion-content>
