
  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            QRScanner
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button><ion-icon name="md-options"></ion-icon></ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button (click)="closeModal()"><ion-icon name="exit"></ion-icon> </ion-fab-button>
            <ion-fab-button (click)="toggleFlashLight()"><ion-icon name="flash"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      
        <div class="is-bottom is-center is-full background is-bottom-tab is-flex">
          <ion-spinner class="margin-right"></ion-spinner>
          <span>Scanning...</span>
        </div>

        <p>text is {{msg}}</p>
      </ion-content>
      