
<ion-header>

    <ion-title>
        <ion-icon name="md-arrow-round-back" (click)="navCtrl.back()" style="float: left;"></ion-icon>
        <p text-wrap class="page-header m-b-0 lang-header ion-header " style="padding: unset; margin: 0px;"> Select Language</p>
        <p text-wrap class="page-header m-b-0 lang-header ion-header " style="padding: unset; margin: 0px;"> /ಭಾಷೆಯನ್ನು ಆಯ್ಕೆಮಾಡಿ</p>
    </ion-title>
</ion-header>


<ion-content class="ion-padding grey-bg-page">
    <!-- <div class="ion-text-center header-text" text-wrap>
        <ion-buttons slot="start" class="backbutton-black" >
            <ion-back-button defaultHref=""></ion-back-button>
            <p text-wrap class="page-header m-b-0 lang-header" style="padding: unset;"> Select Language</p>
            <p text-wrap class="page-header m-b-0 lang-header" style="padding: unset;"> /ಭಾಷೆಯನ್ನು ಆಯ್ಕೆ ಮಾಡಿ</p>
        </ion-buttons>
    </div> -->



    <ion-grid class="grid-lang-container">
        <ion-row>
            <ion-col *ngFor="let lng of languages" (click)="select(lng.value)" detail="false">
                <div class="card ion-text-center language-signup--card" [ngClass]="selectedlng===lng.value?'active':''">
                    <i class="icon-tick-mark1x selectedtick" *ngIf="selectedlng===lng.value"> </i>
                    <h4 class="m-b-0">
                        {{ lng.val }}
                    </h4>
                    <h5 class="m-t-0">
                        {{ lng.text }}
                    </h5>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-text-center grey-bg-page ion-padding">
    <!-- <p class="footer-text">Continue</p> -->
    <ion-button expand="block" (click)="selectLanguage()" class="demo-button-violet">
        Continue</ion-button>
</ion-footer>