.grid-lang-container{
    padding-top:32px;
}
.lang-header{
  padding: 0px 20px;
  width:100%;
}

ion-header {
  background: #f3f3f3;
 // height: 100%;
  color: #043267;
  font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

ion-header ion-icon{
  position: absolute;
    float: left;
    left: 15px;
    top: 21px;
}

.page-header {
  color: #043267;
  font-size: 20px;
  font-weight: 500;
  
}