<ion-header style="background: #373588 !important;">
  <img src="./assets/images/whatsapp.png" style="position: absolute;
  font-size: 30px;
  float: right;
  right: 10px;
  top: 29px;
  padding-top: 0px;
  color: green;
  z-index: 999999;
  width: 40px;" (click)="openWhatsapp()"/>
  <ion-toolbar style="--background: #373588 !important;">
    <ion-title style="--background: #373588 !important; padding: 0px; margin: 0px 0px 10px 10px; color: #ffffff; height: 56px;"  >
     <p class="header-title header">{{currentUserDetails.POIInformation.Name | titlecase}}</p>
     <p class="header-subtitle header">{{currentUserDetails.PhoneNumber}}</p>  
     
  </ion-title>
  
    <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin-left: 15px; height: 56px;">
      <ion-menu-button autoHide="true">
        <img (error)="userImage='./assets/images/human.png' " src="{{userImage}}" style="max-width: 60px; width: 60px; border-radius: 60px; height: 60px;" cache="false" />
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>

  <!-- Heading Card  -->
  <div class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 45%, #f3f3f3 15%, #f3f3f3 100%);">
    <ion-card style="margin-top: 0px;border-radius: 10px; padding: 10px;" class="white " >
      <ion-grid>
        <ion-row>
          <div class="card-header">
             Welcome to Lakshya <span class="card-header-gold"> GOLD</span>
          </div>
         
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col>
            <ion-row>
                          <ion-icon name="thumbs-up" color="warning" class="card-icon"></ion-icon>
            </ion-row>
            <ion-row >
              <div  class="card-icon-text">
              22K Puirity
              </div>
            </ion-row>
            
          </ion-col>
  
          <ion-col>
            <ion-row>
                          <ion-icon name="pie" color="warning" class="card-icon"></ion-icon>
            </ion-row>
            <ion-row>
              <div class="card-icon-text">
              Start with Rs. 
              </div>
            </ion-row>
            
          </ion-col>
  
          <ion-col>
            <ion-row>
                          <ion-icon name="lock" color="warning" class="card-icon"></ion-icon>
            </ion-row>
            <ion-row>
              <div class="card-icon-text">Store secquerly</div>
            </ion-row>
            
          </ion-col>
  
  
        </ion-row>
  
        <ion-row  style="margin-top: 10px;">
         <div class="card-secure-text">
           Secured with DVARA SMART </div>
        </ion-row>
        <ion-row   style="margin-top: 10px;">
          <div class="card-secure-text">
            Gold balance in Locker <span style="    font-weight: 400;
            margin-left: 10px;
            color: #313131;
        ">0.20 grms </span></div>
        </ion-row>
  
        <ion-row   style="margin-top: 10px;">
          <div class="card-secure-text2">Price inductive. Final price will be based on gold price at the time of latest market closure </div>
        </ion-row>
  
      </ion-grid>
  
  </ion-card>
  </div>
  
</ion-content>
