<!-- <app-header headers="{{'kycStatus.status'|translate}}"></app-header> -->

<!-- <app-header headers="{{'tabs.home'| translate}}"></app-header> -->
<ion-header style="background: #373588 !important;">
    <ion-toolbar style="background: #373588 !important;">
      <ion-title style="background: #373588 !important; padding: 0px; margin: 0px; color: #ffffff; height: 56px;padding-right: 50px;"  >{{'kycStatus.status'|translate}}</ion-title>
      <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin: 0px; height: 56px;">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-grid style="margin-top: 20px">
<ion-row style="margin-bottom: 20px ;">
    <ion-col style="text-align: center;color: #436BF7">
         Few steps away to start your savings
    </ion-col>
  
</ion-row>
        <ion-row>
            <ion-col size="1">
                <div class="round_circle active"></div>
                <div class="progress_bar active"></div>
            </ion-col>
            <ion-col size="10" style="margin-left: 10px;">
                <ion-row style="background: #fff;padding: 10px 0px 0px 5px; border-radius: 10px;height: 55px; box-shadow: 1px 1px 2px 0px #797373;">
                    <ion-col>
                        <div style="color: #043267">{{'kycStatus.PAN'| translate}}</div>
                    </ion-col>
                    <ion-col size="3" *ngIf="userCurrentStatus >= 3" (click)="goToNextPage(3)">
                        <div style="color: #436BF7">{{'kycStatus.Edit'|translate}}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="1">
                <div class="round_circle" [ngClass]="{'active': userCurrentStatus >=4}"></div>
                <div class="progress_bar1" [ngClass]="{'active': userCurrentStatus >=4}"></div>
            </ion-col>
            <ion-col size="10" style="margin-left: 10px;">
                <ion-row style="background: #fff;padding: 10px 0px 0px 5px; border-radius: 10px;height: 55px; box-shadow: 1px 1px 2px 0px #797373;">
                    <ion-col>
                        <div style="color: #043267;">{{'kycStatus.POA'|translate}}</div>
                    </ion-col>
                    <ion-col size="3" (click)="goToNextPage(4)" *ngIf="userCurrentStatus >= 4">
                        <div style="color: #436BF7">{{'kycStatus.Edit'|translate}}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1">
                <div class="round_circle" [ngClass]="{'active': userCurrentStatus >=5}"></div>
                <div class="progress_bar1" [ngClass]="{'active': userCurrentStatus >=5}"></div>
            </ion-col>
            <ion-col size="10" style="margin-left: 10px;">
                <ion-row style="background: #fff;padding: 10px 0px 0px 5px; border-radius: 10px;height: 55px; box-shadow: 1px 1px 2px 0px #797373;">
                    <ion-col>
                        <div style="color: #043267;">{{'kycStatus.Signature'|translate}}</div>
                    </ion-col>
                    <ion-col size="3" (click)="goToNextPage(5)" *ngIf="userCurrentStatus >= 5">
                        <div style="color: #436BF7">{{'kycStatus.Edit'|translate}}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1">
                <div class="round_circle" [ngClass]="{'active': userCurrentStatus >=6}"></div>
                <div class="progress_bar1" [ngClass]="{'active': userCurrentStatus >=6}"></div>
            </ion-col>
            <ion-col size="10" style="margin-left: 10px;">
                <ion-row style="background: #fff;padding: 10px 0px 0px 5px; border-radius: 10px;height: 55px; box-shadow: 1px 1px 2px 0px #797373;">
                    <ion-col>
                        <div style="color: #043267;">{{'kycStatus.Video'|translate}}</div>
                    </ion-col>
                    <ion-col size="3" (click)="goToNextPage(6)" *ngIf="userCurrentStatus >= 6">
                        <div style="color: #436BF7">{{'kycStatus.Edit'|translate}}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row> 
            <ion-col size="1">
                <div class="round_circle" [ngClass]="{'active':  userCurrentStatus >=7}"></div>
            </ion-col>
            <ion-col size="10" style="margin-left: 10px;">
                <ion-row style="background: #fff;padding: 10px 0px 0px 5px; border-radius: 10px;height: 55px; box-shadow: 1px 1px 2px 0px #797373;">
                    <ion-col>
                        <div style="color: #043267;">E Sign</div>
                    </ion-col>
                    <ion-col size="3" (click)="goToNextPage(7)" *ngIf="userCurrentStatus >=7">
                        <div style="color: #436BF7">{{'kycStatus.Edit'|translate}}</div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
<ion-footer class="ion-padding grey-bg-page">
        <ion-row (click)="continue()">
            <ion-col>
                <ion-button expand="block" class="demo-button-violet">
                    {{'kycStatus.Continue'|translate}}</ion-button>
            </ion-col>
        </ion-row>
    </ion-footer>