.round_circle {
    height: 15px;
    width: 15px;
    background: #B3C1D1;
    border-radius: 50%;
    position: absolute;
    margin: 15px;
    margin-bottom: auto;
}

.active {
    background: #15e083 !important;
}

.progress_bar {
    height: 70px;
    width: 2px;
    position: absolute;
    margin: 30px 1px 0px 21px;
    background: #B3C1D1;
}

.progress_bar1 {
    height: 70px;
    width: 2px;
    position: absolute;
    margin: 30px 1px 0px 21px;
    background: #B3C1D1;
}
ion-row{
    margin-bottom: 10px;
}