<ion-header class="ion-no-padding">
    <ion-buttons slot="start" class="backbutton-white">
        <ion-back-button defaultHref=""></ion-back-button>
        <ion-title>Upload POA </ion-title>
    </ion-buttons>
    
  </ion-header>



<ion-content class="first">
    <ion-card class="first_part slides-ios white-coler ion-padding"> 



    <div class="ion-text-center pan-card-border">
        <p class="grey-text m-t-0 m-b-0 pan-text-heading">Upload {{docs[documentType]}}</p>

        <ion-grid>
            <ion-row>
                <ion-col style=" margin-right: 10px;">
                    <p class="grey-text m-t-0 m-b-0 pan-text-heading">Front side </p>
                    <img [src]="showFrontImage" class="pan-icon" *ngIf="showFrontImage" style="height: 60%;" />

                    <img src="/assets/images/aadhaarcard.png" class="pan-icon" style="height: 60%;" *ngIf="!showFrontImage && documentType=='1'" />
                    <img src="/assets/images/driving-license.png" class="pan-icon" style="height: 60%;" *ngIf="!showFrontImage && documentType=='2'" />
                    <img src="/assets/images/voteridF.PNG" class="pan-icon" style="height: 60%;" *ngIf="!showFrontImage && documentType=='3'" />
                    <img src="/assets/images/passport.png" class="pan-icon" style="height: 60%;" *ngIf="!showFrontImage && documentType=='4'" />
                </ion-col>
                <ion-col>
                    <p class="grey-text m-t-0 m-b-0 pan-text-heading">Back side </p>
                    <img [src]="showBackImage" class="pan-icon" *ngIf="showBackImage" style="height: 60%;" />
                    <img src="/assets/images/aadhaarB.PNG" class="pan-icon" style="height: 60%;" *ngIf="!showBackImage && documentType=='1'" />
                    <img src="/assets/images/driving-license.png" class="pan-icon" style="height: 60%;" *ngIf="!showBackImage && documentType=='2'" />
                    <img src="/assets/images/voteridB.PNG" class="pan-icon" style="height: 60%;" *ngIf="!showBackImage && documentType=='3'" />
                    <img src="/assets/images/passport.png" class="pan-icon" style="height: 60%;" *ngIf="!showBackImage && documentType=='4'" />
                </ion-col>
            </ion-row>
        </ion-grid>



    </div>










  
   
        
        <ion-row [attr.disabled]="showBackImage">
            <ion-col class="m-t-0 m-b-0 p-t-0 p-b-0">
                <ion-button expand="block" (click)="getPic(0)" class="faded-button verify-button-padding">
                    <ion-icon name="image" class="ion-padding-horizontal"></ion-icon>
                    Upload</ion-button>
            </ion-col>
            <ion-col class="m-t-0 m-b-0 p-t-0 p-b-0">
                <ion-button expand="block" (click)="getPic(1)" class="faded-button verify-button-padding">
                    <ion-icon name="camera" class="ion-padding-horizontal"></ion-icon> 
                     Take Photo</ion-button>
            </ion-col>
        </ion-row>
        <div class="ion-text-center">
            <p class="grey-text m-t-0 m-b-0 pan-text-heading">Make sure the picture is clear</p>
        </div>

</ion-card>





<ion-card class="ion-margin-vertical ion-padding ion-doted-box">
    <div class=" verify-bottom-box">

<ion-row><ion-col size="4">  <img src="/assets/images/video.jpg" class="" />
</ion-col>
    <ion-col  size="8"> 
    <div class="  ion-text-left ">
    <p class="grey-text m-b-0"> <i class="icon-help1x help-icon"></i>Watch this video</p>
    <p class="ion-text-left uplode-photo m-t-0 kyc-heading">How to upload Proof of Address?</p>
</div></ion-col></ion-row>


       
    </div>
</ion-card>
 








</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page" style="z-index: 99999;">
    <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="submitpoaform('front')" class="demo-button-violet" *ngIf="side === 'front'" [attr.disabled]="!showFrontImage">
                Submit front-side of {{docs[documentType]}}</ion-button>
            <ion-button expand="block" (click)="submitpoaform('back')" class="demo-button-violet" *ngIf="side === 'back'" [attr.disabled]="!showBackImage">
                Submit back-side of {{docs[documentType]}}</ion-button>
        </ion-col>
    </ion-row>

</ion-footer>