<ion-header>
    <ion-title>
       <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
       <span>{{'withdraw.withdrawheader'|translate }}</span>
    </ion-title>
 </ion-header>
<ion-content>
    <ion-card class="b-card">
        <ion-card-header style="border-bottom: 1px solid #9797978c; padding: unset;">
            <ion-grid class="ion-padding-vertical">
                <ion-row>
                    <ion-col size="2">
                        <ion-icon name="arrow-up" class="icon-image"></ion-icon>
                    </ion-col>
                    <ion-col  size="10">
                        <h3 class="c-saving ion-no-margin" style="padding-left: 25px;font-size: 14px;margin-top: 15px;">{{'withdraw.txtavalabewithdraw'|translate}} Rs. {{savingsAmount | number:'1.0-0'}}</h3>
                       
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-content style="padding-right: 0px; padding-bottom: 70px;">      

            <div style="margin-top: 50px;">
                <ion-list>
                    <ion-radio-group [(ngModel)]="withdrawType" name="withdrawType" >
                      <ion-list-header>
                        <ion-label>{{'wdraw.pselecttypetxt'|translate}}.</ion-label>
                      </ion-list-header>
                  
                      <ion-item (ionFocus)="checkWithdrawType('instant')">
                        <ion-label>{{'wdraw.inradiotxt'|translate}}</ion-label>
                        <ion-radio slot="start" value="instant"></ion-radio>
                      </ion-item>
                  
                      <ion-item (ionFocus)="checkWithdrawType('complete')">
                        <ion-label>{{'wdraw.compradiotxt'|translate}}</ion-label>
                        <ion-radio slot="start" value="complete"></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                  </ion-list>
            </div> 
            <!-- Instant withdrawl  -->
            <div *ngIf= "withdrawType == 'instant' ">
                <ion-item class="ion-no-padding" lines="none">
               
                    <ion-label position="stacked" class="grey-text lab-font">{{'withdraw.amttxtbox'|translate}}</ion-label>
                    <ion-input pattern="[0-9]*" (keypress)="checkMaxamount($event,$event.target.value)" [attr.disabled]="checked" [(ngModel)]="withdrawDetails.amount" name="amount" type="tel" placeholder="{{'withdraw.amttxtbox'|translate}}" class="input placeholder ion-text-left" required> </ion-input>
                </ion-item>
    
                <!-- Decimal currencies is not accepted -->
    
                <ion-item class="ion-no-padding" lines="none">
                    <!-- <ion-checkbox class="ion-no-padding checkbox" color="dark" slot="start" [(ngModel)]="checked" name="total" (ionChange)="checkTotal($event)"></ion-checkbox> -->
                    <!-- <span class="savings">  {{'withdraw.withcompsavetxt'|translate}}</span> -->
                    <span class="savings">{{'wdraw.maxwithdrawtxt'|translate}} Rs. {{maxWithdrawAmount}}</span>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none" >
                    <ion-label position="stacked" class="grey-text lab-font">{{'withdraw.withReastxt'|translate}}</ion-label>
                    <ion-select interface="action-sheet" class="ion-text-left placeholder" placeholder="Select Reason" [(ngModel)]="withdrawDetails.rason" name="relation" required>
                        <ion-select-option value = ''>No Reason</ion-select-option>
                        <ion-select-option value="{{reason | titlecase}}" *ngFor="let reason of withdrawReasons">{{reason | titlecase}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div> 
            <!-- complete withdrawl  -->
            <div *ngIf= "withdrawType == 'complete' ">
                <ion-item class="ion-no-padding" lines="none">
               
                    <span>{{'wdraw.mna2daystxt'|translate}} Rs. {{savingsAmount | number:'1.0-0' }}</span>
                   
                </ion-item>
                <ion-item class="ion-no-padding" lines="none" >
                    <ion-label position="stacked" class="grey-text lab-font">{{'withdraw.withReastxt'|translate}}</ion-label>
                    <ion-select interface="action-sheet" class="ion-text-left placeholder" placeholder="Select Reason" [(ngModel)]="withdrawDetails.rason" name="relation" required>
                        <ion-select-option value = ''>No Reason</ion-select-option>
                        <ion-select-option value="{{reason | titlecase}}" *ngFor="let reason of withdrawReasons">{{reason | titlecase}}</ion-select-option>
                    </ion-select>
                </ion-item>
                
                
                
            </div>
      
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-grid>
        <ion-row [attr.disabled]="!withdrawDetails.amount || (withdrawDetails.amount && withdrawDetails.amount < 1)">
          <ion-col >
            <ion-button expand="block" (click)="withdraw()" class="demo-button-violet" >
                {{'withdraw.withbtn'|translate}}</ion-button>
          </ion-col>
          <!-- <ion-col size="6">
            <ion-button  (click)="withdraw()" class="demo-button-violet">
                h{{'withdraw.withbtn'|translate}}</ion-button>
          </ion-col> -->
          
        </ion-row>
    </ion-grid>
    <!-- <ion-button expand="block" (click)="withdraw()" class="demo-button-violet withwdraw-btn" [attr.disabled]="!withdrawDetails.amount || (withdrawDetails.amount && withdrawDetails.amount < 1)">
        {{'withdraw.withbtn'|translate}}</ion-button>
    <ion-button expand="block" (click)="withdraw()" class="demo-button-violet withwdraw-btn" [attr.disabled]="!withdrawDetails.amount || (withdrawDetails.amount && withdrawDetails.amount < 1)">
        {{'withdraw.withbtn'|translate}}</ion-button> -->
</ion-footer>