.icon-image {
    color: #24996A;
    font-size: 40px;
    background-color: rgba(36,153,106,0.09);
    border-radius: 10px;
    margin: 0px 10px 0px 6px;
    font-weight: normal;
    padding: 10px;
}
.placeholder{  color: #043267; font-size: 14px; font-weight: 500;  padding: 16px!important; 
    height: 52px;border: 1px solid #DFE7F5;    border-radius: 12px; background-color: #F9F8FA;	box-shadow: 0 0 20px 0 rgba(0,0,0,0.08); margin-top:12px;}
.checkbox{    margin-top: 12px;
    margin-right: 10px}
    .savings{font-size: 14px;	line-height: 22px; color: #77869E;}
.lab-font{ color: #77869E; line-height: 17px;}
.b-card{ background: #ffff; border-radius: 8px;}
.c-saving{	color: #2C3555;		font-size: 16px; font-weight: 500;	font-weight: 500;	line-height: 25px;}
.withwdraw-btn  {
    width: 50%;
}
.alert-message.sc-ion-alert-md {
    max-height: 240px;
    font-size: 17px;
}
.blue-text2 {
    color: #4b5056;
    font-size: 15px;
    /* line-height: 8px; */
    padding: unset;
    margin: 10px;
    text-align: left !important;
    font-weight: 400;
}