ion-card-header{
    text-align: center;
    margin: auto;
    margin-top: inherit;
}

ion-header {
    background: #373588;
    // height: 100%;
    color: #ffff;
}

.card-1{
    background:#E4F7FB;
}
.card-text-1{
    color: #3a8085;
}


.card-2{
    background: #FCE8E7;
}

.card-text-2{
    color: #C65753;
}