<ion-header>
  <ion-title>
     <ion-icon name="md-arrow-round-back" (click)="navCtrl.back()" style="float: left;padding-top: 10px;"></ion-icon>
     <span style="float: left; margin-left: 10px;">{{'language.header' | translate}}</span>
  </ion-title>
  <img src="./assets/images/whatsapp.png" style="position: absolute;
   font-size: 30px;
   float: right;
   right: 10px;
   top: 15px;
   padding-top: 0px;
   color: green;
   z-index: 999999;
   width: 40px;" (click)="openWhatsapp()"/>
</ion-header>


<ion-content>
 

<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let language of languageList; let i=index" style="margin: unset; padding: unset;" (click)="confirmLanguage(language)">
      <ion-card style="height: 100px;" class="card-{{i+1}}">
        <ion-card-header>
          <ion-card-title class="card-text-{{i+1}}">{{language.language}}</ion-card-title>
          <ion-card-subtitle class="card-text-{{i+1}}"> {{language.english}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>


  
</ion-content>
