<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <ion-buttons slot="start" class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header"> {{'SetPIN.hrad_setpin'| translate}}</h2>
        </ion-buttons>
        <p class="grey-text pin-text-padding">{{'SetPIN.subhead_pinsecure_txt'| translate}}</p>
        <!--<p class="grey-text pin-text-padding">{{'SetPIN.pininfo_message'| translate}}</p> -->
    </div>
    <form [formGroup]="pinGroup">
        <ion-row>

            <ion-input clearInput type="{{showInputType}}" class="input" clear-input="true" formControlName="NewPin" style="display:none;"></ion-input>
            <ion-input clearInput type="{{showInputType}}" class="input" clear-input="true" style="display:none;" formControlName="ConfirmPin"></ion-input>
        </ion-row>
    </form>
    <ion-row class="m-t-0 m-b-0 no-padding">
        <ion-col>
            <h2 class="pin-page-header m-b-0 m-t-0 pin-head-padding"> {{'SetPIN.enterpin_txt'| translate}}</h2>
        </ion-col>
        <ion-col (click)="toggleView()">
            <h2 class="link m-b-0 m-t-0 pin-head-padding-right">{{showInputText}}</h2>
        </ion-col>
    </ion-row>
    <ion-row class="m-t-0 m-b-0 otp-pin-padding">
        <ion-col tabindex="1">
            <div>
                <ion-input name="1" #input1  (keydown)="onKeydownEvent($event,input1,1)"  (keypress)="goToNextInput1($event,input1,input1,input2,0,$event.target.value)" #input1 type="tel" [(ngModel)]="OTP[0]" size="1" maxlength="1" class="otpinput" padding-horizontal id="input1" [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col tabindex="2">
            <div>
                <ion-input #input3 name="2" #input2  (keydown)="onKeydownEvent($event,input1,2)"  (keypress)="goToNextInput1($event,input1,input2,input3,1,$event.target.value)" #input2 [(ngModel)]="OTP[1]" type="tel" size="1" maxlength="1" class="otpinput" padding-horizontal id="input2" #input2 [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="3" type="tel" #input3  (keydown)="onKeydownEvent($event,input2,3)" (keypress)="goToNextInput1($event,input2,input3,input4,2,$event.target.value)" #input3 [(ngModel)]="OTP[2]" tabindex="3" maxlength="1" class="otpinput" id="input3" padding-horizontal [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="4" type="tel" [(ngModel)]="OTP[3]" #input4  (keydown)="onKeydownEvent($event,input3,4)"  (keypress)="goToNextInput1($event,input3,input4,cinput1,3,$event.target.value)" tabindex="4" maxlength="1" #input4 class="otpinput" id="input4" padding-horizontal [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
    </ion-row>
    <h2 class="pin-page-header m-b-0 m-t-0 pin-authenticate-padding"> {{'SetPIN.confpin_txt'| translate}}</h2>
    <ion-row class="m-t-0 m-b-0 otp-pin-padding">
        <ion-col>
            <div>
                <ion-input name="1" #cinput1 type="tel"  (keydown)="onKeydownEvent($event,input4,5)" (keypress)="goToNextInput1($event,input4,cinput1,cinput2,4,$event.target.value)" [(ngModel)]="CONOTP[0]" maxlength="1" class="otpinput" id="cinput1" padding-horizontal [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="2" #cinput2 type="tel" [(ngModel)]="CONOTP[1]"  (keydown)="onKeydownEvent($event,cinput1,6)" (keypress)="goToNextInput1($event,cinput1,cinput2,cinput3,5,$event.target.value)" maxlength="1" class="otpinput" id="cinput2" padding-horizontal [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="3" #cinput3 type="tel" [(ngModel)]="CONOTP[2]"  (keydown)="onKeydownEvent($event,cinput2,7)" (keypress)="goToNextInput1($event,cinput2,cinput3,cinput4,6,$event.target.value)" maxlength="1" class="otpinput" id="cinput3" padding-horizontal [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="4" #cinput4 type="tel" [(ngModel)]="CONOTP[3]" maxlength="1" class="otpinput" id="cinput4" padding-horizontal  (keydown)="onKeydownEvent($event,cinput3,8)" (keypress)="goToNextInput1($event,cinput3,cinput4,cinput4,7,$event.target.value);checkLength($event,cinput4,$event.target.value)" [ngStyle]="(flag)?{'font-family':'text-security-disc'} : {'font-family':'inherit'}">
                </ion-input>
            </div>
        </ion-col>
    </ion-row>
    <!-- <ion-row class="m-t-0 row-otp-number-padding">
          <ion-col size="8" class="link link-otp">
            Change Number
          </ion-col>
       
            <ion-col size="4" class="link link-otp link-otp-right">
              Resend OTP
              </ion-col>
        </ion-row> -->
</ion-content>
<ion-footer class="ion-padding grey-bg-page">
    <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="gotokyc()" class="demo-button-violet">
                {{'CommonUtility.cntbtn'| translate}} </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>