// @import url(./../../fontstyle.css);
@import url(./../../../node_modules/text-security/dist/text-security.css);

.pin-text-padding{
    padding: 0px 16px 0px 16px;
    margin-bottom:0;
}
.pin-authenticate-padding{
    padding: 32px 16px 16px 16px;  
}
.otp-pin-padding{
    padding: 0px 16px 0px 16px;
  }
.pin-head-padding{
    padding: 40px 16px 16px 16px;  
}
.pin-head-padding-right{
    padding: 40px 16px 16px 16px; 
    text-align:right;
    font-size: 13px;
}
.no-padding{
    padding:0px;
}