<ion-header class="ion-padding grey-bg-page">
</ion-header> 
<ion-content class="ion-padding grey-bg-page">
  <div  class="ion-text-center">
      <h2 class="page-header m-b-0"> {{'SetPIN.hrad_setpin'| translate}}</h2>
      <p class="grey-text m-t-0 pin-text-padding">{{'SetPIN.subhead_pinsecure_txt'| translate}}</p> 
      <h2 class="pin-page-header m-b-0 m-t-0 pin-head-padding"> {{'SetPIN.enterpin_txt'| translate}}</h2>  
    </div>
        <ion-row  class="m-t-0 m-b-0 otp-pin-padding" >
          <ion-col>
            <div>
              <ion-input name="1"  type="text"  pattern= "[0-9]" [(ngModel)]="OTP[0]" maxlength="4" class="otpinput"
                padding-horizontal onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="2"  type="text"  pattern= "[0-9]" [(ngModel)]="OTP[1]" maxlength="4" class="otpinput"
                padding-horizontal onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="3"  type="text"  pattern= "[0-9]" [(ngModel)]="OTP[2]" maxlength="4" class="otpinput"
                padding-horizontal onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input name="4"  type="text"  pattern= "[0-9]" [(ngModel)]="OTP[3]" maxlength="4" class="otpinput"
                padding-horizontal onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </ion-input>
            </div>
          </ion-col>
        </ion-row>
     <!-- <ion-row class="m-t-0 row-otp-number-padding">
          <ion-col size="8" class="link link-otp">
            Change Number
          </ion-col>
       
            <ion-col size="4" class="link link-otp link-otp-right">
              Resend OTP
              </ion-col>
        </ion-row> -->
     
 
</ion-content>
<ion-footer class="ion-padding grey-bg-page">
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="confirmpin()"  class="demo-button-violet">
          {{'SetPIN.btn_cont'| translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
