<app-header headers="{{'transac.tranheader'|translate}}"></app-header>
<ion-content>
      
   <div *ngIf="transationDetails.TransactionDetails && transationDetails.TransactionDetails.length > 0 ; else noTransation">
      <ion-grid>
         <ion-row class="first_part">
            <div class="clear-fix"></div>
            <ion-col>
               <!-- <h2 class="ion-text-center"> All Transaction</h2> -->
               <div class="transation">
                  <h2 class="account-summary"> {{'transac.accsumarytxtsubheader'|translate}}</h2>
                  <ion-row class="ios hydrated">
                     <ion-col class="ios hydrated border-right">
                        <div>
                           <h2 class="price " style="font-size: 20px;">
                              <ion-icon name="arrow-round-up" class="ioen-font-s"></ion-icon>
                              Rs. {{transationDetails.TotalInvestmentAmount}} 
                           </h2>
                           <p class="ion-text-center saved-till-date">{{'transac.savetilldatetxt'|translate}}</p>
                        </div>
                     </ion-col>
                     <ion-col class="ios hydrated ">
                        <div>
                           <h2 class="price-r " style="font-size: 20px;">
                              <ion-icon name="arrow-round-down" class="ioen-font-s"></ion-icon>
                              Rs. {{transationDetails.TotalWithdrawAmount}}
                           </h2>
                           <p class="ion-text-center saved-till-date">{{'transac.withdratxt'|translate}}</p>
                        </div>
                     </ion-col>
                  </ion-row>
                  <ion-row>
                     <ion-col>
                        <!-- <div class="saved-till-date" style="font-size: 12px;">*Total amount can be withdraw Rs.{{transationDetails.TotalBalanceAmount}} </div> -->
                        <div class="saved-till-date" style="font-size: 12px;padding-top: 10px;">* {{'transac.userinfotxt'|translate}}</div>
                     </ion-col>
                  </ion-row>
               </div>
            </ion-col>
         </ion-row>
         <ion-row class="space-gap">
            <ion-col style="color:#77869E">{{'transac.txtrecent'|translate}}</ion-col>
            <ion-col class="ion-text-end" style="color:#0582b6;cursor:pointer;" (click)="openModal()">
                  <ion-icon name="funnel"></ion-icon>
                  {{'transac.txtfilter'|translate}}
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
               <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
               </ion-refresher-content>
            </ion-refresher>
            <div class="recent-price">
               <ul>
                  <li *ngFor="let transation of transationList">
                     <div class="col-sec-2">
                        <ion-icon name="arrow-round-down" class="arrow-bottom-icon" *ngIf="transation.TransType == 2"></ion-icon>
                        <ion-icon name="arrow-round-up" class="arrow-top-icon" *ngIf="transation.TransType == 1"></ion-icon>
                     </div>
                     <div class="col-sec-10">
                        
                           <ion-row>
                              <ion-col class="ion-text-start saved-price">Reference Id : {{transation.TransReferenceId}}</ion-col>
                           </ion-row>
                           <ion-row>
                              <ion-col size="8" class="small-font">
                                 <ion-row>
                                    <span class="ion-text-left ">{{ transation.TransDate}}</span>
                                 </ion-row>

                                 <ion-row>
                                    <ion-col size="2" style="padding: unset;">
                                       <img src="/assets/images/in-progress.png" style="height: 20px;    margin-top: 5px;" *ngIf="transation.Status == 'inProcess' || transation.Status == 'InProcess'"/>
                                       <img src="/assets/images/success.png" style="height: 20px;    margin-top: 5px;" *ngIf="transation.Status == 'Success'"/>
                                       <img src="/assets/images/failed.png" style="height: 20px;    margin-top: 5px;" *ngIf="transation.Status == 'failed' || transation.Status == 'Failed'"/>
                                       
                                    </ion-col>
                                    <ion-col size="10" style="padding: unset;"> 
                                       <p style="margin-top: 6px; font-size: 15px;">{{transation.Status}}</p>
                                    </ion-col>
                                    
                                 </ion-row>
                              </ion-col>
                              <ion-col size="4" class="ion-text-end rupee-right" [ngClass]="{'rupee-right': transation.TransType == 1,'rupee-right-down': transation.TransType == 2 }"> 
                                Rs. {{transation.TransAmount | number:'1.0-0'}}
                              </ion-col>
                           </ion-row>

                        
                        
                     </div>
                  </li>
                  <!-- <li>
                     <div class="col-sec-2">
                         <ion-icon name="arrow-round-down" class="arrow-bottom-icon"></ion-icon>
                     </div>
                     <div class="col-sec-10">
                         <div class="ion-text-start saved-price">Withdraw for school…</div>
                         <div class="ion-text-end rupee-right-down">+ Rs. 200</div>
                         <p class="small-font">
                             <span class="ion-text-left ">on 5th Aug,2019</span>
                             <span class="text-end flot-r">Closing balance Rs 2,300</span>
                         </p>
                     </div>
                     </li> -->
               </ul>
            </div>
         </ion-row>
      </ion-grid>
   </div>
   <ng-template #noTransation style="text-align: center;">
      <ion-grid>
         <ion-row style="margin: 33% 0% 0% 36%; position: absolute; width: 100%;">
            <ion-icon name="ios-bookmarks" style="color: #B3C1D1; font-size: 100px;"></ion-icon>
         </ion-row>
         <ion-row style="margin: 62% 0% 0% 25%;text-align: center; position: absolute; width: 100%; color: #B3C1D1;">
        No transaction details found
         </ion-row>
      </ion-grid>
   </ng-template>
</ion-content> 