.small-font {
    font-size: 12px;
}

.flot-r {
    float: right;
}

.transation {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08), 0 1px 5px rgba(0, 0, 0, 0.22);
    padding: 30px 0px 30px;
    text-align: center;
    background: #fff;
    margin: auto;
    /* margin-bottom: 20px; */
    border-radius: 15px;
    width: 94%;

}


.account-summary {	
    /*height: 25px; */
    /* width: 161px; */
    color: #2C3555;
    /* font-family: Rubik; */
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

.saved-till-date {	
    height: 13px;
    /* width: 106px; */
    color: #77869E;
    // font-family: Rubik;
    font-size: 15px;
    line-height: 13px;
    text-align: center;
}
h2.price {
    color: #24996A;
    font-size: 28px;
    line-height: 20px;
}

h2.price-r {
    color: #F64F4B;
}

.border-right {
    border-right: 1px solid #979797
}

.ioen-font-s {
    font-size: 36px;
    vertical-align: middle;
    margin: 0px;
    line-height: 0px;
    padding: 0px;
}

.space-gap {
    margin-top: 15px;
}

.clear-both {
    display: table;
    clear: both;
}

.arrow-top-icon {
    font-weight: normal;
    background-color: rgba(36, 153, 106, 0.09);
    color: #24996A;
    font-size: 24px;
    font-size: 40px;
    //padding: 10px;
    border-radius: 10px;
}

.arrow-bottom-icon {
    font-weight: normal;
    background-color: rgba(246, 79, 75, 0.09);
    color: #F64F4B;
    font-size: 24px;
    font-size: 40px;
    //padding: 10px;
    border-radius: 10px;
}

.recent-price {
    background-color: #fff;
    width: 100%;
    display: inline-block;
}

.recent-price ul {
    padding: 0px;
    margin: 0px;
}

.recent-price ul li {
    list-style-type: none;
    padding: 10px 0px 0px 10px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

ion-grid {
    padding: 0px;
}

.col-sec-2 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6%;
}

.col-sec-10 {
    width: 79%;
    display: inline-block;
}

.saved-price {
    display: inline-block;
    color: #043267;
    font-size: 13px;
    font-weight: 500;
}

.rupee-right {
    float: right;
    color: #24996A;
    font-weight: 500;
    font-size: 15px;
}

.rupee-right-down {
    float: right;
    color: #F64F4B;
    font-weight: 500;
    font-size: 15px;
}

.back-home {
    width: 100%;
    color: #3F3C93;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    margin-top: 23px;
    padding: 18px 0px;
    background-color: #3f3c931a;
}
.first_part {
    background: #373588;
    background: -webkit-gradient(linear, left top, left bottom, from(#373588), color-stop(33%, #373588), color-stop(33%, #f3f3f3), to(#f3f3f3));
    background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
}