<ion-header>
    <ion-title>{{headers | titlecase}}</ion-title>
    <img src="./assets/images/whatsapp.png" style="position: absolute;
   font-size: 30px;
   float: right;
   right: 10px;
   top: 15px;
   padding-top: 0px;
   color: green;
   z-index: 999999;
   width: 40px;" (click)="openWhatsapp()"/>
</ion-header>