
<!-- <app-header headers="{{'tabs.home'| translate}}"></app-header> -->
<ion-header style="background: #373588 !important;">
   <img src="./assets/images/whatsapp.png" style="position: absolute;
   font-size: 30px;
   float: right;
   right: 10px;
   top: 29px;
   padding-top: 0px;
   color: green;
   z-index: 999999;
   width: 40px;" (click)="openWhatsapp()"/>
   <ion-toolbar style="--background: #373588 !important;">
     <ion-title style="--background: #373588 !important; padding: 0px; margin: 0px 0px 10px 10px; color: #ffffff; height: 56px;"  >
      <p class="header-title header">{{currentUserDetails.POIInformation.Name | titlecase}}</p>
      <p class="header-subtitle header">{{currentUserDetails.PhoneNumber}}</p>  
      
   </ion-title>
   
     <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin-left: 15px; height: 56px;">
      <!-- <ion-icon name="people"></ion-icon> -->
       <ion-menu-button autoHide="true">
         <!-- <img src="https://persist.signzy.tech/api/files/116717735/download/d550d55f98c5445ba826bceb569820522fff0294033a4293b3aa6eeb2b8c1d02.jpg" style="max-width: 60px; width: 60px;"/> -->
         <img (error)="userImage='./assets/images/human.png' " src="{{userImage}}" style="max-width: 60px; width: 60px; border-radius: 60px; height: 60px;" cache="false" />
         <!-- <img src="./assets/images/human.png" style="max-width: 60px; width: 60px;"/> -->
       </ion-menu-button>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
 <ion-content>
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
         pullingIcon="arrow-dropdown"
         pullingText="Pull to refresh"
         refreshingSpinner="circles"
         refreshingText="Refreshing...">
      </ion-refresher-content>
   </ion-refresher>


   <!-- <h4 class="price-color">₹{{currentSavings1}}</h4> -->
   <!-- <h4 class="price-color" *ngIf="currentSavings1>0">₹{{currentSavings1}}</h4> -->
   <!-- <h4 class="price-color" *ngIf="currentSavings1 == 0">
       <ion-spinner name="crescent"></ion-spinner>
   </h4> -->
   <!-- <span class="tooltip1">{{'hometran.cursave'|translate}}</span> -->



   <!-- <app-goal-list *ngIf="currentUserDetails.IsGoalCreated; else not7"></app-goal-list> -->
   <!-- <div *ngIf="currentUserDetails.IsGoalCreated"> 
      <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
         <ion-card style="margin-top: 0px;" class="white " *ngIf="currentUserDetails.IsGoalCreated">
             <ion-row class="ion-padding-horizontal">
                 <ion-col text-center size="6">
                     <h4 *ngIf="currentSavings1 == 0" class="price-color">₹ -- </h4>
                     <h4 *ngIf="currentSavings1 != 0" class="price-color">₹{{currentSavings1 | number:'1.0-0'}}</h4>
                     <span class="tooltip next-step" style="background: rgba(59, 178, 184, 0.24);">{{'hometran.cursave'|translate}}</span>
                 </ion-col>

                  <ion-col text-center size="6">
                     <h4 *ngIf="nextStop == 0" class="price-color">₹ --</h4>
                     <h4 *ngIf="nextStop != 0" class="price-color">₹{{ nextStop | number:'1.0-0'}}</h4>
                     <span class="tooltip next-step">{{'CommonUtility.txtnxtstop'|translate}}</span>
                  </ion-col>
             </ion-row>
             <ion-row class="ion-padding-top relative ion-padding-horizontal">
                 <ion-col>
                     <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
                     <div></div>
                     <div class="border-sec"></div>
                 </ion-col>
             </ion-row>
             <ion-row class="ion-padding-horizontal">
                 <ion-col class="ion-text-left">
                     <span class="ion-no-margin start"> {{'hometran.starttxt'|translate}} </span>
                     <p class="ion-no-margin price-color">₹ {{permonthAmount}}</p>
                 </ion-col>
                 <ion-col class="ion-text-right">
                     <span class="ion-no-margin start">{{'hometran.goalintxt1'|translate}}  {{mileStones.length/4}}  {{'hometran.goalintxt2'|translate}} </span>
                     <p class="ion-no-margin price-color">₹ {{goalAmount  | number:'1.0-0'}}</p>
                 </ion-col>
             </ion-row>
             
             <ion-row class="ion-padding-horizontal" style="padding-left: 0px; padding-right: 0px;">
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                     <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(1)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(2)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(3)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/milestone-award.png" class="ion-padding-top"  [ngStyle]="setGoalStyles()"/>
               </ion-col>
            </ion-row>
            <img src="./assets/images/auto.png" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
            <img src="./assets/images/route.jpg" id="auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
         </ion-card>
      </ion-grid>     
   </div> -->


   <div *ngIf="currentUserDetails.IsGoalCreated"> 
      <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 15%, #f3f3f3 15%, #f3f3f3 100%);">
         
         <ion-card style="margin-top: 0px;border-radius: 10px; padding: 10px;" class="white " *ngIf="currentUserDetails.IsGoalCreated">
            <ion-row class="ion-padding-horizontal">
               <ion-col class="ion-text-center" style="font-size: 22px; color: #0746bb; font-weight: 400;">{{'homedash.wllakshyatxt'|translate}}</ion-col>
             </ion-row>
            <ion-row>
              <ion-col size="5" style="text-align: center;">
                 <p style="margin: 5px;font-size: 15px; font-weight: 500; color: rgb(3 ,12, 128);">{{'homedash.tvaluetxt'|translate}} </p>
                 <p style="margin: 0px;font-size: 16px; font-weight: 500; color: rgb(3 ,12, 128);" *ngIf="transationDetails.BalanceAmt">Rs. {{ transationDetails.BalanceAmt | number:'1.0-0'}}.00</p>
                 <p style="margin: 0px;font-size: 16px; font-weight: 500; color: rgb(3 ,12, 128);" *ngIf="!transationDetails.BalanceAmt">--</p>
              </ion-col>
              <ion-col size="2" >
                 <div style="height: 85%; background: #0a23a9; width: 2px; margin-left: 50%;"></div>
              </ion-col>
              <ion-col size="5" style="text-align: center;">
                 <p style="margin: 5px;font-size: 15px; font-weight: 500; color: rgb(3 ,12, 128);">{{'homedash.tsavetxt'|translate}}</p>
                 <p style="margin: 0px; font-size: 16px; font-weight: 500; color: rgb(7, 204, 57);" *ngIf="transationDetails.TotalBalanceAmount">Rs. {{transationDetails.TotalBalanceAmount  | number:'1.0-0'}}.00</p>
                 <p style="margin: 0px; font-size: 16px; font-weight: 500; color: rgb(7, 204, 57);" *ngIf="!transationDetails.TotalBalanceAmount">--</p>
              </ion-col>
           </ion-row>
            <!-- Sevings option  option -->
     <!-- <ion-grid class="ad_paddin" *ngIf="transationDetails.TotalBalanceinprocess && transationDetails.TotalBalanceinprocess > 0">
      <ion-card class="hone_cd" style="border: 2px solid #373588; height: 70px;">
         <ion-row>
            <ion-col size="4">
               <div class="iocnlp_image1" style="    margin: 0px;">
                  <div class="accoe_iocn" style="background: #00d79300;">
                     <img src="/assets/images/in-progress.png" style="width: 208px;max-width: 45px; margin: 5px auto;" />
                  </div>
               </div>
            </ion-col>
            <ion-col size="8">
               <ion-card-header class="cd_text0" style="padding: 5px 12px 3px;">
                  {{'homedash.saveinprogtxt'|translate}}
               </ion-card-header>
               <ion-card-content class="cb_text1">
                  Rs. {{ transationDetails.TotalBalanceinprocess | number:'1.0-0'}}
               </ion-card-content>
            </ion-col>
            
         </ion-row>
      </ion-card>
   </ion-grid> -->
        </ion-card>
        <ion-card class="hone_cd" style="border: 2px solid #F2B705; height: 40px; border-radius: 5px;" *ngIf="transationDetails.TotalBalanceinprocess && transationDetails.TotalBalanceinprocess > 0">
         <ion-row>
            <ion-col size="2" style="padding: unset; background: #F2B705;">
               <div class="iocnlp_image1" style="    margin: 0px;">
                  <div class="accoe_iocn" style="background: #00d79300;">
                     <img src="/assets/images/in-progressw.png" style="width: 208px;max-width: 30px;margin: 4px 0px 0px 16px;" />
                  </div>
               </div>
            </ion-col>
            <ion-col size="10" style="padding: unset;">
               <ion-card-header class="cd_text0" style="padding: 9px 10px 3px; font-size: 16px;font-weight: 500; color: gray;">
                  <span style="color: #0a23a9;">{{'homedash.saveinprogtxt'|translate}} </span>Rs. {{ transationDetails.TotalBalanceinprocess | number:'1.0-0'}}
               </ion-card-header>
               <!-- <ion-card-content class="cb_text1">
                  Rs. {{ transationDetails.TotalBalanceinprocess | number:'1.0-0'}}
               </ion-card-content> -->
            </ion-col>
            
         </ion-row>
      </ion-card>
         <ion-card style="margin-top: 0px;border-radius: 10px; padding: 10px;" class="white " *ngIf="currentUserDetails.IsGoalCreated">
             <!-- <ion-row class="ion-padding-horizontal">
                 <ion-col text-center size="6">
                     <h4 *ngIf="currentSavings1 == 0" class="price-color">₹ -- </h4>
                     <h4 *ngIf="currentSavings1 != 0" class="price-color">₹{{currentSavings1 | number:'1.0-0'}}</h4>
                     <span class="tooltip next-step" style="background: rgba(59, 178, 184, 0.24);">{{'hometran.cursave'|translate}}</span>
                 </ion-col>

                  <ion-col text-center size="6">
                     <h4 *ngIf="nextStop == 0" class="price-color">₹ --</h4>
                     <h4 *ngIf="nextStop != 0" class="price-color">₹{{ nextStop | number:'1.0-0'}}</h4>
                     <span class="tooltip next-step">{{'CommonUtility.txtnxtstop'|translate}}</span>
                  </ion-col>
             </ion-row>
             <ion-row class="ion-padding-top relative ion-padding-horizontal">
                 <ion-col>
                     <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
                     <div></div>
                     <div class="border-sec"></div>
                 </ion-col>
             </ion-row> -->

            
             <ion-row class="ion-padding-horizontal" *ngIf="transationDetails.GoalDetail">
               <ion-col class="ion-text-center" style="font-size: 17px; color: #05183c; font-weight: 400;" size="12">
                  <div style="    width: max-content; margin-left: 24%;">
                     <!-- <img src="./assets/images/city.png" style="padding: 0px;width: 40px; display: inline;" class="ion-padding-top"/> -->
                     <i class="icon-school-fees1x" *ngIf ="transationDetails.GoalDetail.GoalType == 'School Fee'" style="font-size: 45px;"></i>
                     <i class="icon-Emergency1x"   *ngIf ="transationDetails.GoalDetail.GoalType == 'Emergency' " style="font-size: 45px;"></i>
                     <i class="icon-auto-repair1x"   *ngIf ="transationDetails.GoalDetail.GoalType == 'Auto Repair' " style="font-size: 45px;"></i>
                     <i class="icon-buy-auto1x"    *ngIf ="transationDetails.GoalDetail.GoalType == 'Buy Auto' " style="font-size: 45px;"></i>
                     <i class="icon-flag" style="font-size: 35px;"  *ngIf ="transationDetails.GoalDetail.GoalType != 'Emergency' && transationDetails.GoalDetail.GoalType != 'School Fee' && transationDetails.GoalDetail.GoalType != 'Auto Repair' && transationDetails.GoalDetail.GoalType != 'Buy Auto' && transationDetails.GoalDetail.GoalType != 'No purpose' " ></i>
                     <i class="icon-no-purpose1x"  *ngIf ="transationDetails.GoalDetail.GoalType == 'No purpose' " style="font-size: 45px;"></i>
                           
                     <span style="margin-top: 15px; position: absolute;">{{transationDetails.GoalDetail.GoalType}}</span>
                  </div>
                  
               </ion-col>
               
             </ion-row>
            
             <ion-row *ngIf="transationDetails.GoalDetail">
               <ion-col size="5" style="text-align: center;"> 
                  <p style="margin: 5px;font-size: 13px; font-weight: 500;">{{'homedash.gsavetxt'|translate}}</p>
                  <p style="margin: 0px;font-size: 16px; font-weight: 500; color: #000;">Rs. {{ transationDetails.GoalDetail.CurrentGoalAmount | number:'1.0-0'}}</p>
               </ion-col>
               <ion-col size="2" >
                  <img src="./assets/images/clock-gray.png" class="ion-padding-top"/>
               </ion-col>
               <ion-col size="5" style="text-align: center;">
                  <p style="margin: 5px;font-size: 13px; font-weight: 500;">{{'homedash.tamttxt'|translate}}</p>
                  <p style="margin: 0px; font-size: 16px; font-weight: 500; color: #000;">Rs. {{ transationDetails.GoalDetail.GoalAmount | number:'1.0-0'}}</p>
               </ion-col>
            </ion-row>
             <ion-row class="ion-padding-horizontal" style="padding-left: 0px; padding-right: 0px;">
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                     <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(1)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(2)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(3)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/milestone-award.png" class="ion-padding-top"  [ngStyle]="setGoalStyles()"/>
               </ion-col>
            </ion-row>
            <img src="./assets/images/auto.png" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
            <img src="./assets/images/route.jpg" id="auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
            <ion-row *ngIf="transationDetails.GoalDetail">
               <ion-col size="6" style="text-align: left;  font-size: 13px; font-weight: bold; color: #484646;">{{transationDetails.GoalDetail.CreatedOn | date:'MMMM yyyy'}}</ion-col>
               <ion-col size="6" offset="" style="    text-align: right; font-size: 13px; font-weight: bold; color: #484646;">{{goalEnd | date:'MMMM yyyy'}}</ion-col>
            </ion-row>
         </ion-card> 
      </ion-grid>     
   </div>

 

   <!-- <ng-template #not7>  -->
   <div *ngIf="!currentUserDetails.IsGoalCreated">    
      <!-- if goal is not created and invested -->
      

      <ion-grid class=" first_part" *ngIf="currentUserDetails.Status >= 8 && transationDetails.TotalInvestmentAmount > 0">
         <ion-card style="margin-top: 0px;border-radius: 10px; padding: 10px;" class="white " >
            <ion-row class="ion-padding-horizontal">
               <ion-col class="ion-text-center" style="font-size: 22px; color: #0746bb; font-weight: 400;">{{'homedash.wllakshyatxt'|translate}}</ion-col>
             </ion-row>
            <ion-row>
              <ion-col size="5" style="text-align: center;">
                 <p style="margin: 5px;font-size: 15px; font-weight: 500; color: rgb(3 ,12, 128);">{{'homedash.tvaluetxt'|translate}} </p>
                 <p style="margin: 0px;font-size: 16px; font-weight: 500; color: rgb(3 ,12, 128);" *ngIf="transationDetails.BalanceAmt">Rs. {{ transationDetails.BalanceAmt | number:'1.0-0'}}.00</p>
                 <p style="margin: 0px;font-size: 16px; font-weight: 500; color: rgb(3 ,12, 128);" *ngIf="!transationDetails.BalanceAmt">--</p>
              </ion-col>
              <ion-col size="2" >
                 <div style="height: 85%; background: #0a23a9; width: 2px; margin-left: 50%;"></div>
              </ion-col>
              <ion-col size="5" style="text-align: center;">
                 <p style="margin: 5px;font-size: 15px; font-weight: 500; color: rgb(3 ,12, 128);">{{'homedash.tsavetxt'|translate}}</p>
                 <p style="margin: 0px; font-size: 16px; font-weight: 500; color: rgb(7, 204, 57);" *ngIf="transationDetails.TotalBalanceAmount">Rs. {{transationDetails.TotalBalanceAmount  | number:'1.0-0'}}.00</p>
                 <p style="margin: 0px; font-size: 16px; font-weight: 500; color: rgb(7, 204, 57);" *ngIf="!transationDetails.TotalBalanceAmount">--</p>
              </ion-col>
           </ion-row>
           <ion-row  *ngIf="!currentUserDetails.IsGoalCreated && currentUserDetails.Status >= 7 && goalStatus == 3" style="margin-top: -6px;">
            <ion-col style="text-align: center;">
               <p style="color: rgb(3 ,12, 128);     margin-bottom: 5px;">Yay! You reached your goal</p>
               <p style="color: rgb(3 ,12, 128);margin: unset;">of saving ₹ {{goalAmount}} .</p>
               <p style="font-size: 13px; margin-bottom: 2px;"> {{'homedash.setanothergoaltxt'|translate}}</p>
               <!--<span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months ₹ {{goalAmount}} </span> -->
               <!--<p class="ion-no-margin price-color">₹ {{goalAmount}}</p>   -->          
               <!-- <div class="saved-till-date" style="font-size: 12px;">*Total amount can be withdraw &#8377;{{transationDetails.TotalBalanceAmount}} </div> -->
            </ion-col>
         </ion-row> 
            
        </ion-card>
        <ion-card class="hone_cd" style="border: 2px solid #F2B705; height: 40px; border-radius: 5px;" *ngIf="transationDetails.TotalBalanceinprocess && transationDetails.TotalBalanceinprocess > 0">
         <ion-row>
            <ion-col size="2" style="padding: unset; background: #F2B705;">
               <div class="iocnlp_image1" style="    margin: 0px;">
                  <div class="accoe_iocn" style="background: #00d79300;">
                     <img src="/assets/images/in-progressw.png" style="width: 208px;max-width: 30px;margin: 4px 0px 0px 16px;" />
                  </div>
               </div>
            </ion-col>
            <ion-col size="10" style="padding: unset;">
               <ion-card-header class="cd_text0" style="padding: 9px 10px 3px; font-size: 16px;font-weight: 500; color: gray;">
                  <span style="color: #0a23a9;">{{'homedash.saveinprogtxt'|translate}} </span>Rs. {{ transationDetails.TotalBalanceinprocess | number:'1.0-0'}}
               </ion-card-header>
               <!-- <ion-card-content class="cb_text1">
                  Rs. {{ transationDetails.TotalBalanceinprocess | number:'1.0-0'}}
               </ion-card-content> -->
            </ion-col>
            
         </ion-row>
      </ion-card>
           
      </ion-grid>
      
      <!-- Slider if goal is not set and not invested -->
      <div class="first_part" *ngIf="(!currentUserDetails.IsGoalCreated && (transationDetails.TotalInvestmentAmount <1 || !transationDetails.TotalInvestmentAmount)) && currentUserDetails.Status >=7">
         <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
               <div class="home_cd">
                  <img src="/assets/images/dashboardicon.png" style="height: 150px; width: 208px" />
                  <p>
                     {{'HomeNGNCA.headimgtxt'|translate}}
                  </p>
               </div>
            </ion-slide>
            <ion-slide>
               <div class="home_cd">
                  <img src="/assets/images/invest.jpg" style="height: 150px; width: 208px" />
                  <p>
                    Welcome to Lakshya  We are here to help on your savings
                   </p>
               </div>
            </ion-slide>
         </ion-slides>
      </div>
   </div>

   <!-- </ng-template> -->
     <!-- && currentUserDetails.Status >= 7 && goalStatus==3 -->
     <!-- !currentUserDetails.IsGoalCreated && currentUserDetails.Status >= 7 && goalStatus==3 -->
     <!-- Uncomment the below to show the goal completion in the home screen-->
     <!--
   <div  *ngIf="!currentUserDetails.IsGoalCreated && currentUserDetails.Status >= 7 && goalStatus == 3" style="margin-top: -6px;">
      <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
         <ion-card style="margin-top: 0px;" class="white">
             <ion-row class="ion-padding-top relative ion-padding-horizontal">
                 <ion-col>
                  <img [src]="slider1" class="ion-padding-top" style="width: 470px;margin: 0px auto;margin-top: -72px;"/>
                  <img [src]="slider2" class="ion-padding-top" style="width: 109px;margin: 2px auto;margin-top: -70px;    filter: invert(0.2) sepia(44) hue-rotate(200deg) saturate(4) brightness(1);"/>
                  </ion-col>
               </ion-row>
                  
                  
               <ion-row class="ion-padding-horizontal">
              <ion-col class="ion-text-center">
                     <p style="font-weight: 500; margin: -9px;color:#373588;">Yay! You reached your goal</p>
                     <p style="font-weight: 500;color:#373588;">of saving ₹ {{goalAmount}} for buying gift.</p>
                     <p style="font-size: 13px; margin-bottom: 25px;"> {{'homedash.setanothergoaltxt'|translate}}</p>
                     <span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months </span> 
                     <p class="ion-no-margin price-color">₹ {{goalAmount}}</p> 
                 </ion-col>
             </ion-row> 
         </ion-card>
     </ion-grid>
   </div>
-->   
  
   <!-- Create account option -->
   <ion-grid class="ad_paddin " *ngIf="currentUserDetails.Status < 8 ">
      <ion-card class="hone_cd" (click)="this.navCtrl.navigateRoot('bankaccount');">
         <ion-row>
            <ion-col size="3">
               <div class="iocnlp_image1">
                  <div class="accoe_iocn">
                     <ion-icon name="person"></ion-icon>
                  </div>
               </div>
            </ion-col>
            <ion-col size="8">
               <ion-card-header class="cd_text0"> 
                  {{'HomeNGNCA.setCA'|translate}}
               </ion-card-header>
               <ion-card-content class="cb_text1">
                  {{'HomeNGNCA.setCAtxt'|translate}}
               </ion-card-content>
            </ion-col>
            <ion-col size="1">
               <div class="card_image_arrow">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
               </div>
            </ion-col>
         </ion-row>
      </ion-card>

   </ion-grid>



   <!-- Set goal option -->
   <ion-grid class="ad_paddin" *ngIf="!currentUserDetails.IsGoalCreated">
      <ion-card class="hone_cd" (click)="this.navCtrl.navigateRoot('goalvideo');">
         <ion-row style="    height: 80px;">
            <ion-col size="3">
               <div class="iocnlp_image1" style="    margin-top: 10%;">
                  <div class="accoe_iocn" style="background: #00D793;">
                     <ion-icon name="locate"></ion-icon>
                  </div>
               </div>
            </ion-col>
            <ion-col size="8">
               <ion-card-header class="cd_text0" style="    padding: 3px 12px 3px;">
                  {{'HomeNGNCA.setgoal'|translate}}
               </ion-card-header>
               <ion-card-content class="cb_text1">
             {{'HomeNGNCA.setgoaltxt'|translate}}
               </ion-card-content>
            </ion-col>
            <ion-col size="1">
               <div class="card_image_arrow" style=" padding: 25px 0px !important;">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
               </div>
            </ion-col>
         </ion-row>
      </ion-card>
   </ion-grid>

     <!-- Sevings option  option -->
     <!-- <ion-grid class="ad_paddin" *ngIf="transationDetails.TotalBalanceinprocess && transationDetails.TotalBalanceinprocess > 0">
      <ion-card class="hone_cd" style="border: 2px solid #373588; height: 70px;">
         <ion-row>
            <ion-col size="4">
               <div class="iocnlp_image1" style="    margin: 0px;">
                  <div class="accoe_iocn" style="background: #00d79300;">
                     <img src="/assets/images/in-progress.png" style="width: 208px;max-width: 45px; margin: 5px auto;" />
                  </div>
               </div>
            </ion-col>
            <ion-col size="8">
               <ion-card-header class="cd_text0" style="padding: 5px 12px 3px;">
                  {{'homedash.saveinprogtxt'|translate}}
               </ion-card-header>
               <ion-card-content class="cb_text1">
                  Rs. {{ transationDetails.TotalBalanceinprocess | number:'1.0-0'}}
               </ion-card-content>
            </ion-col>
            
         </ion-row>
      </ion-card>
   </ion-grid> -->
   
    <!-- Save and withdraw button --> 
    <ion-grid *ngIf="currentUserDetails.Status >= 8 ">
      <ion-row class="ion-padding-horizontal" style="padding: 5px 0px 0px 5px;">
         <ion-col >
            <ion-button class="sec-color" (click)="checkAndNavigate('savings')">{{'hometran.savebtn'|translate}}</ion-button>
         </ion-col>
         <ion-col>
               <ion-button class="sec-color" [ngClass]="{'disable' : transationDetails.TotalBalanceAmount < 1, 'enable' : transationDetails.TotalBalanceAmount > 0}" (click)="checkAndNavigate('withdraw')" >{{'hometran.wtthdrawbtb'|translate}}</ion-button>
            <!-- <ion-button color="#373588" class="with-color ion-float-right" (></ion-button> -->
         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-card style="background: #ffff; border-radius: 5px;">
      <ion-grid>
         <ion-row>
            <ion-col size="3">
               <img src="./assets/images/clock-gray.png" class="ion-padding-top" style="padding: unset;"/>
            </ion-col>
            <ion-col size="5" style="margin: auto;font-size: 1rem;
            font-weight: 500;
            color: #000;">
               <ion-row>
                  LAKSHYA <span  style="color : gold">GOLD</span>
               </ion-row>
               <ion-row style="
               color: #7b7b7b;
           ">
                  Rs. 1 (0.20 mg)
               </ion-row>
            </ion-col>
            <ion-col size="4" style="    margin: auto;">               
               <ion-button class="sec-color" style="    height: 35px" (click)="this.navCtrl.navigateRoot('goldTab')" >Add More</ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-card>
   <ion-grid >
      <ion-row class="ion-padding-horizontal" *ngIf="this.currentUserDetails.CamsKYCStatus == 'KYC COMPLETED' ">
         <ion-col size="1">
            <ion-icon name="checkmark" color="success" style="font-size: 25px;"></ion-icon>
         </ion-col>
         <ion-col >
             <span style="color: #77869E;
             --background: #f3f3f3;
             font-family: Rubik;
             font-size: 16px;
             font-weight: 500;
             line-height: 28px;">{{'homedash.kyccomptxt'|translate}}</span>
         </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal" *ngIf="this.currentUserDetails.CamsKYCStatus == 'KYC FAILED' ">
         <ion-col size="1">
            <ion-icon name="close" color="danger" style="font-size: 25px;"></ion-icon>
         </ion-col>
         <ion-col >
             <span style="color: #77869E;
             --background: #f3f3f3;
             font-family: Rubik;
             font-size: 16px;
             font-weight: 500;
             line-height: 28px;">{{'homedash.kycfailtxt'|translate}}</span>
         </ion-col>
      </ion-row>

      <ion-row class="ion-padding-horizontal" *ngIf="this.currentUserDetails.CamsKYCStatus == 'KYC PENDING' ">
         <ion-col size="1">
            <ion-icon name="pause" color="warning" style="font-size: 25px;"></ion-icon>
         </ion-col>
         <ion-col >
             <span style="color: #77869E;
             --background: #f3f3f3;
             font-family: Rubik;
             font-size: 16px;
             font-weight: 500;
             line-height: 28px;">
             <!-- {{'homedash.kycfailtxt'|translate}} -->
             {{'homedash.kycpending'|translate}}
            </span>
         </ion-col>
      </ion-row>
   </ion-grid>
   <!-- For calender section -->
   <ion-item lines="none" class="savings-routine" *ngIf="currentUserDetails.Status >= 8" style="--background: #f3f3f3;">
      {{'hometran.saveroutinetxt'|translate}}
   </ion-item>
   <ion-card style="background: #ffff; border-radius: 15px; margin-bottom: 50px;margin-top: 0px;" *ngIf="currentUserDetails.Status >= 8">
      <!-- <ion-card-content *ngIf="transationDetails.TransactionDetails"> -->
      <ion-card-content>
         <ion-grid style="widows: 1000%; text-align: center;">
            <ion-row>
               <ion-col size="1" (click)="goToLastMonth()">
                  <ion-icon name="ios-arrow-dropleft-circle" style="font-size: 25px; color: #9e9e9e;"></ion-icon>
               </ion-col>
               <ion-col size="10" class="days">{{date | date: 'MMMM yyyy'}} </ion-col>
               <ion-col size="1" (click)="goToNextMonth()">
                  <ion-icon name="ios-arrow-dropright-circle" style="font-size: 25px; color: #9e9e9e;"></ion-icon>
               </ion-col>
            </ion-row>
            <ion-row >
               <ion-col>Su</ion-col>
               <ion-col>Mo</ion-col>
               <ion-col>Tu</ion-col>
               <ion-col>We</ion-col>
               <ion-col>Th</ion-col>
               <ion-col>Fr</ion-col>
               <ion-col>Sa</ion-col>
            </ion-row>
            <ion-row  *ngFor="let slot of [1,2,3,4,5,6]">
               <ion-col  class="days" [ngClass]="{'otherMonth' : (slot == 1 && temShowMonth[slot*7-day] > 12)}" *ngFor="let day of [7,6,5,4,3,2,1]" class="days">
              
               <div [ngClass]="{'trans-withdraw' : (getTransType(slot,temShowMonth[slot*7-day]) ==2),'trans-invest' : (getTransType(slot,temShowMonth[slot*7-day]) == 1)}" class="trns-div">{{temShowMonth[slot*7-day]}}</div>
               <div class="withdrawAmt" [ngClass]="{'trans-withdrawamt' : (getTransType(slot,temShowMonth[slot*7-day]) ==2),'trans-investamt' : (getTransType(slot,temShowMonth[slot*7-day]) == 1)}"  *ngIf="getAmount(slot,temShowMonth[slot*7-day])"></div>
               <!-- ₹ {{getAmount(slot,temShowMonth[slot*7-day])}} -->
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col>
                     <ion-row>
                           <ion-col size="3"><div  class="pur-div"></div> </ion-col>
                           <ion-col><div style="float: left;">{{'hometran.coltxtpurchase'|translate}}</div></ion-col>
                        </ion-row> 
               </ion-col>
               <ion-col >
                     <ion-row>
                        <ion-col size="3"><div  class="with-div"></div> </ion-col>
                        <ion-col><div style="float: left;">{{'hometran.coltxtpwithdraw'|translate}}</div></ion-col>
                     </ion-row>
                  </ion-col>
            </ion-row>
         </ion-grid>
      </ion-card-content>
   </ion-card>
</ion-content>