<ion-header class="grey-bg-page">
  <ion-title>
     <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon>
     <span>Account Creation</span>
  </ion-title>
</ion-header>
<ion-content class="grey-bg-page">
    <div  class="ion-text-center account-div ion-padding">
        <p class="grey-text m-t-0 account-text">  We just need few more details to 
            complete your account creation</p>
      </div>
    <form #form="ngForm" [formGroup]="caGroup" (ngSubmit)="createaccount()">
              <div class="uploadform accountform">
                <ion-item lines="none">
                  <ion-label position="stacked">Occupation</ion-label>
                  <ion-input name="occupation" type="text" placeholder="Enter Occupation" ngModel required formControlName="occupation"></ion-input>
                </ion-item>
                <p class="black-text m-b-0 nominee-text">Nominee Details</p>
                <ion-item lines="none">
                  <ion-label position="stacked" class="grey-text">Nominee Name</ion-label>
                  <ion-input name="nominee" type="text" placeholder="Enter Nominee" ngModel required formControlName="nominee"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked" class="grey-text">Relationship</ion-label>
                    <ion-input name="relation" type="text" placeholder="Enter Relationship" ngModel required formControlName="relation"></ion-input>
                  </ion-item>

                  <div class="ion-padding">
                      <ion-checkbox class="accountcheckbox" formControlName="checkbox"></ion-checkbox>
                      <ion-text class="grey-text check-account-text">I don’t want to nominate anyone</ion-text>
                    </div>
                   </div>
              <div class="ion-padding account-footer"> 
                  <ion-button expand="block"  class="demo-button-violet" type="submit" [disabled]="caGroup.invalid">
                      Continue</ion-button>
                   </div>
      </form>
</ion-content>
