 .confirm-text{
font-size: 18px;
font-weight: 400;
padding: 32px 16px 16px 16px;
 }
.doc-button-margin{
 margin:8px;
 }
.retake-button-padding{
padding-top:8px;

}
.account-div{
    min-height: 50px;
    padding: 32px 32px 36px 32px;
    .account-text{
        color: #2C3555;
        font-size: 16px;	
        line-height: 25px;	   
       }
}
.account-form{
    padding-top: 24px;
}
form{
 .accountform{
 background-color: #FFFFFF;
 padding: 24px 16px 84px 16px;
 .nominee-text{
    padding: 0px 20px;
 }
 div{
     .check-account-text{
        position: absolute;
        padding-left: 12px;
        font-weight: 300;
     }
     .accountcheckbox{
         
     }
 } }
 .account-footer{
    background-color: #FFFFFF;
 }
}