<ion-header>
  <ion-toolbar style="padding:0px;">
    <ion-title>Add New Goal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-input clearInput type="text"  [(ngModel)]="new_goal" [attr.maxlength]="10" placeholder="Enter Goal Name" class="input" clear-input="true"></ion-input>
  </ion-row>
  <br/>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="addGoal()" class="demo-button-violet">Add Goal</ion-button>
    </ion-col>
  </ion-row>
</ion-content>