<ion-header>
  <ion-title>
     <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
     <ion-icon name="md-arrow-round-back" (click)="navCtrl.back()" style="float: left;padding-top: 10px;"></ion-icon>
     <span>AADHAAR AUTHENTICATION </span>
  </ion-title>
</ion-header>

<ion-content class="first">
  
  <ion-grid class="product-cart" *ngIf="pdfData" style="padding: 15px; font-size: 15px;">
    <!-- <ion-card style="margin-top: 0px;" class="white-coler"> -->
      <!-- <ion-row > 
        <p style="margin: 15px auto; color: rgb(56, 52, 52); text-align: center;">I confirm this <span style="color: rgb(11, 11, 194); text-decoration: underline;"> agreement</span> for e-signing purpose </p>
      </ion-row> -->
      <ion-row > 
        <p style="    margin: 15px auto; color: rgb(8, 194, 79);text-align: center;">Please check your UIDAI-Aadhaar registered mobile number for the OTP</p>
      </ion-row>
      <ion-row *ngIf="!pdfData.Success"> 
        <p style="    margin: 15px auto; color: red;text-align: center;">{{pdfData.ErrorMessage}}</p>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-text-center">
          <ion-button color="success" class="sec-color"  (click)="createWebview(pdfData.eSignurl)" [attr.disabled]="!pdfData.Success">Yes</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="danger" class="sec-color"  >No</ion-button>

        </ion-col>
      </ion-row>
    <!-- </ion-card> -->
  </ion-grid>



  <ion-grid >
    <div class="white-bg" style="padding: 15px; font-size: 15px;">
      <p class=" ion-padding ion-text-center blue-text blue-text2" style="margin-bottom: 25px;">Tips for completing KYC with Lakshya : </p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2">1. Aadhaar e-sign is mandatory . Please click Yes to continue the process</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2">2. Keep the aadhaar registered mobile no. handy during this process. UIDAI will send OTP in your registered mobile no. for completion of e-sign process</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2 ">3. Don't close the browser screen before entering OTP in it and completing the process</p> 
                  
    </div>
  </ion-grid>


</ion-content>
<!-- <ion-footer class="ion-text-center ion-padding grey-bg-page">
  <ion-grid>
    <ion-row class="ion-padding-horizontal">
       <ion-col >
          <ion-button  expand="block" color="#373588" class="sec-color"  (click)="navCtrl.navigateRoot('homeTab')">{{'CommonUtility.homebtn'|translate}}</ion-button>
       </ion-col>
       <ion-col>
          <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('savings')" style="color: white !important;">{{'save.btnsaveMaore'|translate}}</ion-button>
       </ion-col>
    </ion-row>
 </ion-grid>
</ion-footer> -->