.bank-ac{color: #043267; font-size: 13px;	font-weight: 500;	line-height: 26px;}
ul.circle li{  font-size: 24px; color: #DCDCDC;}
ul.circle li p{ font-size: 14px; color:#77869E;}
.placeholder{  color: #043267; font-size: 14px; font-weight: 500;  padding: 16px!important; 
    height: 52px;border: 1px solid #DFE7F5; background-color: #F9F8FA;	box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);}

    .uploadform ion-item ion-input{color: #043267; font-size: 14px; font-weight: 500;  padding: 16px!important; 
        height: 52px;border: 1px solid #DFE7F5; background-color: #F9F8FA;	box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);}
        .uploadform ion-item ion-input .dob{color: #043267; font-size: 14px; font-weight: 500;  padding: 8px!important; 
            height: 52px;border: 1px solid #DFE7F5; background-color: #F9F8FA;	box-shadow: 0 0 20px 0 rgba(0,0,0,0.08);}

.uploadform ion-item ion-input{text-align: left;}
ion-input{font-size: 14px;	font-weight: 500; 	color: #043267;}
form .uploadform.accountform{ padding: 24px 16px 10px 16px}
.terms{font-size: 14px; color:#77869E;}
.confirm-text {
    font-size: 18px;
    font-weight: 400;
    padding: 32px 16px 16px 16px;
}

.doc-button-margin {
    margin: 8px;
}

.retake-button-padding {
    padding-top: 8px;
}

.account-div {
    min-height: 50px;
    padding: 32px 0px 36px 0px;
    .account-text {
        color: #2C3555;
        font-size: 16px;
        line-height: 25px;
    }
    .grey-text-padding {
        padding: 0px 57px;
    }
}

.account-form {
    padding-top: 24px;
}

form {
    .accountform {
        background-color: #FFFFFF;
        padding: 24px 16px 84px 16px;
        .nominee-text {
            padding: 0px 20px;
        }
        div {
            .check-account-text {
                position: absolute;
                padding-left: 12px;
                font-weight: 300;
            }
        }
    }
    .account-footer {
        background-color: #FFFFFF;
    }
}

ion-select {
    box-sizing: border-box;
    border: 1px solid #F3F1F5;
    border-radius: 10px;
    background-color: #F3F1F5;
    padding: 4px 24px 4px 24px !important;
    margin-top: 12px;
    color: #043267;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    height: 51px;
}

.select-icon {
    padding: 10px !important;
}

.select-placeholder {
    padding: 10px !important;
}
.alert-input-group.sc-ion-alert-md, .alert-message.sc-ion-alert-md {
    padding-bottom: 0px;
}
