<!-- <ion-header class="grey-bg-page-header">
    <ion-toolbar>
        <ion-back-button defaultHref=""></ion-back-button>
        <h2 class="page-header m-b-0"> Account Creation</h2>
    </ion-toolbar>
</ion-header> -->
<ion-header class="grey-bg-page">
    <ion-title>
       <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
       <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
       <span>{{'AccountCreation.headertxt'|translate}}</span>
    </ion-title>
 </ion-header>
 <ion-content>
<!-- <app-header-back headers="{{'AccountCreation.headertxt'|translate}}"></app-header-back> -->
<ion-content class="grey-bg-page">
    <div *ngIf="step ==1">

        <ion-grid>
            <ion-row>
                <ion-col class="ion-padding-bottom" size="12">
                </ion-col>
                <ion-col class="ion-padding-horizontal" size="12">
                    <ul class="circle ion-no-margin">
                        <li>
                            <p class="ion-no-margin">{{'ACDetails.infotxt'|translate}}</p>
                        </li>
                       
                    </ul>
                </ion-col>

            </ion-row>
        </ion-grid>


        <form>
            <div class="uploadform accountform">
                
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">{{'AccountCreation.occ'|translate}}</ion-label>
                    <ion-select class="ion-text-left placeholder" placeholder="{{'AccountCreation.occtxtbox'|translate}}" interface="action-sheet" [(ngModel)]="nomieeDetails.cooupation" name="cooupation" required style="background-color: #F3F1F5;">
                        <ion-select-option value="{{occupation | titlecase}}" *ngFor="let occupation of occupationList">{{occupation | titlecase}}</ion-select-option>
                    </ion-select>

                </ion-item>
                <ion-item lines="none" [attr.disabled] = "nomieeDetails.nonominee">
                    <ion-label position="stacked" class="grey-text">{{'AccountCreation.nomineenm'|translate}}</ion-label>

                    <ion-input class="ion-text-left placeholder" [(ngModel)]="nomieeDetails.nomieeName" name="nomieeName" type="text" placeholder="{{'AccountCreation.nomineenm'|translate}}" class="input" required> </ion-input>
                </ion-item>
                <ion-item lines="none" [attr.disabled] = "nomieeDetails.nonominee">
                    <ion-label position="stacked" class="grey-text">{{'AccountCreation.real'|translate}}</ion-label>
                    <ion-select class="ion-text-left placeholder" interface="action-sheet" placeholder="{{'AccountCreation.realtxtbox'|translate}}" [(ngModel)]="nomieeDetails.relation" name="relation" required>
                        <ion-select-option value="{{relation | titlecase}}" *ngFor="let relation of nomineeTypes">{{relation | titlecase}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <!-- <ion-item lines="none"  [attr.disabled] = "nomieeDetails.nonominee">
                    <ion-label class="ion-text-left" position="stacked" class="grey-text">DOB of Nominee</ion-label>
                    <ion-input name="text" type="date" placeholder="Select Your DOB" [(ngModel)]="nomieeDetails.DOB" required name="dob"></ion-input>
                </ion-item> -->
                <!-- <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">Branch</ion-label>
                    <ion-select class="ion-text-left placeholder" interface="action-sheet" placeholder="Select Your Branch" [(ngModel)]="nomieeDetails.relation" name="relation" required>
                        <ion-select-option value="{{relation | titlecase}}" *ngFor="let relation of nomineeTypes">{{relation | titlecase}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">IFSC Code</ion-label>
                    <ion-input class="ion-text-left placeholder" [(ngModel)]="nomieeDetails.nomieeName" name="nomieeName" type="text" placeholder="IFSC Code" class="input" required> </ion-input>
                </ion-item>
              -->
                <p class="terms ion-padding">
                    <ion-checkbox color="success" [(ngModel)]="nomieeDetails.nonominee" name="nonominee"></ion-checkbox>
                    <span style="margin: 1px 0px 0px 10px; position: absolute;">{{'AccountCreation.declarationtxt'|translate}}</span>
                </p>
 

            </div>
            <div class="ion-padding account-footer">
                <!-- || !(nomieeDetails.relation && nomieeDetails.nomieeName && nomieeDetails.cooupation && !nomieeDetails.nonominee)  && nomieeDetails.nonominee)-->
                <ion-button expand="block" class="demo-button-violet" (click)="nestStep(1)" [attr.disabled]="!nomieeDetails.cooupation">{{'CommonUtility.nxtbtn'|translate}}</ion-button>
            </div>
        </form>
    </div>
    <div *ngIf="step ==2">
        <div class="ion-text-center account-div ion-padding">
            <!-- <h2 class="account-text">Account Creation</h2> -->
            <p class="bank-ac ion-text-center ion-no-margin"> {{'ACDetails.headbankdetails'|translate}}</p>

            <p class="grey-text m-t-0 m-b-0"> {{'ACDetails.infotxt'|translate}}</p>
            <p class="grey-text m-t-0 m-b-0 grey-text-padding"> {{'ACDetails.ifotxtsec'|translate}}</p>
        </div>
        <form>
            <div class="uploadform accountform">
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.ifccodetxt'|translate}}</ion-label>
                    <ion-input [(ngModel)]="bankdetails.ifsccode" (ionBlur)="getBankDetailsByIfc($event.target.value)" name="ifsccode" type="text" placeholder="{{'ACDetails.ifccodetxtbox'|translate}}" class="input" required></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.banknmtxt'|translate}}</ion-label>
                    <ion-input [(ngModel)]="bankdetails.bankname" name="bankname" type="text" placeholder="Bank Name" class="input" required> </ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.branchtxt'|translate}}</ion-label>
                    <ion-input [(ngModel)]="bankdetails.branch" name="branch" type="text" placeholder="Branch" class="input" required></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.statetxt'|translate}}</ion-label>
                    <ion-input [(ngModel)]="bankdetails.state" name="state" type="text" placeholder="{{'ACDetails.statetxtbox'|translate}}" class="input" required></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.citytxt'|translate}}</ion-label>
                    <ion-input [(ngModel)]="bankdetails.city" name="city" type="text" placeholder="City" class="input" required> </ion-input>
                </ion-item>
                <ion-item lines="none" detail='false'>
                    <ion-label position="stacked">{{'ACDetails.acctnumb'|translate}}</ion-label>
                    <ion-input [(ngModel)]="bankdetails.accountno" name="accountno" type="tel" placeholder="Account Number" class="input" required></ion-input>
                </ion-item>

                <ion-item lines="none" [attr.disabled] = "!bankdetails.bankname">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.taxtype'|translate}}</ion-label>
                    <ion-select class="ion-text-left placeholder" interface="action-sheet" placeholder="{{'ACDetails.taxtype'|translate}}" [(ngModel)]="bankdetails.taxtype" name="taxtype" required (ionChange)="getAccountType()">
                        <ion-select-option value="{{tax.TAX_CODE | titlecase}}" *ngFor="let tax of taxData">{{tax.TAX_DESC | titlecase}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item lines="none" [attr.disabled] = "!bankdetails.taxtype">
                    <ion-label position="stacked" class="grey-text">{{'ACDetails.acttyype'|translate}}</ion-label>
                    <ion-select class="ion-text-left placeholder" interface="action-sheet" placeholder="{{'ACDetails.acttyypetxt'|translate}}" [(ngModel)]="bankdetails.accountType" name="accountType" required>
                        <ion-select-option value="{{account.BANK_ACT_VALUE}}" *ngFor="let account of accountTypes">{{account.BANK_ACT_TYPE | titlecase}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <div class="ion-padding account-footer">
                    <ion-button expand="block" class="demo-button-violet" (click)="nestStep(2)" [attr.disabled]="!bankdetails.ifsccode || !bankdetails.accountno || !bankdetails.accountType">
                        {{'CommonUtility.cntbtn'|translate}}</ion-button>
                </div>
            </div>
        </form>
    </div>

</ion-content>