<ion-content class="grey-bg-page ion-padding">
    <div class="ion-text-center">
       <ion-buttons slot="start" class="backbutton-black">
          <ion-back-button defaultHref=""></ion-back-button>
          <h2 class="page-header m-t-0 m-b-0">{{'POAuploadcomplete.uploadPOAheader'|translate}}</h2>
       </ion-buttons>
    </div>
    <ion-grid>
       <ion-row>
          <ion-col class="m-t-0 m-b-0 p-t-0 p-b-0">
             <div class="main-card pan-form-card">
                <img src="/assets/images/aadhaarcard.png" *ngIf="poafrontimg ===''" />
                <img [src]="poafrontimg" *ngIf="poafrontimg && poafrontimg !==''" />
             </div>
          </ion-col>
          <ion-col class="m-t-0 m-b-0 p-t-0 p-b-0">
             <div class="main-card pan-form-card">
                <img src="/assets/images/aadhaarcard.png" *ngIf="poabackimg ===''" />
                <img [src]="poabackimg" *ngIf="poafrontimg && poabackimg !==''" />
             </div>
          </ion-col>
       </ion-row> 
    </ion-grid>


    <form class="main-form" [ngStyle]="{'display': (currentStep != 1) ? 'none' : 'block' }">
    <div class="ion-text-center">
       <h2 class="page-header m-b-0 form-sub-header">Enter the details for your {{docs2[ documentType]}}</h2>
    </div>
    <div class="uploadform">
       <ion-item lines="none" *ngIf="documentType == '1'">
          <ion-label position="stacked"><span style="color: red;">*</span>{{docs2[ documentType]}} Number</ion-label>
          <ion-input  type="number" placeholder="{{docs2[ documentType]}} Number" required [(ngModel)]="poaData.POAID" name ="POAID"></ion-input>
       </ion-item>
       <ion-item lines="none" *ngIf="documentType == '2' || documentType == '3' || documentType == '4' ">
          <ion-label position="stacked"><span style="color: red;">*</span>{{docs2[ documentType]}} Number</ion-label>
          <ion-input  type="text" placeholder="{{docs2[ documentType]}} Number" required [(ngModel)]="poaData.POAID" name ="POAID"></ion-input>
       </ion-item>
       <ion-item lines="none">
         <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.dobtxt'|translate}}</ion-label>
         <ion-datetime  value="{{poaData.DOB}}" displayFormat="DD/MM/YYYY" placeholder="DOB" required [(ngModel)]="poaData.DOB" name ="DOB" ></ion-datetime>
      </ion-item>
       <!-- <ion-item lines="none" *ngIf="documentType == '2' || documentType == '4' ">
          <ion-label  position="stacked" class="grey-text"><span style="color: red;">*</span> Issue Date</ion-label>
          <ion-input  type="date" placeholder="Issue Date" required [(ngModel)]="poaData.IssueDate" name ="IssueDate"></ion-input>
       </ion-item>
       <ion-item lines="none" *ngIf="documentType == '2' || documentType == '4' ">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>Expiry Date</ion-label>
          <ion-input  type="date" placeholder="Expiry Date" required [(ngModel)]="poaData.ExpiryDate" name ="ExpiryDate" ></ion-input>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked"><span style="color: red;">*</span>{{'CommonUtility.nmtxt'|translate}}</ion-label>
          <ion-input  type="text" placeholder="Name" required [(ngModel)]="poaData.Name" name ="Name" ></ion-input>
       </ion-item> -->
       <!-- <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.gendertxt'|translate}}</ion-label>
          <ion-input name="gender" type="text" placeholder="Gender" required [(ngModel)]="poaData.POAID" name ="POAID" ="gender"></ion-input>
       </ion-item> -->

       <!-- <ion-list lines="none">
          <ion-radio-group allow-empty-selection="true">
            <ion-list-header>
             <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.gendertxt'|translate}}</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="male" checked name="gender" [(ngModel)]="poaData.POAID" name ="POAID" ="gender"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="female" name="gender" [(ngModel)]="poaData.POAID" name ="POAID" ="gender"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
       -->
<!-- 

       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.gendertxt'|translate}}</ion-label>
          <ion-select name="gender" class="state_field" required [(ngModel)]="poaData.Gender" name ="Gender" >
             <ion-select-option *ngFor="let gender of genderOption" [value]="gender">
             {{gender}}
             </ion-select-option>
          </ion-select>
       </ion-item> -->
       <!-- <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.dobtxt'|translate}}</ion-label>
          <ion-input  type="date" placeholder="DOB" required [(ngModel)]="poaData.DOB" name ="DOB" ></ion-input>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Addtxt'|translate}}</ion-label>
          <ion-textarea class="addr_fild" name="address"  placeholder="Address" required [(ngModel)]="poaData.Address" name ="Address" (ionFocus)="showAddressMessage()"></ion-textarea>
         
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.citytxt'|translate}}</ion-label>
          <ion-input name="city" type="text" placeholder="City" required [(ngModel)]="poaData.City" name ="City"></ion-input>
       </ion-item>
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>District</ion-label>
          <ion-input name="District" type="text" placeholder="District" required [(ngModel)]="poaData.District" name ="District" ></ion-input>
       </ion-item> -->
       <!-- <ion-item lines="none">         
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Statetxt'|translate}}</ion-label>
          <ion-input name="state" type="text" placeholder="state" value="{{ adharDetails.State}}" required [(ngModel)]="poaData.POAID" name ="POAID" ="state"> </ion-input>
       </ion-item> -->
<!-- 
       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Statetxt'|translate}}</ion-label>
          <ion-select name="state" class="state_field" required [(ngModel)]="poaData.State" name ="State" >
             <ion-select-option *ngFor="let state of stateOption" [value]="state">
             {{state}}
             </ion-select-option>
          </ion-select>
       </ion-item>

       <ion-item lines="none">
          <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Pintxt'|translate}}</ion-label>
          <ion-input name="pin" type="number" placeholder="PIN" maxlength="7" onkeypress="event.value = evet.value.replace(/[^0-9]/g,'');" required [(ngModel)]="poaData.PinCode" name ="PinCode"></ion-input>
       </ion-item> -->
       
       <ion-button expand="block" style="margin: 20px;" (click)="fetchDl()" class="demo-button-violet" type="submit">
          {{'CommonUtility.cntbtn'|translate}}
       </ion-button>  
    </div>
  </form>



    <form class="main-form" [ngStyle]="{'display': (currentStep != 2) ? 'none' : 'block' }">
      <div class="ion-text-center">
         <h2 class="page-header m-b-0 form-sub-header">Enter the details for your {{docs2[ documentType]}}</h2>
      </div>
      <div class="uploadform">
         <ion-item lines="none" *ngIf="documentType == '1'">
            <ion-label position="stacked"><span style="color: red;">*</span>{{docs2[ documentType]}} Number</ion-label>
            <ion-input  type="number" placeholder="{{docs2[ documentType]}} Number" required [(ngModel)]="poaData.POAID" name ="POAID"></ion-input>
         </ion-item>
         <ion-item lines="none" *ngIf="documentType == '2' || documentType == '3' || documentType == '4' ">
            <ion-label position="stacked"><span style="color: red;">*</span>{{docs2[ documentType]}} Number</ion-label>
            <ion-input  type="text" placeholder="{{docs2[ documentType]}} Number" required [(ngModel)]="poaData.POAID" name ="POAID"></ion-input>
         </ion-item>
         <ion-item lines="none" *ngIf="documentType == '2' || documentType == '4' ">
            <ion-label  position="stacked" class="grey-text"><span style="color: red;">*</span> Issue Date</ion-label>
            <ion-datetime value="{{poaData.IssueDate}}" displayFormat="DD/MM/YYYY" placeholder="Issue Date" required  [(ngModel)]="poaData.IssueDate" name ="IssueDate"></ion-datetime>
         </ion-item>
         <ion-item lines="none" *ngIf="documentType == '2' || documentType == '4' ">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>Expiry Date</ion-label>
            <ion-datetime  value="{{poaData.ExpiryDate}}" displayFormat="DD/MM/YYYY" max="2099-10-31" placeholder="Expiry Date" required  [(ngModel)]="poaData.ExpiryDate" name ="ExpiryDate" ></ion-datetime>
         </ion-item>
         <ion-item lines="none">
            <ion-label position="stacked"><span style="color: red;">*</span>{{'CommonUtility.nmtxt'|translate}}</ion-label>
            <ion-input  type="text" placeholder="Name" required [(ngModel)]="poaData.Name" name ="Name" ></ion-input>
         </ion-item>
         <!-- <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.gendertxt'|translate}}</ion-label>
            <ion-input name="gender" type="text" placeholder="Gender" required [(ngModel)]="poaData.POAID" name ="POAID" ="gender"></ion-input>
         </ion-item> -->

         <!-- <ion-list lines="none">
            <ion-radio-group allow-empty-selection="true">
              <ion-list-header>
               <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.gendertxt'|translate}}</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio slot="start" value="male" checked name="gender" [(ngModel)]="poaData.POAID" name ="POAID" ="gender"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio slot="start" value="female" name="gender" [(ngModel)]="poaData.POAID" name ="POAID" ="gender"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
         -->


         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.gendertxt'|translate}}</ion-label>
            <ion-select name="gender" class="state_field" required [(ngModel)]="poaData.Gender" name ="Gender" >
               <ion-select-option *ngFor="let gender of genderOption" [value]="gender">
               {{gender}}
               </ion-select-option>
            </ion-select>
         </ion-item>
         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.dobtxt'|translate}}</ion-label>
            <ion-datetime  value="{{poaData.DOB}}" displayFormat="DD/MM/YYYY" placeholder="DOB" required [(ngModel)]="poaData.DOB" name ="DOB" ></ion-datetime>
         </ion-item>
         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Addtxt'|translate}}</ion-label>
            <ion-textarea class="addr_fild" name="address"  placeholder="Address" required [(ngModel)]="poaData.Address" name ="Address" (ionFocus)="showAddressMessage()"></ion-textarea>
            <!-- <div style="margin-top: 12px; color: #77869E; font-size: 12px;display: none;"><span style="color: red;">*</span>Please write complete address as mentioned in your {{docs2[ documentType] | titlecase}}. Incomplete address may lead to cancellaiton of KYC</div> -->
            <!-- <ion-input name="address" type="text" placeholder="Address" value="{{ adharDetails.Address}}" required [(ngModel)]="poaData.POAID" name ="POAID" ="address"> </ion-input> -->
         </ion-item>
         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.citytxt'|translate}}</ion-label>
            <ion-input name="city" type="text" placeholder="City" required [(ngModel)]="poaData.City" name ="City"></ion-input>
         </ion-item>
         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>District</ion-label>
            <ion-input name="District" type="text" placeholder="District" required [(ngModel)]="poaData.District" name ="District" ></ion-input>
         </ion-item>
         <!-- <ion-item lines="none">         
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Statetxt'|translate}}</ion-label>
            <ion-input name="state" type="text" placeholder="state" value="{{ adharDetails.State}}" required [(ngModel)]="poaData.POAID" name ="POAID" ="state"> </ion-input>
         </ion-item> -->

         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Statetxt'|translate}}</ion-label>
            <ion-select name="state" class="state_field" required [(ngModel)]="poaData.State" name ="State" >
               <ion-select-option *ngFor="let state of stateOption" [value]="state">
               {{state}}
               </ion-select-option>
            </ion-select>
         </ion-item>

         <ion-item lines="none">
            <ion-label position="stacked" class="grey-text"><span style="color: red;">*</span>{{'CommonUtility.Pintxt'|translate}}</ion-label>
            <ion-input name="pin" type="number" placeholder="PIN" maxlength="7" onkeypress="event.value = evet.value.replace(/[^0-9]/g,'');" required [(ngModel)]="poaData.PinCode" name ="PinCode"></ion-input>
         </ion-item>
         
         <ion-button expand="block" style="margin: 20px;" (click)="uploadpoa()" class="demo-button-violet" type="submit">
            {{'CommonUtility.cntbtn'|translate}}
         </ion-button>  
      </div>
    </form>
 </ion-content>