.pan-form-card{
    margin: 16px 0px 16px 0px;
    border-radius: 10px;
    position: relative;
    width: 95%;
    height: 90%;
    img{
        width: 100%;
        height: 100%;
    }
    }
    .confirm-text{
    font-size: 18px;
    font-weight: 400;
    padding: 32px 16px 16px 16px;
    }
    .doc-button-margin{
     margin:8px;
    }
    .retake-button-padding{
    padding-top:8px;
    }
    .addr_fild {
        box-sizing: border-box;
        border: 1px solid #F3F1F5;
        border-radius: 10px;
        background-color: #F3F1F5;
        padding: 4px 24px 4px 24px !important;
        margin-top: 12px;
        color: #043267;
    }

    .state_field {
        box-sizing: border-box;
        border: 1px solid #F3F1F5;
        border-radius: 10px;
        background-color: #F3F1F5;
        padding: 12px 24px 12px 24px !important;
        margin-top: 12px;
        color: #043267;
    }
