 
<ion-content class="violet-bg-page">
    <div  *ngIf="userDetails.Status > 3" class="violet-bg-page top-box">
        <div class="ion-text-center ion-padding">
            <ion-buttons slot="start" class="backbutton-white">
                <ion-back-button defaultHref=""></ion-back-button>
                <h2 class="page-header-white m-t-0 m-b-0">{{'kyccheck.verifyKycheader'|translate}}</h2>
            </ion-buttons>
        </div>
    </div>
    <div  *ngIf='userDetails.Status < 4' class="violet-bg-page top-box">
        <div class="ion-text-center ion-padding">
            <ion-toolbar style="background: #373588 !important;">
                <ion-title style="background: #373588 !important; padding: 0px; margin: 0px; color: #ffffff; height: 56px;padding-right: 50px;">{{'kyccheck.verifyKycheader'|translate}}</ion-title>
                <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin: 0px; height: 56px;">
                  <ion-menu-button autoHide="false"></ion-menu-button>
                </ion-buttons>
            </ion-toolbar>
        </div>
    </div>

    <div class="first_part">
        <ion-card class="card_box">
            <img src="/assets/images/panillustration.png" style="width: 50%;height: 110px; margin: 25px auto;" />
            <ion-card-content>
                <p class="main-text m-t-0 m-b-0" style="text-align: center;">{{'kyccheck.letschecekmanddatorysmheader'|translate}}</p>
                <form [formGroup]="verifyGroup">
                    <ion-input placeholder="{{'kyccheck.enterPantxtbox'|translate}}" style="text-transform: uppercase;" class="main-input-box" formControlName="PAN"></ion-input>
                </form>
                <ion-button expand="block" (click)="showModal()" class="demo-button-violet verify-button-padding">
                    {{'kyccheck.verifyKycheader'|translate}}</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
    <div style="margin-top: 400px; position:absolute; width: 100%; margin-bottom: 25px;">
        <ion-card  class="card_box shape">
            <ion-card-header style="border-bottom: 1px solid #77869E; text-align: center;">
                <ion-card-subtitle>{{'kyccheck.findPandetailsinfo'|translate |uppercase}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content style="padding-top: 10px;">
                <img src="/assets/images/pan-card.png" /></ion-card-content>
        </ion-card>
    </div>



    <!-- <div class="grey-bg-page bottom-box verify-bottom-box">
        <div class="main-grey-card">
            <div class="grey-box-header">
                <p class="grey-paragraph">{{'kyccheck.findPandetailsinfo'|translate |uppercase}}</p>
            </div>
            <div class="grey-box-body">
                <img src="/assets/images/pan-card.png" />
            </div>
        </div>
    </div> -->

    <!-- Footer Section -->
    <!-- <div class="ion-padding" style="position: fixed;padding: 10px 16px;background: #414d93;color: #f1f1f1;bottom: 0;
    width: 100%;">
        <ion-grid>
            <ion-row>
                <ion-col (click)="this.router.navigateByUrl('supportdetails');">
                    <span style="float: left;font-size: 12px; color: #ffff;">Support</span>
                </ion-col>
                <ion-col (click)="this.router.navigateByUrl('faq');">
                    <span style="float: right;font-size: 12px; color: #ffff;">FAQ</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->
</ion-content>