.verify-padding {
    padding: 46px 16px 24px 16px;
}

.verify-button-padding {
    margin: 16px 0px 20px 0px;
}

.verify-card {
    img {
        padding: 0px 32px;
    }
    .main-text {
        color: #212344;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}

.top-box {
    height: auto;
    margin: 0px;
    padding: 0px;
}

.violet-bg-page {
    //background: #f3f1f6;
    --background: #f3f1f6;
}

.first_part {
    background: #373588;
    background: -webkit-gradient(linear, left top, left bottom, from(#373588), color-stop(33%, #373588), color-stop(33%, #f3f3f3), to(#f3f3f3));
    background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
    position: absolute;
}

.shape {
    box-sizing: border-box;
    height: auto;
    width: 325px;
    border: 1px dashed #77869E;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.card_box{
    background: #fff;
    height: auto;
    width: 95%;
    border-radius: 25px;
    margin: auto;
    //box-shadow: 2px 3px 5px 2px #a9a4a4;
}

.my-custom-modal-css .modal-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}