.doc-card{
margin: 8px 8px 24px 8px;
border-radius: 10px;
position: relative;
width: 95%;
height: 40%;
img{
    width: 100%;
    height: 94%;
}
}
.confirm-text{
font-size: 18px;
font-weight: 400;
padding: 32px 16px 16px 16px;
}
.doc-button-margin{
 margin:8px;
}
.retake-button-padding{
padding-top:8px;
}