<ion-content class="ion-padding grey-bg-page">
      <div  class="ion-text-center">
            <div  class="ion-text-center">
                    <ion-buttons slot="start"  class="backbutton-black">
                        <ion-back-button defaultHref=""></ion-back-button>
                        <h2 class="page-header m-t-0 m-b-0">Upload {{headertext}}</h2> 
                      </ion-buttons>
                </div> 
        <!-- <h2 class="page-header m-b-0"> Upload {{headertext}}</h2> -->
        <h2 class="black-text m-b-0 confirm-text">{{'ShowUploadedPAN.iscleartxt'|translate}}</h2></div>   
     <div class="main-card doc-card">
            <img src={{uploadimg}} />
       </div>
       <div class="doc-button-margin">
       <ion-button expand="block" (click)="gotoupload()"  class="demo-button-violet">
            {{'ShowUploadedPAN.yesbtn'|translate}}</ion-button>
      <ion-button expand="block" (click)="gotoupload()"  class="faded-button retake-button-padding">
            {{'ShowUploadedPAN.nobtn'|translate}}</ion-button>
      </div>
  </ion-content>
   <!-- <ion-footer class="ion-text-center ion-padding grey-bg-page"  >
      <ion-row class="email-row-padding">
          <ion-col>
            
          </ion-col>
        </ion-row>

  </ion-footer>  -->