<ion-header>
  <ion-title>
     <span>Statement of Account</span>
  </ion-title>
</ion-header>

<ion-content>
  <ion-grid class="product-cart">
    <ion-card *ngIf="!folioNumber" class="slides-ios white-coler first_part" style="border-radius: 15px;">
      <div class="conf-success white-bg1">
         <img  class="icon-tick-mark1x success-tick" src="/assets/images/soa-illustartion.png"/>
         <div class="white-bg" style="margin-top: -33px;">
            <p class=" ion-padding ion-text-center blue-text" style="margin-bottom: 0px;"><b>Sorry!</b><br/>Your statement of account is still<br/> not available</p> 
         </div>
      </div>
    </ion-card>



    <ion-card *ngIf="folioNumber" class="slides-ios white-coler first_part" style="border-radius: 15px;">
        <div class="conf-success white-bg1">
           <div class="white-bg">
              <p class=" ion-padding ion-text-center blue-text" style="font-weight: 500;">Latest Statement of Account!<br/>(SOA)</p>
           </div>
        </div>
        <ion-row style="margin-bottom: 15px;"> 
            <ion-col size="6" text-center (click)="sendShare(soaBody, soaSubject, soaUrl)">
                <ion-icon class="link linkpadding"  ios="ios-share" md="md-share" style="font-size: 25px;"></ion-icon>
                <div class="link linkpadding supp_text">
                    Share SOA
                </div>
            </ion-col>
            <ion-col size="6" text-center (click)="downloadAndOpenPdf()">
                <ion-icon class="link linkpadding" ios="ios-cloud-download" md="md-cloud-download" style="font-size: 25px;"></ion-icon>
                <div class="link linkpadding supp_text">
                    Download SOA
                </div>
            </ion-col>
        </ion-row>       
    </ion-card> 




    <ion-row *ngIf="!folioNumber" (click)="phoneCall(supportDetails.Phone)" class="ber_pad" style="margin-left: 10px;margin-right: 10px;">
        <ion-col size="10">
            <div class="supp_text">
                <p class="link linkpadding">Call us on <a href="tel:08041222353">080 4122 2353</a></p>
            </div>
        </ion-col>
        <!-- href="mailto:test@test.com" -->
        <ion-col size="1">
            <div class="supprt_lplp">
                <a href="tel:08041222353"><ion-icon name="call"></ion-icon></a>
            </div>
        </ion-col>
    </ion-row>
    <!-- <ion-row class="ber_pad" style="margin-bottom: 10px;">
        <ion-col size="10">
            <div class="supp_text">
                <p class="link linkpadding">Whatsapp us on +91630795152</p>
            </div>
        </ion-col>
        <ion-col size="1">
            <div class="supprt_whats">
                <a href="#"><ion-icon name="mail"></ion-icon></a>
            </div>
        </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
