.vd_text h4{
font-size: 18px;
color: #043267;
margin-bottom: 22px;
}
.btn-ppl {
    background: #EEEEF5;
    padding: 15px 0px 16px 0px;
    text-align: center;
    border-radius: 5px;
}
.vd_grd{
    padding: unset;
    margin-top: 10px;
}
.right-ivodeoicon{
float: right;
}
.right-ivodeoicon ion-icon {
    font-size: 20px;
    color: #353232;
}