<app-header headers="{{'videoPage.header'| translate}}"></app-header>
<ion-content class="ion-padding grey-bg-page">
    <ion-card style="margin: 0px; --background: #fff;margin-bottom: 15px;">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-label>{{title_intro}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="more" style="float: right;"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <iframe *ngIf="lang_intro =='en'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/47ow5Rsx3QY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        <iframe *ngIf="lang_intro =='ka'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/0DiQC9fxHfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        <iframe *ngIf="lang_intro =='hn'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/zvrRziO-OcE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_intro =='ka' }" (click)="showIntroVideos('ka','intro')" expand="block">ಕನ್ನಡ</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_intro =='en' }" (click)="showIntroVideos('en','intro')" expand="block">English</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_intro =='hn' }" (click)="showIntroVideos('hn','intro')" expand="block" >हिंदी</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
    <ion-card style="margin: 0px; --background: #fff;margin-bottom: 15px;">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-label>{{title_save}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="more" style="float: right;"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <iframe  *ngIf="lang_save =='en'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/47ow5Rsx3QY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        <iframe *ngIf="lang_save =='ka'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/R2ygVhWLx5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        <iframe  *ngIf="lang_save =='hn'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/ELyDfTj7O4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_save =='ka' }" (click)="showSaveVideos('ka','save')" expand="block">ಕನ್ನಡ</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_save =='en' }" (click)="showSaveVideos('en','save')" expand="block">English</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_save =='hn' }" (click)="showSaveVideos('hn','save')" expand="block" >हिंदी</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
    <ion-card style="margin: 0px; --background: #fff;margin-bottom: 15px;">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-label>{{title_about}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="more" style="float: right;"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img *ngIf="lang_about =='en'" src="./assets/images/no_video.jpeg" id="auto-path" class="ion-padding-top"/>
                        <img *ngIf="lang_about =='hn'" src="./assets/images/no_video.jpeg" id="auto-path" class="ion-padding-top"/>
                        <iframe *ngIf="lang_about =='ka'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/2vgyjq_Nlig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_about =='ka' }" (click)="showAboutVideos('ka','about')" expand="block">ಕನ್ನಡ</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_about =='en' }" (click)="showAboutVideos('en','about')" expand="block">English</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_about =='hn' }" (click)="showAboutVideos('hn','about')" expand="block" >हिंदी</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
    <ion-card style="margin: 0px; --background: #fff;">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <ion-label>{{title_fee}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="more" style="float: right;"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img *ngIf="lang_fee =='en'" src="./assets/images/no_video.jpeg" id="auto-path" class="ion-padding-top"/>
                        <img *ngIf="lang_fee =='hn'" src="./assets/images/no_video.jpeg" id="auto-path" class="ion-padding-top"/>
                        <iframe *ngIf="lang_fee =='ka'" style="margin: auto;width: 100%;" width="100%" src="https://www.youtube.com/embed/e56hJgUFOUg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_fee =='ka' }" (click)="showFeeVideos('ka','fee')" expand="block">ಕನ್ನಡ</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_fee =='en' }" (click)="showFeeVideos('en','fee')" expand="block">English</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button class="demo-button" [ngClass] ="{'active' : lang_fee =='hn' }" (click)="showFeeVideos('hn','fee')" expand="block" >हिंदी</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>


    <!-- <div class="main_vd">
        <div class="right-ivodeoicon">
            <ion-icon name="more"></ion-icon>

        </div>
        <div class="vd_text">
            <h4>Video text 1</h4>
        </div>
        <div class="vd_img">
            <ion-img src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/United%20Kingdom/London/london-aerial-thames-guide-large.jpg">
            </ion-img>
        </div>
    </div>
      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button class="demo-button" expand="block">ಕನ್ನಡ</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="demo-button active" expand="block">English</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="demo-button" expand="block">हिंदी</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <!-- <div *ngFor="let video of videos">
        <div class="main_vd">
            <div class="right-ivodeoicon">
                <ion-icon name="more"></ion-icon>

            </div>

            <div class="vd_text">
                <h4>{{video.Title}}</h4>
            </div>
            <div class="vd_img">
                <iframe src="https://www.youtube.com/embed/AyS3uw7HZOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>


        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="demo-button" expand="block">ಕನ್ನಡ</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="demo-button active" expand="block">English</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="demo-button" expand="block">हिंदी</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->



</ion-content>