

<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <ion-buttons slot="start" class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h4 class="otp-verify m-b-0"> {{'MobileNumbVerify.head_mobileNumb_txt'|translate}} </h4>
        </ion-buttons>
        <ion-text class="grey-text">{{'MobileNumbVerify.subhead_sentcode_txt'|translate}} to {{regNumber}}.</ion-text>
        <ion-row class="m-t-0 row-otp-padding">
            <ion-text class="grey-text">{{'MobileNumbVerify.subhead1_inputcode_txt'|translate}}</ion-text>
        </ion-row>
    </div>
    <form [formGroup]="verifyGroup">
        <ion-row style="display: none;">
            <ion-col>
                <ion-input clearInput type="tel" pattern="[0-9]" formControlName="Code" maxlength="1" class="otpinput">
                </ion-input>
            </ion-col>
        </ion-row>
    </form>
    <ion-row class="m-t-0 m-b-0">
        <ion-col>
            <div>
                <ion-input name="1" type="tel" pattern="[0-9]" [(ngModel)]="OTP[0]" maxlength="1" class="otpinput" id="input1" #input1 padding-horizontal (keydown)="onKeydownEvent($event,input1,1)"  (keypress)="goToNextInput1($event,input1,input1,input2,0,$event.target.value)">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="2" type="tel" pattern="[0-9]" [(ngModel)]="OTP[1]" maxlength="1" class="otpinput" id="input2" #input2 padding-horizontal (keydown)="onKeydownEvent($event,input1,2)" (keypress)="goToNextInput1($event,input1,input2,input3,1,$event.target.value)">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="3" type="tel" pattern="[0-9]" [(ngModel)]="OTP[2]" maxlength="1" class="otpinput" id="input3" #input3 padding-horizontal (keydown)="onKeydownEvent($event,input2,3)"  (keypress)="goToNextInput1($event,input2,input3,input4,2,$event.target.value)" >
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="4" type="tel" pattern="[0-9]" [(ngModel)]="OTP[3]" maxlength="1" class="otpinput" padding-horizontal id="input4" #input4 padding-horizontal (keydown)="onKeydownEvent($event,input3,4)" (keypress)="goToNextInput1($event,input3,input4,input4,3,$event.target.value);checkLength(input4,$event.target.value);">
                </ion-input>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="m-t-0 row-otp-number-padding">
        <ion-col size="8" class="link link-otp" (click)="this.router.navigateByUrl('login')">
            {{'MobileNumbVerify.hyper_chngNumb'|translate}}
        </ion-col>

        <ion-col size="4" class="link link-otp link-otp-right" (click)="resendOtp()">
            {{'MobileNumbVerify.hyper_resend'|translate}}
        </ion-col>
    </ion-row>


</ion-content>
<ion-footer class="ion-padding grey-bg-page">
    <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="processSMS()" class="demo-button-violet">
                <strong class="white">
                    {{'CommonUtility.cntbtn'|translate}}</strong></ion-button>
        </ion-col>
    </ion-row>
</ion-footer>