<!-- <ion-header class="ion-padding grey-bg-page">
  </ion-header>  -->
<ion-content class="ion-padding grey-bg-page">
    <div  class="ion-text-center m-b-0 email-login-bottom">

        <ion-buttons slot="start"  class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header m-b-0"> {{'Add_other_email.head_Email'| translate}}</h2>
            <!-- <h2 class="top-box-header m-b-0 goal-desc-header">Goal Description</h2>  -->
        </ion-buttons>
       
        <p class="grey-text m-b-0"> {{'Add_other_email.subhead_emailidrequiredtxt'| translate}}</p>
      </div>
      <form [formGroup]="emailGroup">
        <ion-row class="m-t-0 ">
            <ion-input clearInput type="email" placeholder="Enter Email ID" formControlName="Email" class="input email-input" 
              clear-input="true" required></ion-input>
        </ion-row>
        </form>
        <ion-row class="m-t-0">
              <ion-text class="ion-text-center grey-text email-text-left-padding">{{'Add_other_email.eg_txt'| translate}}</ion-text>
           
          </ion-row>      
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page"  >
    <ion-row class="padding-row">
        <ion-col>
          <!-- <span>  <ion-icon name="checkbox" class="check-box"></ion-icon></span> -->
          <ion-checkbox checked="true" [(ngModel)]="checkbox"></ion-checkbox>
          <ion-text text-center class="grey-text email-text">
            {{'Add_other_email.accept_text'| translate}}
            </ion-text> 
        </ion-col>
      </ion-row>
    <ion-row class="email-row-padding">
        <ion-col>
          <ion-button expand="block" (click)="login()"  class="demo-button-violet">
            {{'Add_other_email.btn_cont'| translate}}</ion-button>
        </ion-col>
      </ion-row>

</ion-footer> 
