
  .OTP-border {
    ion-col {
      div {
        border-bottom: 1px solid;
      }
    }
  }
  .linkpadding{
    padding-left:9px;
  }
  .email-row-padding{
    padding-top: 6px;
 }
.padding-row{
 // padding:16px;
 }
  .email-login-bottom{
   padding-bottom:16px;
   .grey-text {
color: #77869E;
font-size: 14px;
line-height: 24px;
padding-top:10px;
}
  }
  .email-text-left-padding{
 padding-left:16px;
  }

  .email-text{
    padding-left: 28px;   
    }