.update-div {
    background: #3A3E8C;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999999;
}
.update-text-div {
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 40%;
    font-size: 25px;
    color: #fff;
}
.update-logo {
    position: absolute;
    top: 20%;
    left: 35%;
}
.update-skip-div {
    position: absolute;
    bottom: 25px;
    float: right;
    right: 20px;
    color: #fff;
}
.update-link-div{
    text-align: center;
    padding: 10px;
    margin-top: 35%;
    color: #fff;
    text-decoration: underline;
    font-size: 20px;
}

[app-viewport],
[overlay-portal],
[nav-viewport],
[tab-portal],
.nav-decor {
  display: none !important;
  background: none transparent !important;
}