<!-- <ion-app >
  <ion-router-outlet></ion-router-outlet>
</ion-app>-->
<ion-app> 
  <ion-menu contentId="content1" side="start">
    <ion-header> 
      <ion-toolbar>
        <p style="font-size: 85px;margin:0px;color: #373588; text-align: 'center';">
          <!-- <ion-icon ios="ios-contact" md="md-contact">
            
          </ion-icon> -->
          <img (error)="userImage='./assets/images/human.png' " src="{{userImage}}" class="profile-image" style="    height: 5rem;
          width: 5rem;
          border-radius: 5rem;
          object-fit: cover;
         " />
        </p>
        <p style="font-size: 12px;color: #373588; margin: unset;">{{ username }}</p>
        <p style="font-size: 10px;
        color: #9898a1;
        margin: unset;
        height: 2rem;
        line-height: .1rem;">{{ emailid }}, {{ mobileno }}</p>

        <!-- Account -->
        <!-- <span style="font-size: 12px;color: #373588;float: left; padding-left: 10%; " *ngIf="account != ''">Associated Acc No :</span><br/>
        <span style="font-size: 10px;color: #9898a1;float: left; padding-left: 2%;margin-top: -20px;" *ngIf="account != '' ">{{ account }}</span> -->
      <!-- Relationship -->
        <!-- <span style="font-size: 12px;color: #373588;float: left; padding-left: 10%; " *ngIf="nominee != '' " >Nominee Name :</span><br/>
        <span style="font-size: 10px;color: #9898a1;float: left; padding-left: 2%;margin-top: -20px;" *ngIf="nominee != ''">{{ nominee }}</span>
       -->
      <!-- Relationship -->
      <!-- <span style="font-size: 12px;color: #373588;float: left; padding-left: 10%; " *ngIf="relation != '' ">Relationship :</span><br/>
      <span style="font-size: 10px;color: #9898a1;float: left; padding-left: 2%;margin-top: -20px;" *ngIf="relation != '' ">{{ relation }}</span>
    -->
      
      </ion-toolbar>
     
    </ion-header>
    <ion-content>
      <ion-list style="padding: 0px;color: #373588;">
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="this.navCtrl.navigateForward('language');"  style="padding: 0px;color: #373588;">
            <ion-icon style="padding-right: 10px;color: #373588;" ios="ios-globe" md="md-globe"></ion-icon>
              <!-- <ion-icon  style="padding: 0px;color: #373588;" [name]="help" slot="start"></ion-icon> -->
                 Language 
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list style="padding: 0px;color: #373588;"  *ngIf="!account || account != '' ">
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="this.navCtrl.navigateForward('profile');"  style="padding: 0px;color: #373588;">
            <ion-icon style="padding-right: 10px;color: #373588;" ios="ios-person" md="md-person"></ion-icon>
              <!-- <ion-icon  style="padding: 0px;color: #373588;" [name]="help" slot="start"></ion-icon> -->
                 Account 
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list style="padding: 0px;color: #373588;">
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="this.navCtrl.navigateForward('faq');"  style="padding: 0px;color: #373588;">
            <ion-icon style="padding-right: 10px;color: #373588;" ios="ios-help-circle" md="md-help-circle"></ion-icon>
              <!-- <ion-icon  style="padding: 0px;color: #373588;" [name]="help" slot="start"></ion-icon> -->
                 FAQs 
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list style="padding: 0px;color: #373588;">
        <ion-menu-toggle auto-hide="true">
          <ion-item  (click)="logout()" style="padding: 0px;color: #373588;">
            <ion-icon style="padding-right: 10px;color: #373588;" ios="ios-power" md="md-power"></ion-icon>
                Logout 
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-list style="padding: 0px;color: #373588;">
        <ion-item>
          <p><small>App version: 2.2.10 </small></p>
        </ion-item>
      </ion-list>
      <ion-item></ion-item>
          <!--
          <ion-text color="Dark">C</ion-text>
          <ion-text color="tertiary">C </ion-text>
           Color Crayons </p> -->
      
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <small>Powered by  </small>
        <a href="http://colorcrayon.in/product" onclick="window.open('https://colorcrayon.in/product', '_system'); return false;">
          <img style="width: 30%; height: 50%;" src="./assets/images/logo-cc.png" class="ion-padding-buttom"/>
      </a>
        </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <!-- <div class="update-div" *ngIf="!sameVerstion">
   <img style="width: 30%;" src="./assets/icon/icon.png" class="update-logo"/>
    <div class="update-text-div" >
       A new update available please update it
       <div class="update-link-div" (click)="openDeveloper()">
          Update it now
      </div>
    </div>
     
    <div class="update-skip-div" *ngIf="!ismandatoryUpdate" (click)="sameVerstion =true">
      Skip for now >>
    </div>
  </div> -->
  
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>