<ion-content class="main-modal">
    <div class="modal-body" *ngIf="pageFor == 'panFailed'">
        <div class="ion-text-center">
            <i class="icon-exclamation1x modal-exclamation-icon" style="font-size: 40px;"> </i>
            <h2 class="modal-page-header m-b-0" style="margin: 0px;"> {{'kyccheck.KYCisNotCompletedsmheaderalert'| translate}} </h2>
            <p class="grey-text m-t-0 modal-text-padding" style="margin: 0px;">{{meaasge}}</p>
            <p class="grey-text m-t-0 modal-text-padding" style="margin: 0px;">{{'kyccheck.Dontoworrytxt'| translate}}</p>
        </div>
        <form [formGroup]="modalGroup">
            <ion-input placeholder="Enter PAN number here" style="text-transform: uppercase;" class="main-input-box m-t-0 modal-input-padding" formControlName="PAN"></ion-input>
        </form>
        <ion-button expand="block" (click)="startkyc()" class="demo-button-violet verify-button-padding">
            {{'kyccheck.strtkycbtn'| translate}} </ion-button>
        <div class="ion-text-center">
            <h6 class="link m-t-0 email-link-padding modal-link-padding" style="padding-top: 0px;" (click)="this.modalCrtl.dismiss()"> {{'kyccheck.changepanbtn'| translate}}</h6>
        </div>
    </div>

    <div class="modal-body" *ngIf="pageFor == 'panSuccess'">
        <div class="ion-text-center">
            <i class="icon-exclamation1x modal-exclamation-icon" style="font-size: 40px;"> </i>
            <h2 class="modal-page-header m-b-0" style="margin: 0px;"> {{'kyccheck.KYCisNotCompletedsmheaderalert'| translate}} </h2>
            <p class="grey-text m-t-0 modal-text-padding" style="margin: 20px;">{{meaasge}}</p>
            <!-- <p class="grey-text m-t-0 modal-text-padding" style="margin: 0px;">{{'kyccheck.Dontoworrytxt'| translate}}</p> -->
        </div>
        <form [formGroup]="modalGroup">
            <ion-input placeholder="Enter PAN number here" class="main-input-box m-t-0 modal-input-padding" formControlName="PAN"></ion-input>
        </form>
        <ion-button expand="block" (click)="this.modalCrtl.dismiss()" class="demo-button-violet verify-button-padding">
            {{'kyccheck.changepanbtn'| translate}} </ion-button>
      </div>

    <div class="modal-body" *ngIf="pageFor == 'iciciSuccess'">

        
        <div class="ion-text-center" style="background: url('/assets/images/confetti-n.png'); height: 150px;">
                
                <i class="icon-tick-mark1x success-tick" style="font-size: 50px; color: #67dd61;position: absolute; left: 41%; top: 15%;"></i>
            <h2 class="modal-page-header m-b-0" style="position: relative; top: 80px;"> KYC has been completed by ICICI</h2>
            <!-- <p class="grey-text m-t-0 modal-text-padding"></p> -->
        </div>
        <!-- <ion-button expand="block" (click)="this.router.navigateByUrl('homeTab');" class="demo-button-violet verify-button-padding"> -->
        <ion-button expand="block" (click)="startTransaction()" class="demo-button-violet verify-button-padding">

           Continue Creating Account </ion-button>
        <div class="ion-text-center">
            <h6 class="link m-t-0 email-link-padding modal-link-padding" (click)="this.modalCrtl.dismiss()"> {{'kyccheck.changepanbtn'| translate}}</h6>
        </div>
    </div>
</ion-content>