.modal-text-padding{
    padding: 0px 24px 0px 24px;
}
.main-modal  {
    position:fixed;
    top:auto;
    right:auto;
    left:auto;
    bottom:0;
 }
 .my-custom-modal-css .modal-wrapper {
     position: fixed;
     left: 0;
     bottom: 0;
     right: 0;
 }