<ion-header>
  <ion-title>
     <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
     <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
     <span>{{'save.savesuccheader'|translate}}</span>
  </ion-title>
</ion-header>

<ion-content class="first">
  <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
    <ion-card class="slides-ios white-coler first_part" *ngIf="savingsmessage=='success'" >
      <div class="conf-success white-bg1">
        <img  class="icon-tick-mark1x success-tick" src="/assets/images/conf_success.svg" *ngIf="savingsmessage=='success'"/>
        <img  class="icon-tick-mark1x failed-tick" style="color: rgb(233, 233, 17);" src="/assets/images/cross.png" *ngIf="savingsmessage =='failed'"/>
         <div class="ion-padding home_cd">
          <p class="m-t-0 grey-text">{{'save.txttransuccmsg1'|translate}} {{ savingAmount }} </p>
          <p class="m-t-0 grey-text" *ngIf="lastTransation">

            <span *ngIf="savingsmessage=='success'">{{'saveres.succtxt1'|translate}}</span>
            <span *ngIf="savingsmessage=='failed'">Don't worry if money is deducted, it will be update  in passbook. Check in 24 hours</span>
            transaction id :  {{lastTransation.transId}}
          
          </p>
          <p class="m-t-0 grey-text" *ngIf="!lastTransation"> {{'save.txttransuccmsg2'|translate}}.</p>
        </div> 
      </div>
    </ion-card>
 


    <!-- crete  -->
    <ion-card class="slides-ios white-coler first_part" *ngIf="savingsmessage=='failed'" >
      <div class="conf-success white-bg1">
        <img  class="icon-tick-mark1x failed-tick2" style="color: rgb(233, 233, 17);" src="/assets/images/cross.png" *ngIf="savingsmessage =='failed'"/>
         <div class="ion-padding home_cd">
          <p class="m-t-0 grey-text" style="line-height: unset; color: #043267;">{{'saveres.inproc1'|translate}} {{ savingAmount }} {{'saveres.inproc0'|translate}}</p>
          <p style="line-height: unset;
          color: #043267;
          padding: unset;
          margin: 25px 0px 0px 0px;">
              {{'saveres.inproc2'|translate}}
          </p>
          <p style="line-height: unset;
          font-weight: 100;
          padding: unset;
          margin: 0px 0px 20px 0px;
          font-size: 12px;color: #043267;">
            {{'saveres.inproc3'|translate}}
          </p>
          <p class="m-t-0 grey-text" style="line-height: unset; color: #043267;"> {{'saveres.transidtxt'|translate}}  {{lastTransation.transId}}.</p>
        </div> 
      </div>
    </ion-card>
  </ion-grid>  
  <ion-grid class="product-cart" *ngIf="goalAchieved">
    <ion-card style="margin-top: 0px;" class="white-coler">
      <ion-row class="ion-padding-top relative ion-padding-horizontal">
        <ion-col>
          <img src="/assets/images/confetti.png" class="ion-padding-top" style="width: 470px;margin: 0px auto;margin-top: -72px;"/>
          <img src="/assets/images/goal-completion.png" class="ion-padding-top" style="width: 109px;margin: 2px auto;margin-top: -70px;    filter: invert(0.2) sepia(44) hue-rotate(200deg) saturate(4) brightness(1);"/>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-text-center">
          <p style="font-weight: 500; margin: -9px;color:#373588;">Yay! You reached your goal</p>
          <p style="font-weight: 500;color:#373588;">of saving ₹ {{goalAmount}}.</p>
          <p style="font-size: 13px; margin-bottom: 25px;"> Set another goal and start savings</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <!-- <ion-grid class="product-cart"  *ngIf="goalStatus">
    <ion-card class="white-coler">
      <ion-row class="ion-padding-horizontal">
        <ion-col text-center size="6">
            <h4 class="price-color">₹{{currentSavings1 | number:'1.0-0'}}</h4>
            <span class="tooltip next-step" style="background: rgba(59, 178, 184, 0.24);">Current Savings</span>
        </ion-col>

          <ion-col text-center size="6">
            <h4 class="price-color">₹{{ nextStop | number:'1.0-0'}}</h4>
            <span class="tooltip next-step">Next Stop</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top relative ion-padding-horizontal">
          <ion-col>
            <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
            <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
            <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
            <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
            <div></div>
            <div class="border-sec"></div>
          </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
          <ion-col class="ion-text-left">
            <span class="ion-no-margin start"> Start </span>
            <p class="ion-no-margin price-color">₹ {{permonthAmount}}</p>
          </ion-col>
          <ion-col class="ion-text-right">
            <span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months </span>
            <p class="ion-no-margin price-color">₹ {{ goalAmount  | number:'1.0-0'}}</p>
          </ion-col>
      </ion-row>

      <ion-row class="ion-padding-horizontal" style="padding-left: 0px; padding-right: 0px;">
        <ion-col style="padding-left: 0px; padding-right: 0px;">
            <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(1)"/>
        </ion-col>
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(2)"/>
        </ion-col>
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(3)"/>
        </ion-col>
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <img src="./assets/images/milestone-award.png" class="ion-padding-top"  [ngStyle]="setGoalStyles()"/>
        </ion-col>
      </ion-row>
      <img src="./assets/images/auto.png" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
      <img src="./assets/images/route.jpg" id="save-auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
    </ion-card>
  </ion-grid> -->
  <ion-grid  *ngIf="goalStatus && savingsmessage=='success'">
    <ion-card class="white-coler">
      <div class="account_summary">
          <img src="/assets/images/confetti-n.png" />
          <div class="white-bg" style="margin-top: -33px;">
            <p class=" ion-padding ion-text-center blue-text">{{'save.succreachstoptxt1'|translate}} {{currentSavings1}} {{'save.succreachstoptxt2'|translate}} .</p> 
            <p class=" ion-padding ion-text-center blue-text">{{'save.txttrgmsg1'|translate}}  {{nextStop}} {{'save.txttrgmsg2'|translate}}</p> 
            <!-- <p class=" ion-padding ion-text-center blue-text">days</p>   -->             
          </div>
      </div>
    </ion-card>
  </ion-grid>

  <ion-grid  *ngIf="goalStatus && savingsmessage=='failed'">
    <div class="white-bg" style="padding: 15px; font-size: 15px;">
      <p class=" ion-padding ion-text-center blue-text blue-text2" style="margin-bottom: 25px;">{{'tips.savheadtxt'|translate}}</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2">{{'tips.savtiptxt1'|translate}}</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2">{{'tips.savtiptxt2'|translate}}</p> 
      <p class=" ion-padding ion-text-center blue-text blue-text2 ">{{'tips.savtiptxt3'|translate}}</p> 
                  
    </div>
  </ion-grid>


</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
  <ion-grid>
    <ion-row class="ion-padding-horizontal">
       <ion-col >
          <ion-button  expand="block" color="#373588" class="sec-color"  (click)="navCtrl.navigateRoot('homeTab')">{{'CommonUtility.homebtn'|translate}}</ion-button>
       </ion-col>
       <ion-col>
          <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('savings')" style="color: white !important;">{{'save.btnsaveMaore'|translate}}</ion-button>
       </ion-col>
    </ion-row>
 </ion-grid>
</ion-footer>