.upload-text-padding{
    padding-left: 10px;

}
ion-header{
    background: #373588;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    --background: none;
  }
  ion-header h2{ font-size: 20px;}
  .white-coler{background-color: #fff;}
  ion-card{ border-radius: 8px;}
  .pan-card-border{border: 2px dashed #DFE7F5; padding: 10px;     border-radius: 8px;}
  
  
  
  ion-content{
    --background: #373588;
    --background: -webkit-gradient(linear, left top, left bottom, from(#373588), color-stop(33%, #373588), color-stop(33%, #f3f3f3), to(#f3f3f3));
    --background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
  }
  .v-aling-medil{ vertical-align: middle;}
