


<ion-header class="ion-no-padding">
    <ion-buttons slot="start" class="backbutton-white">
        <ion-back-button defaultHref=""></ion-back-button>
        <h2 class="page-header-white m-t-0 m-b-0">{{'SignatureUpload.uploadtxtheader'|translate}}</h2>
    </ion-buttons>
    
  </ion-header>


  <ion-content class="first">
    <ion-card class="first_part slides-ios white-coler ion-padding"> 

 
    
        <div class="ion-text-center pan-card-border">
            <p class="grey-text m-t-0 m-b-0 pan-text-heading">Signature e.g</p>
            <img [src]="uploadimg" width="115" style="align-items: center; width: 200px; height: 100px; margin:0px auto;" />
            
        </div>
        <ion-row>
            <ion-col>
                <ion-button expand="block" (click)="capturePic(0)" class="faded-button verify-button-padding">
                    {{'CommonUtility.uploadbtn'|translate}}</ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="block" (click)="capturePic(1)" class="faded-button verify-button-padding">
                    {{'CommonUtility.takePhotbtn'|translate}}</ion-button>
            </ion-col>
        </ion-row>
        <div class="ion-text-left upload-text-padding">
            <p class="grey-text m-t-0 m-b-0 pan-text-heading"><ion-icon class="v-aling-medil" name="radio-button-on"></ion-icon> {{'SignatureUpload.signtxt'|translate}}</p>
            <p class="grey-text m-t-0 m-b-0 pan-text-heading"><ion-icon class="v-aling-medil" name="radio-button-on"></ion-icon> {{'SignatureUpload.makesuretxt'|translate}}</p>
        </div>
  
    

</ion-card>

</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="uploadsign()" class="demo-button-violet">
                {{'SignatureUpload.uploadsignbtn'|translate}}</ion-button>
        </ion-col>
    </ion-row>

</ion-footer>