<ion-tabs>
  <ion-tab-bar slot="bottom" style="box-shadow: 1px -3px 12px grey;">
      <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>{{'tabs.home'| translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="passbook" > 
          <ion-icon name="md-book"></ion-icon>
          <ion-label>{{'tabs.passbook'| translate}}</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>