<ion-header class="grey-bg-page">
  <ion-row>
      <ion-col>
          <h2 class="page-header m-b-0"> {{'CaptureVideoSelfie.capturetxtheader'|translate}}</h2>
      </ion-col>
  </ion-row>
</ion-header>

<ion-content class="ion-padding grey-bg-page">
  <ion-grid class="padding-0">
          <ion-row class="m-t-0">
                  <ion-col class="ion-text-center m-t-0">
                      Please capture your video in minimum resulation.
                  </ion-col>
          </ion-row>
      <ion-row class="m-t-0">
          <ion-col class="ion-text-center m-t-0">
              <!-- <img [src]="showThumb" *ngIf="showThumb" class="pan-icon" style="height: 90%;" /> -->
              <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
              <source [src]="showVideo" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              
          </ion-col>
      </ion-row>


      <ion-row>
          <ion-col>
              <ion-input type="text" [(ngModel)]="ttl" name="ttl"></ion-input>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page" >
  <ion-button expand="block" (click)="captureVideo()" class="demo-button info-misimatch-button-padding" [attr.disabled] = "makeBtnDsable">
      {{'CaptureVideoSelfie.retakebtn'|translate}}</ion-button>

  <ion-button expand="block" (click)="continue()" class="demo-button-violet" >
      {{this.buttonText}}</ion-button>

</ion-footer>