.capture-text{
    font-size:18px;
}
.capture-black-text{
    font-size: 32px;
    padding-top:20px;  
    padding-bottom:16px;
}
.capture-read-text{
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}
.info-misimatch-button-padding{
    margin-top:8px;
}