<app-header-back headers="Personal Information"></app-header-back>
<ion-content >
   <ion-card style="background: #f3f3f3; margin: unset; box-shadow: unset;     margin-top: 20px;">
      <ion-grid>
         <ion-row>
            <ion-col size="4" offset="4" style="margin: unset; padding: unset; height: 7rem;">
               <img (error)="userImage='./assets/images/human.png' " src="{{userImage}}" class="profile-image" />
               <div class="camera_icon" (click)="presentActionSheet()">
                  <ion-icon  ios="ios-camera" md="md-camera" style="font-size: 20px; padding: 3px;"></ion-icon>
               </div>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col style="margin: unset; padding: unset;">
               <ion-item lines="none" style="--background: #f3f3f3;">
                  <ion-label class="ion-text-wrap">
                     <ion-text color="Success" style="text-align: center;">
                        <p>{{currentUserDetails.POIInformation.Name}}</p>
                        <!-- <input type="file" (change)="get_file($event)"/> -->
                     </ion-text>
                  </ion-label>
               </ion-item>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-card>
   <ion-card style="margin: unset;">
      <ion-list style="padding: unset;">
         <ion-item lines="full">
            <ion-icon slot="start" name="call"></ion-icon>
            <ion-label >
               <p style="font-weight: 500;">Phone</p>
               <p>{{currentUserDetails.PhoneNumber}}</p>
            </ion-label>
         </ion-item>
         <ion-item lines="full">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label>
               <p style="font-weight: 500;">Email</p>
               <p>{{currentUserDetails.EmailId}}</p>
            </ion-label>
         </ion-item>
         <ion-item lines="full" *ngIf="userAccountDetails">
            <ion-icon slot="start" name="cash"></ion-icon>
            <ion-label>
               <p style="font-weight: 500;">Account Number</p>
               <p>{{userAccountDetails.AccountNumber}}</p>
            </ion-label>
         </ion-item>
         <ion-item lines="full"  *ngIf="userAccountDetails">
            <ion-icon slot="start" name="key"></ion-icon>
            <ion-label>
               <p style="font-weight: 500;">Folio Number</p>
               <p>{{userAccountDetails.FolioNumber}}</p>
            </ion-label>
         </ion-item>
         <ion-item lines="full"  *ngIf="userAccountDetails">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>
               <p style="font-weight: 500;">Nominee</p>
               <p>{{userAccountDetails.Nominee}}</p>
            </ion-label>
         </ion-item>
         <ion-item *ngIf="userAccountDetails && userAccountDetails.NomineeRelationship" lines="full">
            <ion-icon slot="start" name="pulse"></ion-icon>
            <ion-label>
               <p style="font-weight: 500;">Relationship with nominee</p>
               <p>{{userAccountDetails.NomineeRelationship}}</p>
            </ion-label>
         </ion-item>
      </ion-list>
   </ion-card>
</ion-content>