.profile-image {
    height: 6rem !important;
    width: 6rem !important;
    max-width: 6rem;
    border: 2px solid #045175;
    border-radius: 100px;
    object-fit: cover;
}

.camera_icon {
    color: #045175;
    font-size: 25px;
    font-weight: bold;
    background: #fff;
    border-radius: 19px;
    border: 2px solid #045175;
    position: absolute;
    right: 1.5rem;
    top: 4.2rem;
    height: 30px;
    width: 30px;
}