.OTP-border {
    ion-col {
        div {
            border-bottom: 1px solid;
        }
    }
}

.linkpadding {
    padding-left: 9px;
}

.padding-row {
    padding: 16px;
}

.pin-text-padding {
    padding: 0px 16px 0px 16px;
    margin-bottom: 0;
}

.pin-head-padding {
    padding: 40px 16px 16px 16px;
}

.otp-pin-padding {
    padding: 0px 16px 0px 16px;
}

.otp-label-pin-padding {
    padding: 60px 16px 0px 16px;
}

.otp-register-padding {
    padding-top: 20px;
}

.otp-pin-padding {
    padding: 0px 16px 0px 16px;
}

.otp-label-pin-padding {
    padding: 60px 16px 0px 16px;
}

.otp-register-padding {
    padding-top: 20px;
}

#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
}

#divInner {
    left: 0;
    position: sticky;
}

#divOuter {
    width: 190px;
    overflow: hidden
}