<ion-header class="ion-padding grey-bg-page">
</ion-header>
<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <h2 class="page-header-login m-b-0" style="margin-bottom: 25px !important;"> Login</h2>
    </div>
    <form [formGroup]="otpGroup">
        <ion-row>
            <ion-input clearInput type="tel" (keypress)="checkLengthMob($event,$event.target.value);" placeholder="Enter phone number" pattern="[0-9]*" class="input" clear-input="true" formControlName="PhoneNumber"></ion-input>
            <ion-input clearInput type="tel" class="input" clear-input="true" style="display:none;" formControlName="Pin"></ion-input>
        </ion-row>
    </form>    
    <ion-row>
        <ion-col>
<h6 class="link m-t-0 m-b-0 otp-label-pin-padding">ENTER PIN</h6>
        </ion-col>
        <ion-col (click)="toggleView()">
            <h6 class="link m-t-0 m-b-0 otp-label-pin-padding" style="float: right;">{{showInputText}}</h6>
        </ion-col>
    </ion-row>
    <ion-row class="m-t-0 m-b-0 otp-pin-padding">
        <ion-col tabindex="1">
            <div>
                <ion-input name="1" (keydown)="onKeydownEvent($event,input1,1)" (keypress)="goToNextInput1($event,input1,input1,input2,0,$event.target.value)" #input1 type="tel" [(ngModel)]="OTP[0]" pattern="[0-9]*" size="1" maxlength="1" class="otpinput" padding-horizontal id="input1"  [ngStyle]="{'font-family': flag ? 'text-security-disc' : 'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col tabindex="2">
            <div>
                <ion-input #input3 name="2" (keydown)="onKeydownEvent($event,input1,2)" (keypress)="goToNextInput1($event,input1,input2,input3,1,$event.target.value)" #input2 [(ngModel)]="OTP[1]" type="tel" pattern="[0-9]*" size="1" maxlength="1" class="otpinput" padding-horizontal id="input2" #input2 [ngStyle]="{'font-family': flag ? 'text-security-disc' : 'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
                <!-- <ion-input name="3" type="{{showInputType}}" (keydown)="onKeydownEvent($event,input2,3)" (keypress)="goToNextInput1($event,input2,input3,input4,2,$event.target.value)" #input3 [(ngModel)]="OTP[2]" tabindex="3" maxlength="1" class="otpinput" id="input3" padding-horizontal> -->
            <div>
                <ion-input name="3" type="tel" (keydown)="onKeydownEvent($event,input2,3)" (keypress)="goToNextInput1($event,input2,input3,input4,2,$event.target.value)" #input3 [(ngModel)]="OTP[2]" tabindex="3" pattern="[0-9]*" maxlength="1" class="otpinput" id="input3" padding-horizontal [ngStyle]="{'font-family': flag ? 'text-security-disc' : 'inherit'}">
                </ion-input>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-input name="4" type="tel" (keydown)="onKeydownEvent($event,input3,4)" [(ngModel)]="OTP[3]" (keypress)="goToNextInput1($event,input3,input4,input4,3,$event.target.value);checkLength(input4,$event.target.value);" tabindex="4" maxlength="1" pattern="[0-9]*" #input4 class="otpinput" id="input4" padding-horizontal [ngStyle]="{'font-family': flag ? 'text-security-disc' : 'inherit'}">
                </ion-input>
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="m-t-0 m-b-0 otp-register-padding">
        <ion-col>
            <ion-text text-center class="grey-text block">Did not Register ?
                <span class="link linkpadding" (click)="register()">Register</span></ion-text>
        </ion-col>
    </ion-row>
    <ion-row class="m-t-0 m-b-0 p-t-0 otp-register-padding">
        <ion-col class="p-t-0"  text-center>
            <ion-label>
                <span class="link linkpadding" (click)="forgotPin()">Forget PIN</span>
            </ion-label> 
        </ion-col>
    </ion-row>
    <ion-row class="otp-pin-padding" style="margin-top: 65px;font-size:18px;">
        <ion-col tabindex="1" text-center>
            <ion-label>
                <span class="link linkpadding">Contact us at <a href="tel:08041222353">080-41222353</a></span>
            </ion-label> 
        </ion-col>
    </ion-row>
    
</ion-content>
<ion-footer class="ion-padding grey-bg-page">
    <!-- <ion-row class="padding-row">
    <ion-col>
      <ion-text text-center class="grey-text block" >By clicking "Verify and login", you agree with our <span class="link linkpadding">"Terms and condition"</span> and <span class="link linkpadding">"Privacy policy"</span>
      
        </ion-text> 
    </ion-col>
  </ion-row> -->
    <ion-row>
        <ion-col>
            <ion-button expand="block" (click)="login()" class="demo-button-violet">
                Login</ion-button>


                
        </ion-col>
        <!-- <ion-button expand="block" (click)="openQr()" class="demo-button-violet">
                    QR</ion-button> -->
        <!-- <ion-col>
            <ion-button expand="block" (click)="this.router.navigateByUrl('video-test');" class="demo-button-violet">
                check video</ion-button>
        </ion-col> -->
    </ion-row>
</ion-footer>