<ion-content class="ion-padding grey-bg-page">
    <div  class="ion-text-center">
      <!-- <h2 class="page-header m-b-0"> Upload POA</h2> -->
      <ion-buttons slot="start"  class="backbutton-black">
          <ion-back-button defaultHref=""></ion-back-button>
          <h2 class="page-header m-t-0 m-b-0">{{'listofPOA.listPOAheader'|translate}}</h2> 
        </ion-buttons>
      <p class="grey-text m-t-0 m-b-0 poa-paragraph"> Select the Proof of Address in which Name & DOB match with PAN</p>   
    </div>   

    <ion-grid>
        <ion-row class="email-row-padding"> 
            <ion-col>
                <div class="main-card poa-card" (click)="movepoapage(1)">
                    <img src="/assets/images/aadhaarcard.png" /><br/>
                    <span>Aadhaar Card</span>
                  </div>
            </ion-col>
             <ion-col>
                <div class="main-card poa-card"  (click)="movepoapage(2)">
                    <img src="/assets/images/driving-license.png" /><br/>
                    <span>Driving Licence</span>
                  </div>
            </ion-col>
          </ion-row>
           <ion-row class="email-row-padding">
            <ion-col>
                <div class="main-card poa-card" (click)="movepoapage(3)">
                    <img src="/assets/images/voter-id.png" /><br/>
                    <span>Voter Id</span>
                  </div>
            </ion-col>
            <ion-col>
                <div class="main-card poa-card" (click)="movepoapage(4)">
                    <img src="/assets/images/passport.png" /><br/>
                    <span>Passport</span>
                  </div>
            </ion-col>
          </ion-row>
        </ion-grid>

</ion-content>