.poa-card{
margin: 8px 0px 12px 0px;
border-radius: 10px;
position: relative;
width: 100%;
height: auto;
text-align: center;
color: #043267;
font-size: 12px;

img{
    width: 100px;
    max-height: 70px;
    
}
}
.confirm-text{
font-size: 18px;
font-weight: 400;
padding: 32px 16px 16px 16px;
}


.poa-paragraph{
    padding: 32px 8px 24px 8px;
}
