.row-otp-padding {
    padding: 32px 16px 16px 16px;
}

.row-otp-number-padding {
    padding-top: 20px;
}

.block {
    display: block;
}

.link-otp {
    font-weight: 400;
}

.link-otp-right {
    text-align: right;
}