<ion-header>
  <ion-title>
      <!-- <ion-icon name="md-arrow-round-back" (click)="navCtrl.back()" style="float: left;"></ion-icon> -->
      <span style="float: left;">Verify OTP</span>
      <!-- <span (click)="navCtrl.back()"  style="float: right; color: red;" > cancle</span> -->
      <ion-button (click)="navCtrl.back()" class="demo-button-violet" style="float: right; --background: #a2a2a2; height: 30px; color: #712b2b;">
        Cancel</ion-button>
  </ion-title>
</ion-header><ion-content class="ion-padding grey-bg-page">
  <ion-row style="padding-top: 100px; margin-bottom: 50px; text-align: center;">
      Please enter OTP sent on registerd number
  </ion-row>
  <ion-row class="m-t-0 m-b-0">
      <ion-col>
          <div> 
              <ion-input name="1" type="tel" #input1 id="input1" pattern="[0-9]" [(ngModel)]="OTP1" maxlength="1" class="otpinput" padding-horizontal (keydown)="onKeydownEvent($event,input1,1)" (keypress)="goToNextInput1($event,input1,input1,input2,0,$event.target.value)">
              </ion-input>
          </div>
      </ion-col>
      <ion-col>
          <div>
              <ion-input name="2" type="tel" #input2 id="input2" pattern="[0-9]" [(ngModel)]="OTP2" maxlength="1" class="otpinput" padding-horizontal (keydown)="onKeydownEvent($event,input1,2)" (keypress)="goToNextInput1($event,input1,input2,input3,1,$event.target.value)">
              </ion-input>
          </div>
      </ion-col>
      <ion-col>
          <div>
              <ion-input name="3" type="tel" #input3 id="input3" pattern="[0-9]" [(ngModel)]="OTP3" maxlength="1" class="otpinput" padding-horizontal (keydown)="onKeydownEvent($event,input2,3)" (keypress)="goToNextInput1($event,input2,input3,input4,2,$event.target.value)">
              </ion-input>
          </div>
      </ion-col>
      <ion-col>
          <div>
              <ion-input name="4" type="tel" #input4 id="input4" pattern="[0-9]" [(ngModel)]="OTP4" maxlength="1" class="otpinput" padding-horizontal (keydown)="onKeydownEvent($event,input3,4)" (keypress)="goToNextInput1($event,input3,input4,input5,3,$event.target.value)">
              </ion-input>
          </div>
      </ion-col>
      <ion-col>
          <div>
              <ion-input name="5" type="tel" #input5 id="input5" pattern="[0-9]" [(ngModel)]="OTP5" maxlength="1" class="otpinput" padding-horizontal (keydown)="onKeydownEvent($event,input4,5)" (keypress)="goToNextInput1($event,input4,input5,input5,4,$event.target.value);checkLength(input5,$event.target.value);">
              </ion-input>
          </div>
      </ion-col>
  </ion-row>
  <ion-row style="padding-top: 25px; float: right; margin-right: 10px;">
    <span (click)="verifyOTP('RS', null)" style="text-decoration: underline; color: #0000ff;">Re-Send OTP</span>
</ion-row>
  <ion-row style="bottom: 0px; position: absolute;  width: 90%;">
      <ion-col>
          <ion-button expand="block" (click)="verifyOTP('V', withdrawReturnData.OTP_ID)" class="demo-button-violet">
              Verify OTP</ion-button>
      </ion-col>
  </ion-row>
</ion-content>