<ion-header>
  <ion-title>
     <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
     <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
     <span>{{'withdraw.sccheadertxt'|translate}}</span>
  </ion-title>
</ion-header>
<ion-content class="first">
  <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
    <ion-card class="slides-ios white-coler first_part">
      <div class="conf-success white-bg1">
         <img  class="icon-tick-mark1x success-tick" src="/assets/images/conf_success.svg" style="    margin-top: 15px;" />
         <!-- <i></i> -->
         <div class="ion-padding home_cd" style="    margin: 0px 0px 30px 0px;">
          <p class="m-t-0 grey-text">{{transMessage}}  </p>
          <!-- <p class="m-t-0 grey-text"> {{'withdraw.txtsuccmsg1'|translate}} {{withdrawAmount}} {{'withdraw.txtsuccmsg2'|translate}}  </p> -->
         </div>
         <div class="white-bg" style="margin-top: -33px;">
            <!-- <p class=" ion-padding ion-text-center blue-text" style="margin-bottom: 0px;">{{'withdraw.txtsuccinfo'|translate}} </p>  -->
           <!-- <p class=" ion-padding ion-text-center blue-text" style="margin-top: 0px;margin-bottom: 20px;">account <span  *ngIf="paymentType==2">in next 2 working days</span></p>  -->
         </div>
      </div>
   </ion-card>
  </ion-grid>
  
  <!-- <ion-grid class=" product-cart" *ngIf="goalStatus">
    <ion-card class="white-coler">
      <ion-row class="ion-padding-horizontal">
        <ion-col text-center size="6">
            <h4 class="price-color">₹{{currentSavings1 | number:'1.0-0'}}</h4>
            <span class="tooltip next-step" style="background: rgba(59, 178, 184, 0.24);">Current Savings</span>
        </ion-col>

          <ion-col text-center size="6">
            <h4 class="price-color">₹{{ nextStop | number:'1.0-0'}}</h4>
            <span class="tooltip next-step">Next Stop</span>
          </ion-col>
        </ion-row>
      <ion-row class="ion-padding-top relative ion-padding-horizontal">
          <ion-col>
            <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
            <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
            <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
            <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
            <div></div>
            <div class="border-sec"></div>
          </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
          <ion-col class="ion-text-left">
            <span class="ion-no-margin start"> Start </span>
            <p class="ion-no-margin price-color">₹ {{permonthAmount}}</p>
          </ion-col>
          <ion-col class="ion-text-right">
            <span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months </span>
            <p class="ion-no-margin price-color">₹ {{ goalAmount  | number:'1.0-0'}}</p>
          </ion-col>
      </ion-row>

      <ion-row class="ion-padding-horizontal" style="padding-left: 0px; padding-right: 0px;">
        <ion-col style="padding-left: 0px; padding-right: 0px;">
            <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(1)"/>
        </ion-col>
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(2)"/>
        </ion-col>
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(3)"/>
        </ion-col>
        <ion-col style="padding-left: 0px; padding-right: 0px;">
          <img src="./assets/images/milestone-award.png" class="ion-padding-top"  [ngStyle]="setGoalStyles()"/>
        </ion-col>
      </ion-row>
      <img src="./assets/images/auto.png" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
      <img src="./assets/images/route.jpg" id="save-auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
    </ion-card>
  </ion-grid> -->
 
  <ion-grid *ngIf="goalStatus">
    <div class="white-bg" style="padding: 15px; font-size: 15px;">
      <p class=" ion-padding ion-text-center blue-text blue-text2" style="margin-bottom: 25px;">{{'tips.widsucchead'|translate}}</p>        
      <p class=" ion-padding ion-text-center blue-text blue-text2">{{'tips.widsuccpt1'|translate}}</p>        
      <p class=" ion-padding ion-text-center blue-text blue-text2">{{'tips.widsuccpt2'|translate}}</p>           
    </div>
  </ion-grid>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
  <ion-grid>
    <ion-row>
       <ion-col>
          <ion-button expand="block" (click)="navCtrl.navigateRoot('homeTab')"  class="demo-button-violet">
            {{'CommonUtility.homebtn'|translate}}
          </ion-button>
       </ion-col>
    </ion-row>
 </ion-grid>
</ion-footer>