<ion-header>
  <ion-title>
     <!-- <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;"></ion-icon> -->
     <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;"></ion-icon>
     <span>Goal Set Completion</span>
  </ion-title>
</ion-header>

<ion-content class="first">
  <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
    <ion-card class="slides-ios white-coler first_part">
      <div class="conf-success white-bg1">
        <img src="/assets/images/confetti-n.png" />
        <img  class="icon-tick-mark1x success-tick" src="/assets/images/conf_success.svg" style="margin: 2px auto;margin-top: -70px;"/>
        <div class="ion-padding home_cd">
            <p class="m-t-0 grey-text">Goal Creation successful</p>
            <p class=" ion-padding ion-text-center blue-text account_summary_p" style="line-height: 2px;font-weight: 400;font-size: 13px;">Save Rs. {{permonthAmount}} every week to achieve </p> 
            <p class=" ion-padding ion-text-center blue-text account_summary_p"  style="line-height: 2px;font-weight: 400;font-size: 13px;"> your goal in {{goalTime}} months.</p> 
        </div>
      </div>
    </ion-card>
  </ion-grid>  
  <ion-grid>
    <ion-card class="white-coler">
      <div class="account_summary">
          <img src="/assets/images/confetti-n.png" />
          <div class="white-bg" style="margin-top: -33px;">
            <p class="ion-padding ion-text-center blue-text">Your weekly milestone to achieve</p> 
            <p class="ion-padding ion-text-center blue-text"> the Goal is Rs. {{permonthAmount}}. Save Rs. {{permonthAmount}}</p> 
            <p class="ion-padding ion-text-center blue-text"> to start with!</p> 
          </div>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
  <ion-grid>
    <ion-row class="ion-padding-horizontal" style="padding: 0px;">
       <ion-col >
          <ion-button  expand="block" color="#373588" class="sec-color"  (click)="navCtrl.navigateRoot('homeTab')">Go Home</ion-button>
       </ion-col>       
       <ion-col *ngIf="currentUserDetails.Status == 7">
          <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('bankaccount')" style="color: white !important;">Create Account</ion-button>
       </ion-col>
       <ion-col  *ngIf="currentUserDetails.Status > 7">
          <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('savings')" style="color: white !important;">Save Now</ion-button>
       </ion-col>
    </ion-row>
 </ion-grid>
</ion-footer>