<ion-content class="ion-padding grey-bg-page">
    <div class="ion-text-center">
        <ion-buttons slot="start" class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header "> {{'Chose_email.head_Email'|translate}}</h2>
        </ion-buttons>
        <p class="grey-text"> {{'Chose_email.subhead_emailidrequiredtxt'|translate}}</p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col (click)="signin(true , email1)">
                <div class="card ion-text-center language-signup--card email-card " [ngClass]="(selectedemail===email1 && selectedemail !='')?'simactive':''">
                    <i class="icon-tick-mark1x selectedtick emailtick" *ngIf="selectedemail===email1 && selectedemail !=''"> </i>
                    <ion-icon name="mail" class="mail"></ion-icon>
                    <h6>
                        Email
                    </h6>
                    <p class="m-t-0">
                        {{ email1 }}
                    </p>
                </div>
            </ion-col>
            <!--
                *ngIf="selectedemail === email1"
                <ion-col     (click)="signin(true ,email2)">
                  <div class="card ion-text-center language-signup--card" >
                      <ion-icon name="mail" class="mail"></ion-icon>
                      <h6 class="m-b-0">
                          Email
                      </h6> 
                    <p class="m-t-0">
                      {{ email2 }}
                    </p>
                   </div>
                </ion-col>  -->
        </ion-row>
        <h6 class="link m-t-0 email-link-padding" (click)="signin(false , '')"> {{'Chose_email.hyper_addemail'|translate}}</h6>
    </ion-grid>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-row class="padding-row">
        <ion-col>
            <!-- <span>  <ion-icon name="checkbox" class="check-box"></ion-icon></span> -->
            <span>
                <ion-checkbox checked="true" [(ngModel)]="checkbox"></ion-checkbox>
            </span>
            <ion-text text-center class="grey-text email-text">
                 {{'Chose_email.accept_text'|translate}}
            </ion-text>
        </ion-col>
    </ion-row> 
    <ion-row class="email-row-padding">
        <ion-col>
            <ion-button expand="block" (click)="verify()" class="demo-button-violet">
                {{'Chose_email.btn_cont'|translate}} </ion-button>
        </ion-col>
    </ion-row>

</ion-footer>