
.email-link-padding{
 padding-top:20px;
 padding-left: 16px;
}
.email-text{
padding-left: 28px;   
}
.email-row-padding{
padding-top: 6px;
}
.padding-row{
    padding:16px;
  }
.email-card{
    margin: 0% 25%;
    .emailtick{
      margin-top: -1.5em;
      margin-left: -3em;
    }
    }