<ion-header style="padding: 0px;">
  <ion-toolbar>
    <ion-title>
      {{'tranfilter.transfilterheadertxt'|translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" style="color: gray;font-weight: bolder;">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="tabslink" >
    <div class="tablinks" [ngClass]="(selectedOpt == 'transaction') ? 'active': ''" (click)="openTransactionType('transaction')" style="padding: 0px;">{{'tranfilter.transtypetxt'|translate}}</div>
    <div class="tablinks" [ngClass]="(selectedOpt == 'date') ? 'active': ''" (click)="openTransactionType('date')" style="padding: 0px;">{{'tranfilter.dtbasetxt'|translate}}</div>
  </div>
</ion-header>

<ion-content>
  <ion-list *ngIf="!selectedDateOpt" style="padding-top:0px;">
    <ion-radio-group [(ngModel)]="transactinType">
      <ion-item>
        <ion-radio value="saving"></ion-radio>&nbsp;&nbsp;
        <ion-label>{{'tranfilter.sosradiotxt'|translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="withdrawal"></ion-radio>&nbsp;&nbsp;
        <ion-label>{{'tranfilter.sowradiotxt'|translate}}</ion-label>
      </ion-item>    
      <ion-item>
        <ion-radio value="Success"></ion-radio>&nbsp;&nbsp;
        <ion-label>{{'tranfilter.sostradiotxt'|translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="inProcess"></ion-radio>&nbsp;&nbsp;
        <ion-label>{{'tranfilter.soitradiotxt'|translate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-radio value="Failed"></ion-radio>&nbsp;&nbsp;
        <ion-label>{{'tranfilter.softradiotxt'|translate}}</ion-label>
      </ion-item>
      
    </ion-radio-group>
  </ion-list>
  <ion-list *ngIf="selectedDateOpt" style="padding-top:0px;">
    <ion-radio-group [(ngModel)]="monthWise">
      <ion-item>
        <ion-radio value="thisMonth"></ion-radio>&nbsp;&nbsp;
        <ion-label>This month</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-radio value="lastMonth"></ion-radio>&nbsp;&nbsp;
        <ion-label>Last month</ion-label>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" min="2016" max="2020-10-31" [(ngModel)]="startDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" min="2016" max="2020-10-31" [(ngModel)]="endDate">
      </ion-datetime>
    </ion-item>
  </ion-list>   
  <ion-button (click)="applySelection()" expand="block"  class="demo-button-violet">Submit</ion-button>
</ion-content>
