.tabcontent {
    display: none;
}
.tablinks {
    border-right: none;
    border-left: none;
    border-top: none;
    width: 50%;
    padding: 14px;
    border-bottom:1px solid gray;
    float: left;
    padding: 14px;
    color: gray;
    text-align: center
}
.active {
    // font-weight:bold;
    color: #000;
    background-color: transparent;
    border-bottom:3px solid #373588;
    border-right: none;
    border-left: none;
    border-top: none;
}

.tabslink {
    margin-top: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.tabcontent ion-label
{
    margin-left: 12px;
    color: gray;
    font-size: 14px;
}
.selected_option {
    display: block;
}
.unselected_option {
    display: block;
}
.tablinks {
    font-size: 15px;
}
