<!-- <ion-content  no-scroll padding class="background">  
<img src="../assets/images/covid19.jpeg"> 
  <i class="icon ion-play"></i>  
</ion-content> -->
<ion-content padding class="background" text-right>
  <ion-button color="danger" style="margin-top: -20px;
  margin-right: -20px;
  padding: 0px;" (click)='closeModal()'><ion-icon ios="ios-close" md="md-close"></ion-icon></ion-button>
</ion-content>