<app-header headers="{{'AccountCreation.headertxt'|translate}}"></app-header>
<ion-content class="first">
   <ion-card class="slides-ios white-coler first_part" style="height: 200px; margin-bottom: 30px;">
      <div class="white-bg1">
         <img src="/assets/images/confetti-n.png" class="bg-sec" />
         <i class="icon-tick-mark1x success-tick"></i>
         <div class="ion-padding home_cd">
            <!-- <h5>
               Successfully
               </h5> -->
            <p class="m-t-0 grey-text"> {{'ACDetails.succemesg'|translate}} </p>
            <!-- <p class="m-t-0 grey-text"> successfully created
            </p>-->
         </div>
      </div>

   </ion-card>
   <ion-card class="white-coler">
      <div class="account_summary">
         <img src="/assets/images/confetti-n.png" />
         <div class="white-bg" style="margin-top: -33px;">
            <p class=" ion-padding ion-text-center blue-text">{{'ACDetails.succmsfuserinfomilestone'|translate}} {{ firstMilestone }} .</p> 
            <p class=" ion-padding ion-text-center blue-text">{{'ACDetails.succuserinfosaving'|translate}}</p> 
            <!-- <p class=" ion-padding ion-text-center blue-text">stop soon</p>    -->            
         </div>
      </div>
   </ion-card>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">
   <ion-grid>
     <ion-row class="ion-padding-horizontal" style="padding: 0px;">
        <ion-col >
           <ion-button expand="block" color="#373588" class="sec-color"  (click)="navCtrl.navigateRoot('homeTab')">{{'ACDetails.homebtn'|translate}}</ion-button>
        </ion-col>       
        <ion-col *ngIf="!currentUserDetails.IsGoalCreated"> 
           <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('goalvideo')" style="color: white !important;">Set Goal</ion-button>
        </ion-col>
        <ion-col  *ngIf="currentUserDetails.IsGoalCreated">
           <ion-button expand="block" color="#373588"  class="sec-color" (click)="navCtrl.navigateRoot('savings')" style="color: white !important;">{{'CommonUtility.savebtn'|translate}}</ion-button>
        </ion-col>
     </ion-row>
  </ion-grid>
 </ion-footer>