
<!-- <app-header headers="{{'tabs.home'| translate}}"></app-header> -->
<ion-header style="background: #373588 !important;">
   <ion-icon name="logo-whatsapp"  style="position: absolute;
   font-size: 30px;
   float: right;
   right: 10px;
   top: 29px;
   padding-top: 0px;
   color: green;
   z-index: 999999;"></ion-icon>
   <ion-toolbar style="--background: #373588 !important;">
     <ion-title style="--background: #373588 !important; padding: 0px; margin: 0px 0px 10px 10px; color: #ffffff; height: 56px;"  >
      <p class="header-title header">{{currentUserDetails.POIInformation.Name}}</p>
      <p class="header-subtitle header">{{currentUserDetails.PhoneNumber}}</p>  
      
   </ion-title>
   
     <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin-left: 15px; height: 56px;">
      <!-- <ion-icon name="people"></ion-icon> -->
       <ion-menu-button autoHide="true">
         <img src="./assets/images/user.png" style="max-width: 60px; width: 60px;"/>
       </ion-menu-button>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
 <ion-content>
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
         pullingIcon="arrow-dropdown"
         pullingText="Pull to refresh"
         refreshingSpinner="circles"
         refreshingText="Refreshing...">
      </ion-refresher-content>
   </ion-refresher>


   <!-- <h4 class="price-color">₹{{currentSavings1}}</h4> -->
   <!-- <h4 class="price-color" *ngIf="currentSavings1>0">₹{{currentSavings1}}</h4> -->
   <!-- <h4 class="price-color" *ngIf="currentSavings1 == 0">
       <ion-spinner name="crescent"></ion-spinner>
   </h4> -->
   <!-- <span class="tooltip1">{{'hometran.cursave'|translate}}</span> -->



   <!-- <app-goal-list *ngIf="currentUserDetails.IsGoalCreated; else not7"></app-goal-list> -->
   <div *ngIf="currentUserDetails.IsGoalCreated"> 
      <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
         <ion-card style="margin-top: 0px;" class="white " *ngIf="currentUserDetails.IsGoalCreated">
             <ion-row class="ion-padding-horizontal">
                 <ion-col text-center size="6">
                     <h4 *ngIf="currentSavings1 == 0" class="price-color">₹ -- </h4>
                     <h4 *ngIf="currentSavings1 != 0" class="price-color">₹{{currentSavings1 | number:'1.0-0'}}</h4>
                     <span class="tooltip next-step" style="background: rgba(59, 178, 184, 0.24);">{{'hometran.cursave'|translate}}</span>
                 </ion-col>

                  <ion-col text-center size="6">
                     <h4 *ngIf="nextStop == 0" class="price-color">₹ --</h4>
                     <h4 *ngIf="nextStop != 0" class="price-color">₹{{ nextStop | number:'1.0-0'}}</h4>
                     <span class="tooltip next-step">{{'CommonUtility.txtnxtstop'|translate}}</span>
                  </ion-col>
             </ion-row>
             <ion-row class="ion-padding-top relative ion-padding-horizontal">
                 <ion-col>
                     <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                     <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
                     <div></div>
                     <div class="border-sec"></div>
                 </ion-col>
             </ion-row>
             <ion-row class="ion-padding-horizontal">
                 <ion-col class="ion-text-left">
                     <span class="ion-no-margin start"> {{'hometran.starttxt'|translate}} </span>
                     <p class="ion-no-margin price-color">₹ {{permonthAmount}}</p>
                 </ion-col>
                 <ion-col class="ion-text-right">
                     <span class="ion-no-margin start">{{'hometran.goalintxt1'|translate}}  {{mileStones.length/4}}  {{'hometran.goalintxt2'|translate}} </span>
                     <p class="ion-no-margin price-color">₹ {{goalAmount  | number:'1.0-0'}}</p>
                 </ion-col>
             </ion-row>
             
             <ion-row class="ion-padding-horizontal" style="padding-left: 0px; padding-right: 0px;">
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                     <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(1)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(2)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/stop.png" class="ion-padding-top"  [ngStyle]="setFlagStyles(3)"/>
               </ion-col>
               <ion-col style="padding-left: 0px; padding-right: 0px;">
                  <img src="./assets/images/milestone-award.png" class="ion-padding-top"  [ngStyle]="setGoalStyles()"/>
               </ion-col>
            </ion-row>
            <img src="./assets/images/auto.png" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
            <img src="./assets/images/route.jpg" id="auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
         </ion-card>
      </ion-grid>     
   </div>
   <!-- <ng-template #not7>  -->
   <div *ngIf="!currentUserDetails.IsGoalCreated">    
      <!-- if goal is not created and invested -->
      <ion-grid class=" first_part" *ngIf="currentUserDetails.Status >= 8 && transationDetails.TotalInvestmentAmount > 0">
         <ion-row>
            <div class="clear-fix"></div>
            <ion-col>
               <!-- <h2 class="ion-text-center"> All transcations</h2> -->
               <div class="transation">
                     <h2 class="account-summary"> {{'transac.accsumarytxtsubheader'|translate}}</h2>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
                     <ion-row class="ios hydrated">
                        <ion-col class="ios hydrated border-right">
                           <div>
                              <h2 class="price ">
                                 <ion-icon name="arrow-round-up" class="ioen-font-s"></ion-icon>
                                 &#8377; {{transationDetails.TotalInvestmentAmount}} 
                              </h2>
                              <p class="ion-text-center saved-till-date"> Saved till date</p>
                           </div>
                        </ion-col>
                        <ion-col class="ios hydrated ">
                           <div>
                              <h2 class="price-r ">
                                 <ion-icon name="arrow-round-down" class="ioen-font-s"></ion-icon>
                                 &#8377; {{transationDetails.TotalWithdrawAmount}}
                              </h2>
                              <p class="ion-text-center saved-till-date">Withdrawn till date</p>
                           </div>
                        </ion-col>
                     </ion-row>
                     <ion-row>&nbsp;</ion-row>
                     <ion-row  *ngIf="!currentUserDetails.IsGoalCreated && currentUserDetails.Status >= 7 && goalStatus == 3" style="margin-top: -6px;">
                        <ion-col>
                           <p style="font-weight: 500; margin: -9px;color:#373588;">Yay! You reached your goal</p>
                           <p style="font-weight: 500;color:#373588;">of saving ₹ {{goalAmount}} .</p>
                           <p style="font-size: 13px; margin-bottom: 25px;"> Set another goal and start savings</p>
                           <!--<span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months ₹ {{goalAmount}} </span> -->
                           <!--<p class="ion-no-margin price-color">₹ {{goalAmount}}</p>   -->          
                           <!-- <div class="saved-till-date" style="font-size: 12px;">*Total amount can be withdraw &#8377;{{transationDetails.TotalBalanceAmount}} </div> -->
                        </ion-col>
                     </ion-row>   
                  </div>
            </ion-col>
         </ion-row>
      </ion-grid>
      
      <!-- Slider if goal is not set and not invested -->
      <div class="first_part" *ngIf="(!currentUserDetails.IsGoalCreated && (transationDetails.TotalInvestmentAmount <1 || !transationDetails.TotalInvestmentAmount)) && currentUserDetails.Status >=7">
         <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
               <div class="home_cd">
                  <img src="/assets/images/dashboardicon.png" style="height: 150px; width: 208px" />
                  <p>
                     {{'HomeNGNCA.headimgtxt'|translate}}
                  </p>
               </div>
            </ion-slide>
            <ion-slide>
               <div class="home_cd">
                  <img src="/assets/images/invest.jpg" style="height: 150px; width: 208px" />
                  <p>
                    Welcome to Lakshya  We are here to help on your savings
                   </p>
               </div>
            </ion-slide>
         </ion-slides>
      </div>
   </div>

   <!-- </ng-template> -->
     <!-- && currentUserDetails.Status >= 7 && goalStatus==3 -->
     <!-- !currentUserDetails.IsGoalCreated && currentUserDetails.Status >= 7 && goalStatus==3 -->
     <!-- Uncomment the below to show the goal completion in the home screen-->
     <!--
   <div  *ngIf="!currentUserDetails.IsGoalCreated && currentUserDetails.Status >= 7 && goalStatus == 3" style="margin-top: -6px;">
      <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
         <ion-card style="margin-top: 0px;" class="white">
             <ion-row class="ion-padding-top relative ion-padding-horizontal">
                 <ion-col>
                  <img [src]="slider1" class="ion-padding-top" style="width: 470px;margin: 0px auto;margin-top: -72px;"/>
                  <img [src]="slider2" class="ion-padding-top" style="width: 109px;margin: 2px auto;margin-top: -70px;    filter: invert(0.2) sepia(44) hue-rotate(200deg) saturate(4) brightness(1);"/>
                  </ion-col>
               </ion-row>
                  
                  
               <ion-row class="ion-padding-horizontal">
              <ion-col class="ion-text-center">
                     <p style="font-weight: 500; margin: -9px;color:#373588;">Yay! You reached your goal</p>
                     <p style="font-weight: 500;color:#373588;">of saving ₹ {{goalAmount}} for buying gift.</p>
                     <p style="font-size: 13px; margin-bottom: 25px;"> Set another goal and start savings</p>
                     <span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months </span> 
                     <p class="ion-no-margin price-color">₹ {{goalAmount}}</p> 
                 </ion-col>
             </ion-row> 
         </ion-card>
     </ion-grid>
   </div>
-->   
  
   <!-- Create account option -->
   <ion-grid class="ad_paddin " *ngIf="currentUserDetails.Status < 8 ">
      <ion-card class="hone_cd" (click)="this.navCtrl.navigateRoot('bankaccount');">
         <ion-row>
            <ion-col size="3">
               <div class="iocnlp_image1">
                  <div class="accoe_iocn">
                     <ion-icon name="person"></ion-icon>
                  </div>
               </div>
            </ion-col>
            <ion-col size="8">
               <ion-card-header class="cd_text0">
                  {{'HomeNGNCA.setCA'|translate}}
               </ion-card-header>
               <ion-card-content class="cb_text1">
                  {{'HomeNGNCA.setCAtxt'|translate}}
               </ion-card-content>
            </ion-col>
            <ion-col size="1">
               <div class="card_image_arrow">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
               </div>
            </ion-col>
         </ion-row>
      </ion-card>
   </ion-grid>
   <!-- Save and withdraw button -->
   <ion-grid *ngIf="currentUserDetails.Status >= 8 ">
      <ion-row class="ion-padding-horizontal">
         <ion-col >
            <ion-button color="#373588" class="sec-color" (click)="checkAndNavigate('savings')">{{'hometran.savebtn'|translate}}</ion-button>
         </ion-col>
         <ion-col>
               <ion-button color="#373588"  [ngClass]="{'disable' : transationDetails.TotalBalanceAmount < 1, 'enable' : transationDetails.TotalBalanceAmount > 0}" class="sec-color" (click)="checkAndNavigate('withdraw')" style="color: white !important;">{{'hometran.wtthdrawbtb'|translate}}</ion-button>
            <!-- <ion-button color="#373588" class="with-color ion-float-right" (></ion-button> -->
         </ion-col>
      </ion-row>
   </ion-grid>
   <!-- Set goal option -->
   <ion-grid class="ad_paddin" *ngIf="!currentUserDetails.IsGoalCreated">
      <ion-card class="hone_cd" (click)="this.navCtrl.navigateRoot('goalvideo');">
         <ion-row>
            <ion-col size="3">
               <div class="iocnlp_image1">
                  <div class="accoe_iocn" style="background: #00D793;">
                     <ion-icon name="locate"></ion-icon>
                  </div>
               </div>
            </ion-col>
            <ion-col size="8">
               <ion-card-header class="cd_text0">
                  {{'HomeNGNCA.setgoal'|translate}}
               </ion-card-header>
               <ion-card-content class="cb_text1">
                  {{'HomeNGNCA.setgoaltxt'|translate}}
               </ion-card-content>
            </ion-col>
            <ion-col size="1">
               <div class="card_image_arrow">
                  <ion-icon name="ios-arrow-forward"></ion-icon>
               </div>
            </ion-col>
         </ion-row>
      </ion-card>
   </ion-grid>
   <!-- For calender section -->
   <ion-item lines="none" class="savings-routine" *ngIf="currentUserDetails.Status >= 8" style="--background: #f3f3f3;">
      {{'hometran.saveroutinetxt'|translate}}
   </ion-item>
   <ion-card style="background: #ffff; border-radius: 15px; margin-bottom: 50px;" *ngIf="currentUserDetails.Status >= 8">
      <!-- <ion-card-content *ngIf="transationDetails.TransactionDetails"> -->
      <ion-card-content>
         <ion-grid style="widows: 1000%; text-align: center;">
            <ion-row>
               <ion-col size="1" (click)="goToLastMonth()">
                  <ion-icon name="ios-arrow-dropleft-circle" style="font-size: 25px; color: #9e9e9e;"></ion-icon>
               </ion-col>
               <ion-col size="10" class="days">{{date | date: 'MMMM yyyy'}} </ion-col>
               <ion-col size="1" (click)="goToNextMonth()">
                  <ion-icon name="ios-arrow-dropright-circle" style="font-size: 25px; color: #9e9e9e;"></ion-icon>
               </ion-col>
            </ion-row>
            <ion-row >
               <ion-col>Su</ion-col>
               <ion-col>Mo</ion-col>
               <ion-col>Tu</ion-col>
               <ion-col>We</ion-col>
               <ion-col>Th</ion-col>
               <ion-col>Fr</ion-col>
               <ion-col>Sa</ion-col>
            </ion-row>
            <ion-row  *ngFor="let slot of [1,2,3,4,5,6]">
               <ion-col  class="days" [ngClass]="{'otherMonth' : (slot == 1 && temShowMonth[slot*7-day] > 12)}" *ngFor="let day of [7,6,5,4,3,2,1]" class="days">
              
               <div [ngClass]="{'trans-withdraw' : (getTransType(slot,temShowMonth[slot*7-day]) ==2),'trans-invest' : (getTransType(slot,temShowMonth[slot*7-day]) == 1)}" class="trns-div">{{temShowMonth[slot*7-day]}}</div>
               <div class="withdrawAmt" [ngClass]="{'trans-withdrawamt' : (getTransType(slot,temShowMonth[slot*7-day]) ==2),'trans-investamt' : (getTransType(slot,temShowMonth[slot*7-day]) == 1)}"  *ngIf="getAmount(slot,temShowMonth[slot*7-day])"></div>
               <!-- ₹ {{getAmount(slot,temShowMonth[slot*7-day])}} -->
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col>
                     <ion-row>
                           <ion-col size="3"><div  class="pur-div"></div> </ion-col>
                           <ion-col><div style="float: left;">{{'hometran.coltxtpurchase'|translate}}</div></ion-col>
                        </ion-row> 
               </ion-col>
               <ion-col >
                     <ion-row>
                        <ion-col size="3"><div  class="with-div"></div> </ion-col>
                        <ion-col><div style="float: left;">{{'hometran.coltxtpwithdraw'|translate}}</div></ion-col>
                     </ion-row>
                  </ion-col>
            </ion-row>
         </ion-grid>
      </ion-card-content>
   </ion-card>
</ion-content>