<ion-content class="grey-bg-page">
    <div class="ion-text-center ion-padding">
        <!-- <h2 class="page-header m-b-0"> KYC Form</h2> -->
        <ion-buttons slot="start" class="backbutton-black">
            <ion-back-button defaultHref=""></ion-back-button>
            <h2 class="page-header m-t-0 m-b-0">{{'KYCForm.kycfornheader'|translate}}</h2>
        </ion-buttons>
    </div>

    <div class="ion-text-center">
        <p class="page-header m-b-0 kyc-form-sub-header">{{'KYCForm.pletextsmheader'|translate}}</p>
    </div>

    <form #form="ngForm" [formGroup]="kycGroup" class="main-form">
        <div class="uploadform">
            <ion-item lines="none">
                <ion-label position="stacked">{{'CommonUtility.mthtxt'|translate}}</ion-label>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required formControlName="mothername"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked" class="grey-text">{{'CommonUtility.occtxt'|translate}}</ion-label>
                <ion-input name="password" type="password" placeholder="Password" ngModel required formControlName="occupation"> </ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked" class="grey-text">{{'CommonUtility.incometxt'|translate}}</ion-label>
                <ion-input name="password" type="password" placeholder="Password" ngModel required formControlName="annualincome"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="stacked" class="grey-text">{{'CommonUtility.POBtxt'|translate}}</ion-label>
                <ion-input name="password" type="password" placeholder="Password" ngModel required formControlName="placeofbirth"></ion-input>
            </ion-item>
        </div>
        <div class="kyc-button-padding">
            <ion-button expand="block" (click)="kycconfiem()" class="demo-button-violet" type="submit" [disabled]="kycGroup.invalid">
                {{'CommonUtility.subbtn'|translate}}</ion-button>
        </div>
    </form>
</ion-content>
<!-- <ion-footer class="ion-text-center ion-padding grey-bg-page"  >
     
  </ion-footer>  -->