<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngFor="let p of pages">
      <!-- Standard Menu Item -->
      <ion-menu-toggle *ngIf="p.url">
        <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <!-- Item with Children -->

      <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">
        <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
        <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>

      <!-- Children List for clicked Item -->
      <ion-list *ngIf="p.open">
        <ion-menu-toggle>
          <ion-item *ngFor="let sub of p.children" class="sub-item" [routerLink]="sub.url" routerDirection="root"
            routerLinkActive="active">
            <ion-icon [name]="sub.icon" slot="start"></ion-icon>
            <ion-label>
              {{ sub.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>
    <ion-tab-button tab="speakers">
      <ion-icon name="play"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="map">
     <ion-icon name="paper"></ion-icon>
      <ion-label>Statement</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="headset"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>