@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?fr6lpr');
  src:  url('/assets/fonts/icomoon.eot?fr6lpr#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?fr6lpr') format('truetype'),
    url('/assets/fonts/icomoon.woff?fr6lpr') format('woff'),
    url('/assets/fonts/icomoon.svg?fr6lpr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recipt1x:before {
  content: "\e900";
}
.icon-exclamation1x:before {
  content: "\e901";
}
.icon-tick-mark1x:before {
  content: "\e902";
}
.icon-add1x:before {
  content: "\e903";
  color: #043267;
}
.icon-address-proof1x:before {
  content: "\e904";
  color: #043267;
}
.icon-auto-insurance1x:before {
  content: "\e905";
}
.icon-auto-repair1x:before {
  content: "\e906";
}
.icon-bank1x:before {
  content: "\e907";
  color: #043267;
}
.icon-buy-auto1x:before {
  content: "\e908";
}
.icon-circle1x:before {
  content: "\e909";
}
.icon-confetti-success1x:before {
  content: "\e90a";
}
.icon-down-arrow1x:before {
  content: "\e90b";
}
.icon-Emergency1x:before {
  content: "\e90c";
}
.icon-festival1x:before {
  content: "\e90d";
}
.icon-folio1x:before {
  content: "\e90e";
}
.icon-goal-completion1x:before {
  content: "\e90f";
}
.icon-help1x:before {
  content: "\e910";
  color:#E1A434;
}
.icon-lang-english1x:before {
  content: "\e911";
}
.icon-lang-kannada1x:before {
  content: "\e912";
}
.icon-language1x:before {
  content: "\e913";
}
.icon-milestone-award1x:before {
  content: "\e914";
}
.icon-no-purpose1x:before {
  content: "\e915";
  color: #3f3c93;
}
.icon-scanned-signature1x:before {
  content: "\e916";
  color: #3f3c93;
}
.icon-school-fees1x:before {
  content: "\e917";
  color: #3f3c93;
}
.icon-flag:before {
  content: "\26F3";
  color: #3f3c93;
}
.icon-sim-card1x:before {
  content: "\e918";
}
.icon-stop1x:before {
  content: "\e919";
}
.icon-substract1x:before {
  content: "\e91a";
}
.icon-up-arrow1x:before {
  content: "\e91b";
}
