@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
@import url(./fontstyle.css);
@import url(./../node_modules/text-security/dist/text-security.css);

:root,
:root[mode="md"],
:root[mode="android"] {
    --ion-font-family: 'Rubik', sans-serif;
    font-family: var(--ion-font-family) !important;
}

.list-md {
    background: none;
}

ion-content {
    --background: #f3f3f3;
}

.pinInput {
    padding-left: 15px;
    letter-spacing: 63px;
    border: 0;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, black), color-stop(0%, rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 80px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 300px;
}

.page-header {
    color: #043267;
    font-size: 20px;
    font-weight: 400;
    width: 74%;
    text-align: center;
}

.page-header-white {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    width: 74%;
    text-align: center;
}

.page-header-login {
    color: #043267;
    font-size: 20px;
    font-weight: 500;
    //line-height: 38px;
    text-align: center;
}

.video-header {
    padding: 0px 72px;
    margin-top: -0.4em;
    font-weight: 400;
    font-size: 19px;
    width: 100%;
}

.pin-page-header {
    color: #043267;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.padding-0 {
    padding: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-t-0 {
    padding-top: 0 !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.grey-text {
    color: #77869E;
    font-size: 14px;
    line-height: 24px;
}

.block {
    display: block;
}

.black-text {
    color: #2C3555;
    font-size: 16px;
    font-weight: 400;
}

.blue-text {
    color: #043267;
    font-size: 14px;
    line-height: 24px;
}

.card-blue-text {
    color: #043267;
    font-size: 18px;
    line-height: 24px;
}

.card {
    border-radius: 10px;
    background-color: #FDFDFD;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    &.active,
    &.simactive {
        border: 2px solid #3F3C93;
        h6 {
            font-weight: 500;
        }
        i {
            color: #3F3C93;
        }
        .mail {
            color: #3F3C93;
        }
    }
}

.language-signup--card {
    padding: 40px 12px 24px 12px;
    border: 2px solid #DFE7F5;
    &.active {
        .selectedtick {
            font-size: 23px;
            position: absolute;
            margin-top: -1.1em;
            text-align: right;
            width: 39%;
            color: #24996A;
        }
    }
    &.simactive {
        .selectedtick {
            font-size: 23px;
            position: absolute;
            margin-top: -1.1em;
            text-align: right;
            width: 49%;
            color: #24996A;
        }
    }
    i {
        font-size: 40px;
        color: #686980;
    }
    .mail {
        font-size: 40px;
        color: #77869E;
    }
    h4 {
        color: #3F3C93;
        font-size: 32px;
    }
    h6 {
        color: #043267;
        letter-spacing: 0.25px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4px !important;
    }
    h5 {
        color: #043267;
        font-size: 14px;
        font-weight: 500;
        padding-top: 18px;
    }
    p {
        color: #77869E;
        font-size: 12px;
    }
}

.link {
    color: #436BF7;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.footer-md:before,
.header-md:after {
    background: none;
}

.faded-button {
    border-radius: 8px;
    --background: #EEEEF5;
    --background-focused: #EEEEF5;
    --background-hover: #EEEEF5;
    color: #3F3C93;
    font-size: 13px;
    font-weight: 500;
    height: 48px;
    // width: 154px;
    text-transform: none;
}

.footer-padding {
    padding: 12px 16px 12px 16px;
}

.footer-text {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-color {
    background-color: #3F3C93;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.demo-button {
    border-radius: 8px;
    --background: #EEEEF5;
    color: #3F3C93;
    font-size: 13px;
    height: 48px;
    font-weight: 500;
    text-transform: none;
    &.active {
        --background: #3F3C93;
        color: #FFFFFF;
    }
}

.demo-button-violet {
    border-radius: 8px;
    color: #FFFFFF;
    --background: #3F3C93;
    // font-size: 16px;
    font-size: .9rem;
    font-weight: 500;
    border-radius: 8px;
    height: 48px;
    text-transform: none;
}

.input {
    background-color: #FFFFFF;
    border-radius: 10px;
    // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    color: #043267;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    height: 51px;
    //margin: 28px 16px 16px 16px;
}

.check-box {
    font-size: 22px;
    color: #24996A;
    position: absolute;
}

.otpinput {
    text-align: center;
    height: 51px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.violet-bg-page {
    background: #373588;
    --background: #373588;
}

.grey-bg-page {
    background: #F8F7F9;
    --background: #F8F7F9;
    margin-top: -1px;
}

.grey-bg-page-header {
    background: #F8F7F9;
    --background: #F8F7F9;
    ion-toolbar {
        --background: transparent;
    }
}

.top-box {
    height: 32%;
    margin: 0px;
    padding: 0px;
}

.top-box-header {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    box-shadow: none;
}

.bottom-box {
    height: 68%;
    margin: 0px;
    padding: 0px;
}

.main-modal {
    --background: transparent;
    .modal-body {
        background: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        border-radius: 12px 12px 0px 0px;
        widows: 100%;
        height: 100%;
        padding: 16px;
        .modal-page-header {
            color: #043267;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
        }
        .modal-input-padding {
            margin-bottom: 12px;
        }
        .modal-link-padding {
            padding-top: 16px;
            font-size: 16px;
        }
    }
}

.main-input-box {
    box-sizing: border-box;
    border: 1px solid #F3F1F5;
    border-radius: 10px;
    background-color: #F3F1F5;
    padding: 4px !important;
    margin-top: 12px;
    box-shadow: 1px 1px 3px 1px #b1b1b1;
}






.main-grey-card {
    border: 0.1rem dashed #77869E;
    border-radius: 12px;
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 90%;
    margin: 55% 16px 32px 16px !important;
    background-color: transparent;
    .grey-box-header {
        border-bottom: 1px solid #77869E;
        .grey-paragraph {
            color: #043267;
            font-size: 16px;
            font-weight: 500;
            padding: 4px 32px 4px 8px;
        }
    }
    .grey-box-body {
        text-align: center;
        img {
            width: 100%;
            padding: 16px;
        }
        .grey-paragraph {
            color: #042C5C;
            font-size: 14px;
            line-height: 17px;
            padding: 16px 16px 12px 16px;
        }
    }
    ion-list {
        ion-item {
            h2 {
                color: #043267;
                font-size: 17px;
                font-weight: 500;
                //line-height: 38px;
                text-align: center;
            }
        }
    }
}

/***
.my-custom-modal-css .modal-wrapper {
    height: 50%;
    top: 50%;
    position: absolute;
    display: block;
    --background: transparent;
}
**/
.my-custom-modal-css .modal-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
.dotted-box {
    border: 0.1rem dashed #DFE7F5;
    padding: 16px;
    margin-top: 73%;
    .video-paragraph {
        color: #043267;
        font-size: 16px;
        font-weight: 500;
    }
    .kyc-heading {
        font-size: 16px;
        text-align: left;
        padding-top: 7px;
    }
}

.uploadform {
    ion-item {
        --background: transparent;
        ion-label {
            color: #77869E !important;
            font-size: 18px !important;
            line-height: 24px;
            padding-left: 8px;
        }
        ion-input {
            box-sizing: border-box;
            border: 1px solid #F3F1F5;
            border-radius: 10px;
            background-color: #F3F1F5;
            padding: 4px 24px 4px 24px !important;
            margin-top: 12px;
            color: #043267;
        }
    }
}

.main-form {
    background: #FFFFFF;
}

.form-sub-header {
    padding: 28px 24px 8px 24px;
    font-size: 16px;
    width: 100%;
}

table {
    border: 1px solid #DFE7F5;
    border-radius: 10px;
    background-color: #FDFDFD;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    th {
        color: #77869E;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        border: 1px solid rgba(#000, 0.2);
        padding: 16px 12px;
    }
    tr {
        td {
            color: #043267;
            line-height: 17px;
            border: 1px solid rgba(#000, 0.2);
            padding: 16px 12px;
        }
    }
}

ion-header {
    color: #043267;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    padding: 16px 0;
    --background: none;
}

.videoframe {
    padding: 16px;
    background: #FFFFFF;
    iframe {
        width: 100%;
        height: 300px;
    }
}

.pan-icon {
    height: 100%;
}

.card_image {
    padding: 8px !important;
    height: 100%;
}

.card_image_arrow {
    padding: 40px 0px !important;
    height: 100%;
}

.summary-card {
    padding: 24px 16px;
    p {
        padding: 3px 0px;
        color: #77869E;
        font-size: 14px;
        line-height: 17px;
        font-weight: 380;
        .tickmark {
            padding-right: 5px;
            font-size: 12px;
            color: #24996A;
        }
    }
}

.goal-setting-btn {
    height: 30px;
    width: 85px;
    background: rgba(91, 114, 222, 0.2);
    color: #2C3555;
    font-size: 11px;
    letter-spacing: 0.19px;
    line-height: 13px;
    text-align: center;
}

.goalborder {
    border: 0.1rem dashed #77869E;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.backbutton-white {
    color: #FFFFFF;
}

.backbutton-black {
    // color: #FFFFFF;
}

.modal-exclamation-icon {
    color: #E9520C;
    font-size: 72px;
}

.successtick {
    position: absolute;
    margin-left: -54%;
    margin-top: 15%;
    font-size: 60px;
    color: #24996A;
}

@media screen and (max-height: 640px) {
    .main-card {
        background-color: #FFFFFF;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        padding: 16px;
        height: 48%;
        border-radius: 12px;
        position: absolute;
        width: 91%;
        margin: -128px 16px 12px 16px;
        p {
            color: #043267;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
        }
    }
    .verify-card {
        height: 54%;
    }
    .upload-pan-card-one {
        margin: -110px 16px 12px 16px;
        height: 60%;
    }
    .upload-pan-card {
        margin: 64% 16px 32px 16px !important;
    }
    .main-grey-card {
        margin: 64% 16px 32px 16px;
        background-color: #FFFFFF;
    }
    .verify-bottom-box {
        height: 87%;
    }
    .startkyc-card {
        height: 35%;
    }
    .start-dotted-box {
        margin-top: 70%;
        background-color: #FFFFFF;
    }
    .signature-card {
        height: 54%;
        margin: -110px 16px 12px 16px;
    }
    .video-card {
        height: 47%;
        margin: -118px 16px 12px 16px;
    }
    .upload-video-selfie {
        margin: 42% 16px 32px 16px !important;
    }
}

@media screen and (min-height: 650px) and (max-height: 731px) {
    .main-card {
        background-color: #FFFFFF;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        padding: 16px;
        height: 48%;
        border-radius: 12px;
        position: absolute;
        width: 91%;
        margin: -156px 16px 12px 16px;
        p {
            color: #043267;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
        }
    }
    .verify-card {
        height: 48%;
    }
    .upload-pan-card-one {
        margin: -136px 16px 12px 16px;
        height: 52%;
    }
    .upload-pan-card {
        margin: 64% 16px 32px 16px !important;
    }
    .main-grey-card {
        margin: 52% 16px 32px 16px;
        background-color: #FFFFFF;
    }
    .verify-bottom-box {
        height: 74%;
    }
    .startkyc-card {
        height: 28%;
    }
    .start-dotted-box {
        margin-top: 58%;
        background-color: #FFFFFF;
    }
    .signature-card {
        height: 48%;
        margin: -136px 16px 12px 16px;
    }
    .video-card {
        height: 38%;
        margin: -134px 16px 12px 16px;
    }
    .upload-video-selfie {
        margin: 30% 16px 32px 16px !important;
    }
}

@media screen and (min-height: 732px) and (max-height: 823px) {
    .main-card {
        background-color: #FFFFFF;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        padding: 16px;
        height: 48%;
        border-radius: 12px;
        position: absolute;
        width: 91%;
        margin: -186px 16px 12px 16px;
        p {
            color: #043267;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
        }
    }
    .verify-card {
        height: 44%;
    }
    .upload-pan-card-one {
        margin: -168px 16px 12px 16px;
        height: 46%;
    }
    .upload-pan-card {
        margin: 64% 16px 32px 16px !important;
    }
    .main-grey-card {
        margin: 48% 16px 32px 16px;
        background-color: #FFFFFF;
    }
    .verify-bottom-box {
        height: 68%;
    }
    .startkyc-card {
        height: 24%;
    }
    .start-dotted-box {
        margin-top: 58%;
        background-color: #FFFFFF;
    }
    .signature-card {
        height: 42%;
        margin: -164px 16px 12px 16px;
    }
    .video-card {
        height: 32%;
        margin: -168px 16px 12px 16px;
    }
    .upload-video-selfie {
        margin: 20% 16px 32px 16px !important;
    }
}

@media screen and (min-height: 824px) and (max-height: 1520px) {
    .main-card {
        background-color: #FFFFFF;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        padding: 16px;
        height: 48%;
        border-radius: 12px;
        position: absolute;
        width: 91%;
        margin: -160px 16px 12px 16px;
        p {
            color: #043267;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
        }
    }
    .verify-card {
        height: 48%;
        // margin-top:10px;
    }
    .upload-pan-card-one {
        margin: -168px 16px 12px 16px;
        height: 60%;
    }
    .upload-pan-card {
        margin: 64% 16px 32px 16px !important;
    }
    .main-grey-card {
        margin: 51% 16px 32px 16px;
        background-color: #FFFFFF;
    }
    .verify-bottom-box {
        height: 72%;
    }
    .startkyc-card {
        height: 26%;
    }
    .start-dotted-box {
        margin-top: 58%;
        background-color: #FFFFFF;
    }
    .signature-card {
        height: 54%;
        margin: -164px 16px 12px 16px;
    }
    .video-card {
        height: 52%;
        margin: -118px 16px 12px 16px;
    }
    .upload-video-selfie {
        margin: 64% 16px 32px 16px !important;
    }
}


.trans-withdraw{
    border: 1px solid #e41a56;
    // border: 1px solid #373588;
    border-radius: 100%;
    height: 20px; 
    width: 20px;
   // padding: 3px 7px;
//    background: #373588;
    border: 1px solid #e41a56;
    background: #e41a5747;
    color: #86062c !important;
}
.trans-invest{
    border: 1px solid #00E0A7;
    border-radius: 100%;
    /* height: 20px; */
    /* width: 25px; */ 
    //padding: 3px 7px;
    background:rgba(0,228,176,0.22);
    color: #1E8354 !important;
}


.trans-withdrawamt{
   // border: 1px solid #373588;
//    color: #373588 !important;
//    color: #e41a56 !important;
//border: 1px solid #e41a56;
    background: #e41a5791;  
}
.trans-investamt{
    // border: 1px solid #00E0A7;
    // border-radius: 50px;
    /* height: 20px; */
    /* width: 25px; */
    //padding: 3px 7px;
    // background:rgba(0,228,176,0.22);
    color: #1E8354 !important;
}


.trns-div{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 3px;
}

.withdrawAmt{
 font-size: 10px;
 font-weight: 200;
}

.modal-wrapper{
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    width: 98vw;
    height: 25rem !important;
    top: 55%;
    margin: 0 auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
}
.covid19 .modal-wrapper {
    top: 25%;
    height: 55vh !important;
    position: absolute;
    display: block;
    width: 75%;
 }
 .passbookFilter .modal-wrapper {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    top: 43%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 57% !important;

    ion-label {
        font-size: 14px;
     }
 }
 
 ion-content.background{
    --background: url(./assets/images/covid19.jpeg) 0 0/100% 100% no-repeat;
}


ion-datetime {
    box-sizing: border-box;
    border: 1px solid #F3F1F5;
    border-radius: 10px;
    background-color: #F3F1F5;
    padding: 10px 24px 10px 24px !important;
    margin-top: 12px;
    color: #043267;
}