$midnight: #2c3e50;
$clouds: #ecf0f1;
// General
body {
    color: $midnight;
    background: $clouds;
    padding: 0 1em 1em;
}

h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}

h2 {
    margin: 0 0 .5em;
    font-weight: normal;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

// Layout

/* Accordion styles */

// .tabs {
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
// }
/*.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        cursor: pointer;
        &::after {
            content: "+";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
        }
    }
    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $midnight;
        background: white;
        transition: all .35s;
    }
    &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer;
        &:hover {
            background: darken($midnight, 10%);
        }
    }
}

// :checked
input:checked {
    +.tab-label {
        background: darken($midnight, 10%);
        &::after {
            transform: rotate(180deg);
        }
    }
    ~.tab-content {
        max-height: 100vh;
        padding: 1em;
    }
}

// main csss/////
.tab_main {
    width: 100%;
}

.tab-label {
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1em;
    background: #ffffff;
    cursor: pointer;
    color: #777;
    // border-bottom: 1px solid #ccc;
    font-size: 18px;
}

input:checked+.tab-label {
    background: #fff !important;
    color: #043267 !important;
    &::after {
        content: '\2212';
    }
}*/


.tab {
    width: 100%;
    color: white;
    overflow: hidden;
    border-bottom: 1px solid #97979730;
  }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #ffffff;
    color: #043267;
    font-weight: bold;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  .tab-label:hover {
    background: #fff;
  }
  .tab-label::after {
    content: "+";
    font-size: 24px;
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
    color: #77869E;
    font-weight: normal;
  }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
    font-size: 14px;
    color:#77869E;
  }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
  }
  .tab-close:hover {
    background: #fff;
  }
  input:checked + .tab-label {
    background: #fff;
  }
  input:checked + .tab-label::after {
    content: "-";
    font-size: 24px;
    font-weight: normal;
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

.faq_text {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #31314b;
}