<ion-header  style="background: #373588 !important;">
    <ion-title>
       <ion-icon name="md-arrow-round-back" (click)="getBack()" style="float: left;padding-top: 10px;color: #ffffff;"></ion-icon>
       <span style="color: #ffffff;">FAQ</span>
    </ion-title>
  </ion-header>
<ion-content>
    <div class="row">
        <div class="col">
            <div class="tab" *ngFor="let faq of faqs;let i=index">
                <input type="checkbox" id="chck{{i}}">
                <label class="tab-label" for="chck{{i}}" style="color: #043267;">
                  {{faq.CategoryName }}
                </label>
                <div class="tab-content" *ngFor="let qa of faq.Questions; let j= index">
                    <div style="color: #043267;font-size: 16px;">{{j+1}}. {{qa.Question }}</div><br> {{qa.Answer }}
                </div>
            </div>
        </div>
    </div>
</ion-content>