<app-header-back headers="{{'Reg1.Howlakshyaworks'| translate}}">
</app-header-back>
<ion-content class="ion-padding grey-bg-page">
    <!-- <div  class="ion-text-center header-text">
     <ion-buttons slot="start" >
        <ion-back-button defaultHref=""></ion-back-button>
             <h2 class="page-header m-b-0 video-header" *ngIf="pageheader && pageheader === 'lakhshyaworks'"> {{'Reg1.Howlakshyaworks'| translate}}</h2>    
              <h2 class="page-header m-b-0 video-header" *ngIf="pageheader && pageheader === 'SetGoal'"> Set Goal </h2>    
       </ion-buttons>
        </div> -->
    <div class="videoframe">
        <iframe [src]="getSafeURL(vidoLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="demo-button" [ngClass] ="{'active' : language =='ka' }" (click)="checkVideo('ka')"  expand="block">ಕನ್ನಡ</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="demo-button" [ngClass] ="{'active' : language =='en' }" (click)="checkVideo('en')" expand="block">English</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="demo-button" [ngClass] ="{'active' : language =='hn' }" (click)="checkVideo('hn')" expand="block">हिंदी</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="summary-card" *ngIf="pageheader && pageheader === 'lakhshyaworks'">
        <h2 class="black-text m-b-0">{{'Reg1.Features'|translate}}</h2>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>{{'Reg1.stmt1'| translate}}</p>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>{{'Reg1.stmt2'| translate}}</p>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>{{'Reg1.stmt3'| translate}}</p>
    </div>

    <div class="summary-card" *ngIf="pageheader && pageheader === 'SetGoal'">
        <h2 class="black-text m-b-0">Remember</h2>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>Set goal to remain focused</p>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>Save daily to reach goal</p>
        <p class="m-t-0 m-b-0">
            <ion-icon name="checkmark" class="tickmark"></ion-icon>No penalty if you miss</p>
    </div>
</ion-content>
<ion-footer [ngClass]="showvideo ? 'ion-text-center footer-padding grey-bg-page':'ion-text-center footer-padding grey-bg-page'">
    <div *ngIf="showvideo && pageheader && pageheader =='lakhshyaworks'">
        <p class="grey-text m-b-0"> {{'Reg1.knowLakshayworks'| translate}}</p>
        <h6 class="link m-t-0 link-padding" (click)="this.navCtrl.navigateRoot('login')"> {{'Reg1.skipVideo'| translate}} <span class="grey-text">></span></h6>
    </div>
    <!-- <ion-toolbar  *ngIf="!showvideo">
            <ion-title style="text-align:center;" (click)="register()" >Register </ion-title>
          </ion-toolbar> -->
    <!-- <p  *ngIf="!showvideo"  (click)="register()" class="footer-text" >Register</p> -->
    <ion-button expand="block" (click)="register()" class="demo-button-violet" *ngIf="!showvideo && pageheader =='lakhshyaworks'">
        {{'Reg2_simSelection.head1_reg'| translate}}</ion-button>
    <ion-button expand="block" (click)="setGoal()" class="demo-button-violet" *ngIf="pageheader === 'SetGoal'">
        Set Goal</ion-button>
</ion-footer>