.white {
    background-color: #fff;
}

.price-color {
    color: #212344
}

.green {
    color: #24996A
}

ion-button.sec-color {
    background-color: #373588;
    width: 95%;
    border-radius: 8px;
}

ion-button.with-color {
    background-color: #3735881a;
    width: 95%;
    color: #373588;
    border-radius: 8%;
}

.next-step {
    background: #5b72de2e;
}

.ass {
    color: #77869E
}

.small-font {
    font-size: 13px;
}

.price-padding {
    padding: 15px 10px;
}

.med-font {
    font-size: 20px;
}

.line-h {
    line-height: 10px;
}


/** .product-cart {
    background: #373588;

    background: -moz-linear-gradient(top, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);

    background: -webkit-linear-gradient(top, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);

    background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
    
} */

.tooltip {
    background: rgba(59, 178, 184, 0.24);
    font-size: 11px;
    color: #2C3555;
    word-wrap: break-word;
    display: inline-block;
    padding: 6px 0px;
    width: 90%;
    border-radius: 5px;
    font-weight: normal;
    line-height: 16px;
    vertical-align: top;
    position: relative;
}

.tooltip1 {
    background: rgba(59, 178, 184, 0.24);
    font-size: 11px;
    color: #2C3555;
    word-wrap: break-word;
    display: inline-block;
    padding: 6px 0px;
    width: 90%;
    border-radius: 5px;
    font-weight: normal;
    line-height: 16px;
    vertical-align: top;
    position: relative;
}


.tooltip:before {
    content: '';
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 45%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(59, 178, 184, 0.24);
}

.tooltip.next-step {
    background: #5b72de2e;
    width: 90%;
    padding: 14px 0px;
}

.tooltip.next-step:before {
    content: '';
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 45%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #5b72de2e;
}

.tooltip.exted {
    background: #f3f7fb6e;
}

.tooltip.exted:before {
    content: '';
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 45%;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f3f7fb6e;
}

.border-sec {
    border-top: 1px dotted #043267;
    position: absolute;
    width: 97%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.w-15 {
    width: 15%;
}

.w-35 {
    width: 35%;
}

.round {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: #43E695;
    position: relative;
    z-index: 1;
}

.start {
    color: #77869E;
    font-size: 13px;
}

.border-green {
    border: 1px solid rgba(36, 153, 106, 0.26);
    border-radius: 15px;
}


page-home {
    [col-1] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 14.285714285714286%;
      width: 14.285714285714286%;
      max-width: 14.285714285714286%;
    }
    .col {
      text-align: center;
      padding: 5px;
    }
    .last-month, .next-month {
      color: #999999;
      font-size: 90%;
    }
    .currentDate, .otherDate {
      padding: 5px;
    }
    .currentDate {
      font-weight: bold;
      background-color: red;
      color: white;
      border-radius: 30px;
    }
    .calendar-header {
      background-color: #1a732d;
      color: #FFFFFF;
    }
    .event-bullet {
      margin: 2px auto;
      height: 5px;
      width: 5px;
      background-color: green;
      border-radius: 30px;
    }
    .selected-date {
      width: 20px;
      height: 2px;
      background-color: blue;
    }
    .unselected-date {
      border: none;
    }
    .calendar-body {
      .grid {
        padding: 0;
      }
      .col:last-child {
        border-right: none;
      }
      .calendar-weekday, .calendar-date {
        text-align: center;
        margin: 0;
      }
      .calendar-weekday {
        font-weight: bold;
        border-bottom: solid 1px #1a732d;
        background-color: #26ab56;
      }
      .calendar-date {
        border-top: solid 1px #1a732d;
        border-bottom: solid 1px #1a732d;
      }
    }
  }


//   .days{
//       padding: 25px;
//   }

.otherMonth{
    color: #525c6d !important;
    opacity: 50%;
}
.days{
    color: #525c6d;
    font-size: 15px;
    font-weight: 500;
    min-height: 50px;
}
  .last-month .next-month {
      color: #77869E;
  }

  .savings-routine {	
    color: #77869E;
    --background: #f3f3f3;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
  }


  .small-font {
    font-size: 12px;
}

.flot-r {
    float: right;
}

.transation {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08), 0 1px 5px rgba(0, 0, 0, 0.22);
  padding: 30px 0px 30px;
  text-align: center;
  background: #fff;
  margin: 15px auto;
  /* margin-bottom: 20px; */
  border-radius: 15px;
  /* margin-top: 30px; */
  width: 93%;
}

h2.price {
    color: #24996A;
    font-size: 28px;
    line-height: 20px;
}

h2.price-r {
    color: #F64F4B;
}

.border-right {
    border-right: 1px solid #979797
}

.ioen-font-s {
    font-size: 36px;
    vertical-align: middle;
    margin: 0px;
    line-height: 0px;
    padding: 0px;
}

.space-gap {
    margin-top: 30px;
}

.clear-both {
    display: table;
    clear: both;
}

.arrow-top-icon {
    font-weight: normal;
    background-color: rgba(36, 153, 106, 0.09);
    color: #24996A;
    font-size: 24px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
}

.arrow-bottom-icon {
    font-weight: normal;
    background-color: rgba(246, 79, 75, 0.09);
    color: #F64F4B;
    font-size: 24px;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
}

.recent-price {
    background-color: #fff;
    width: 100%;
    display: inline-block;
}

.recent-price ul {
    padding: 0px;
    margin: 0px;
}

.recent-price ul li {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    border-bottom: 1px solid #ccc;
}

ion-grid {
    padding: 0px;
}

.col-sec-2 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.col-sec-10 {
    width: 79%;
    display: inline-block;
}

.saved-price {
    display: inline-block;
    color: #043267;
    font-size: 13px;
    font-weight: 500;
}

.rupee-right {
    float: right;
    color: #24996A;
    font-weight: 500;
    font-size: 15px;
}

.rupee-right-down {
    float: right;
    color: #F64F4B;
    font-weight: 500;
    font-size: 18px;
}

.back-home {
    width: 100%;
    color: #3F3C93;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    margin-top: 23px;
    padding: 18px 0px;
    background-color: #3f3c931a;
}



//  design number 53 css////
.goal-padding {
    padding: 16px 16px 24px 16px;
}

.verify-button-padding {
    margin: 16px 0px 20px 0px;
}

.goal-desc-header {
    padding: 0px 40px;
    margin-top: -0.4em;
    font-weight: 500;
    font-size: 19px;
}

.goal-card {
    border-radius: 12px;
    padding: 0px;
    margin-top: -35%;
    .green-bg {
        height: 72px;
        background: #24996A;
        border-radius: 12px 12px 0px 0px;
        .footer-text {
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            padding: 12px 36px 4px 36px;
        }
        .grey-text {
            color: #DFE7F5;
            font-size: 14px;
            line-height: 24px;
            padding: 0px 24px 24px 8px;
            text-align: center;
        }
    }
    //  background: #FFFFFF;
    .description-one {
        padding: 8px 16px;
    }
    .description-border {
        border-style: dashed;
        border-width: 2px 0px 0px 0px;
        border-color: #B3C1D1;
        border-radius: 0px 0px 0px 0px;
        margin: 0px 13px;
        div {
            position: absolute;
            margin-top: -0.6em;
            .span_1 {
                margin-right: 44px;
                background: linear-gradient(135deg, #43E695 0%, #3BB2B8 100%);
            }
            .span_2 {
                margin-right: 84px;
            }
            .span_3 {
                margin-right: 88px;
            }
            .span_4 {
                margin-right: 50px;
            }
        }
    }
    .description-sub-border {
        border-style: dashed;
        border-width: 0.1rem 0rem 0.1rem 0.1rem;
        border-color: #B3C1D1;
        background: #FFFFFF;
        border-radius: 12px 0px 0px 12px;
        height: 110px;
        margin: 0px 22px;
        div {
            position: absolute;
            margin-top: -0.6em;
            .span_5 {
                margin-right: 84px;
                margin-left: 40px;
            }
            .span_6 {
                margin-right: 88px;
            }
            .span_7 {
                margin-right: 50px;
            }
        }
    }
    .goal-img-icon {
        position: absolute;
        margin-left: 50%;
        width: 50%;
        height: 43px;
        margin-top: -1.5em;
        background: #FFFFFF;
        span {
            margin-top: 1em;
            position: absolute;
        }
        .temple-icon {
            font-size: 40px;
            padding: 0px 12px;
            color: #3F3C93;
        }
    }
    .description-para-text {
        text-align: center;
        background: #FFFFFF;
    }
    .audio-box {
        padding: 0px 100px 4px 100px;
        border-top: 1px solid rgba(151, 151, 151, 0.5);
        background: #FFFFFF;
        .link {
            ion-icon {
                font-size: 20px;
            }
            span {
                position: absolute;
                padding-left: 0.5em;
            }
        }
    }
}

.dashboard-goal-card {
    border: none;
    margin: 120% 16px 32px 16px !important;
}

.dashboard-bottom-box {
    height: 104%;
}

.dashboard-child-card {
    background: #FFFFFF;
    border-radius: 12px;
}

.rupeestext {
    color: #043267;
    font-size: 15px;
    line-height: 24px;
}

.goal-desc-top-box {
    height: 28%;
}

.rg_home {
    float: right;
}

.changecolor {
    background: #d2efee;
}

.goal-setting-btn {
    height: 40px;
    width: 85px;
    color: #2C3555;
    font-size: 11px;
    letter-spacing: 0.19px;
    line-height: 13px;
    text-align: center;
    border-radius: 5px;
}

.rg_home {
    left: 25px;
    margin: 0;
}

.rg_home p {
    margin: 9px 0px -10px;
}

//  End section number 53 css////
//  design number 52 css////
.rum_img img {
    margin-top: 13%;
}

.back-hm {
    background: #373588;
    padding: 50px 0px 70px;
}

.home_cd p {
    font-size: 14px;
    color: #043267;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 18px;
}

.home_cd {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08), 0 1px 5px rgba(0, 0, 0, 0.22);
    padding: 30px 0px 30px;
    text-align: center;
    background: #fff;
    margin-top: 3%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.hone_cd {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08), 0 1px 5px rgba(0, 0, 0, 0.22);
    background: #fff;
    border-radius: 10px;
}

.cd_text0 {
    font-size: 18px;
    color: #043267;
    padding: 15px 12px 3px;
    font-weight: 400;
}

.cb_text1 span {
    color: #00d793;
}

.ad_paddin {
    padding-bottom: 0px;
}

.iocnlp_image {
    margin-top: 25%;
    float: right;
}

.hmeicogle {
    width: 58px;
    height: 58px;
    background: #00D793;
    border-radius: 10px;
    text-align: center;
}

.hmeicogle ion-icon {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 28%;
}

.accoe_iocn {
    width: 58px;
    height: 58px;
    background: #FCB06C;
    border-radius: 10px;
    text-align: center;
}

.accoe_iocn {
    float: right;
}

.accoe_iocn ion-icon {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 28%;
}

.cb_text1 {
    padding: 0px 12px;
}

.iocnlp_image1 {
    margin-top: 25%;
    float: right;
}

// End Design number 52 css////
// start css 55/////////
.rupice {
    padding: 10px 20px;
    border: 2px solid #ace8ec;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.rupice h4 {
    color: #00d793;
    font-size: 18px;
}

.rupice span {
    color: #00D793;
    font-size: 15px;
    margin-left: 10px;
}

.first_part {
    background: #373588;
    background: -webkit-gradient(linear, left top, left bottom, from(#373588), color-stop(33%, #373588), color-stop(33%, #f3f3f3), to(#f3f3f3));
    background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);
}

.swiper-pagination {
    --bottom: 31px !important;
    left: 0;
    width: 100%;
}