<ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 33%, #f3f3f3 33%, #f3f3f3 100%);">
    <ion-card style="    margin-top: 0px;" class="white " *ngIf="currentUserDetails.IsGoalCreated">
        <ion-row class="ion-padding-horizontal">
            <ion-col text-center size="4">
                <h4 class="price-color" *ngIf="currentSavings1>0">₹{{currentSavings1}}</h4>
                <h4 class="price-color" *ngIf="currentSavings1 == 0">
                    <ion-spinner name="crescent"></ion-spinner>
                </h4>
                <span class="tooltip1">Current <br/>Savings</span>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top relative ion-padding-horizontal">
            <ion-col>
                <div class="w-15 ion-float-left"><span class="round ion-float-left"></span></div>
                <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                <div class="w-35 ion-float-left"><span class="round ion-float-left"></span></div>
                <div class="w-15 ion-float-left"><span class="round ion-float-left"></span> <span class="round ion-float-right"></span></div>
                <div></div>
                <div class="border-sec"></div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding-horizontal">
            <ion-col class="ion-text-left">
                <span class="ion-no-margin start"> Start </span>
                <!-- <p class="ion-no-margin price-color">₹ {{permonthAmount}}</p> -->
            </ion-col>
            <ion-col class="ion-text-right">
                <span class="ion-no-margin start"> Goal in {{mileStones.length/4}} months </span>
                <p class="ion-no-margin price-color">₹ {{goalAmount}}</p>
            </ion-col>
        </ion-row>
        <img src="./assets/images/auto.jpeg" class="ion-padding-top" [ngStyle]="setAutoStyles()"/>
        <img src="./assets/images/route.jpeg" id="auto-path" class="ion-padding-top" [ngStyle]="setPathStyles()"/>
    </ion-card>
</ion-grid>


<!--    
   <ion-grid >
      <ion-row *ngIf="currentUserDetails.Status == 8 && !goalDetails">
         <div class="clear-fix"></div>
         <ion-col>
            
             <div class="transation">
                 <h2> Account Summary</h2>

                 <ion-row class="ios hydrated">
                     <ion-col class="ios hydrated border-right">
                         <div>
                             <h2 class="price">
                                 <ion-icon name="arrow-round-up" class="ioen-font-s"></ion-icon> &#8377; 
                              {{transationDetails.TotalInvestmentAmount}}</h2>
                             <p class="ion-text-center"> Saved till date</p>
                         </div>
                     </ion-col>
                     <ion-col class="ios hydrated">
                         <div>
                             <h2 class="price-r">
                                 <ion-icon name="arrow-round-down" class="ioen-font-s"></ion-icon> &#8377;{{transationDetails.TotalWithdrawAmount}}</h2>
                             <p class="ion-text-center">Withdrawn till date</p>
                         </div>
                     </ion-col>
                 </ion-row>
             </div>
         </ion-col>
     </ion-row>
   </ion-grid> -->





   <!-- <ion-row class="ion-padding-horizontal">
      <ion-col >
         <ion-button color="#373588" class="sec-color" (click)="navCtrl.navigateForward('savings')">Save Now</ion-button>
      </ion-col>
      <ion-col  *ngIf="transationDetails.TotalBalanceAmount > 0">
         <ion-button color="#373588" class="with-color ion-float-right" (click)="navCtrl.navigateForward('withdraw')">Withdraw</ion-button>
      </ion-col>
   </ion-row>
   <ion-row class="ion-margin price-padding  border-green">
      <ion-col size="3" class="ion-no-padding">
         <h4 class="green line-h"> Rs. 245</h4>
      </ion-col>
      <ion-col size="8" class="ion-no-padding">
         <p class="green small-font">Loan Interest avoided till date</p>
      </ion-col>
      <ion-col size="1" class="ion-no-padding">
         <p class="green small-font">
            <ion-icon name="arrow-forward"></ion-icon>
         </p>
      </ion-col>
   </ion-row>
</ion-grid> -->
<!-- <ion-grid class="ad_paddin " *ngIf="currentUserDetails.Status < 8 ">
   <ion-card class="hone_cd" (click)="this.navCtrl.navigateForward('bankaccount');">
       <ion-row>
           <ion-col size="3">
               <div class="iocnlp_image1">
                   <div class="accoe_iocn">
                       <ion-icon name="person"></ion-icon>
                   </div>
               </div>
           </ion-col>
           <ion-col size="8">
               <ion-card-header class="cd_text0">
                   Create Account
               </ion-card-header>
               <ion-card-content class="cb_text1">
                   Simple, free of cost and one-time activity
               </ion-card-content>
           </ion-col>
           <ion-col size="1">
               <div class="card_image_arrow">
                   <ion-icon name="ios-arrow-forward"></ion-icon>
               </div>
           </ion-col>
       </ion-row>
   </ion-card>
</ion-grid> -->
<!-- <ion-grid class="ad_paddin" *ngIf="currentUserDetails.Status < 9 ">
   <ion-card class="hone_cd" (click)="this.navCtrl.navigateForward('goalsetting');">
       <ion-row>
           <ion-col size="3">
               <div class="iocnlp_image1">
                   <div class="accoe_iocn" style="background: #00D793;">
                       <ion-icon name="locate"></ion-icon>
                   </div>
               </div>
           </ion-col>
           <ion-col size="8">
               <ion-card-header class="cd_text0">
                   Set Goal
               </ion-card-header>
               <ion-card-content class="cb_text1">
                   Simple, free of cost and one-time activity
               </ion-card-content>
           </ion-col>
           <ion-col size="1">
               <div class="card_image_arrow">
                   <ion-icon name="ios-arrow-forward"></ion-icon>
               </div>
           </ion-col>
       </ion-row>
   </ion-card>
</ion-grid> -->

<!-- <ion-card style="background: #ffff; border-radius: 15px; margin-bottom: 50px;">


  <ion-card-content *ngIf="transationDetails.TransactionDetails">
        <ion-grid style="widows: 1000%; text-align: center;">
                <ion-row>
                   <ion-col size="1" (click)="goToLastMonth()">
                        <ion-icon name="ios-arrow-dropleft-circle" style="font-size: 25px; color: #9e9e9e;"></ion-icon>
                   </ion-col>
                   <ion-col size="10" class="days">{{date | date: 'MMMM yyyy'}} </ion-col>
                   <ion-col size="1" (click)="goToNextMonth()">
                        <ion-icon name="ios-arrow-dropright-circle" style="font-size: 25px; color: #9e9e9e;"></ion-icon>
                   </ion-col>
                </ion-row>
                <ion-row >
                   <ion-col>Su</ion-col>
                   <ion-col>Mo</ion-col>
                   <ion-col>Tu</ion-col>
                   <ion-col>We</ion-col>
                   <ion-col>Th</ion-col>
                   <ion-col>Fr</ion-col>
                   <ion-col>Sa</ion-col>
                </ion-row>
                <ion-row  *ngFor="let slot of [1,2,3,4,5,6]">
                   <ion-col  class="days" [ngClass]="{'otherMonth' : (slot == 1 && temShowMonth[slot*7-day] > 12)}" *ngFor="let day of [7,6,5,4,3,2,1]" class="days">
                     <div [ngClass]="{'trans-withdraw' : (getTransType(slot,temShowMonth[slot*7-day]) ==2),'trans-invest' : (getTransType(slot,temShowMonth[slot*7-day]) == 1)}" class="trns-div">{{temShowMonth[slot*7-day]}}</div>
                     <div class="withdrawAmt" [ngClass]="{'trans-withdrawamt' : (getTransType(slot,temShowMonth[slot*7-day]) ==2),'trans-investamt' : (getTransType(slot,temShowMonth[slot*7-day]) == 1)}" *ngIf="getAmount(slot,temShowMonth[slot*7-day])">₹ {{getAmount(slot,temShowMonth[slot*7-day])}}</div>
                     </ion-col>
                </ion-row>
             </ion-grid>
  </ion-card-content>
</ion-card> -->


