.goal-padding {
    padding: 16px 16px 24px 16px;
}

.verify-button-padding {
    margin: 16px 0px 20px 0px;
}

.goal-desc-header {
    padding: 0px 40px;
    margin-top: -0.4em;
    font-weight: 500;
    font-size: 19px;
}

.goal-card {
    height: auto;
    border-radius: 12px 12px 0px 0px;
    padding: 0px;
    .green-bg {
        height: 72px;
        background: #24996A;
        border-radius: 12px 12px 0px 0px;
        .footer-text {
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            padding: 12px 36px 4px 36px;
        }
        .grey-text {
            color: #DFE7F5;
            font-size: 14px;
            line-height: 24px;
            padding: 0px 24px 24px 8px;
            text-align: center;
        }
    }
    //  background: #FFFFFF;
    .description-one {
        padding: 3px 16px;
    }
    .description-border {
        border-style: dashed;
        border-width: 0.1rem 0.1rem 0rem 0rem;
        border-color: #B3C1D1;
        border-radius: 0px 12px 12px 12px;
        margin: 3px 13px 10px 12px;
        div {
            position: absolute;
            margin-top: -0.6em;
            .span_1 {
                margin-right: 44px;
                background: linear-gradient(135deg, #43E695 0%, #3BB2B8 100%);
            }
            .span_2 {
                margin-right: 84px;
            }
            .span_3 {
                margin-right: 88px;
            }
            .span_4 {
                margin-right: 50px;
            }
        }
    }
    .description-sub-border {
        border-style: dashed;
        border-width: 0.1rem 0rem 0.1rem 0.1rem;
        border-color: #B3C1D1;
        background: #FFFFFF;
        border-radius: 12px 0px 0px 12px;
        height: 110px;
        margin: 0px 22px;
        div {
            position: absolute;
            margin-top: -0.6em;
            .span_5 {
                margin-right: 84px;
                margin-left: 40px;
            }
            .span_6 {
                margin-right: 88px;
            }
            .span_7 {
                margin-right: 50px;
            }
        }
    }
    .goal-img-icon {
        position: absolute;
        margin-left: 50%;
        width: 50%;
        height: 43px;
        margin-top: -1.5em;
        background: #FFFFFF;
        span {
            margin-top: 1em;
            position: absolute;
        }
        .temple-icon {
            font-size: 40px;
            padding: 0px 12px;
            color: #3F3C93;
        }
    }
    .description-para-text {
        text-align: center;
        background: #FFFFFF;
    }
    .audio-box {
        padding: 0px 100px 4px 100px;
        border-top: 1px solid rgba(151, 151, 151, 0.5);
        background: #FFFFFF;
        .link {
            ion-icon {
                font-size: 20px;
            }
            span {
                position: absolute;
                padding-left: 0.5em;
            }
        }
    }
}

.dashboard-goal-card {
    border: none;
    margin: 120% 16px 32px 16px !important;
}

.dashboard-bottom-box {
    height: 104%;
}

.dashboard-child-card {
    background: #FFFFFF;
    border-radius: 12px;
}

.rupeestext {
    color: #043267;
    font-size: 20px;
    line-height: 24px;
    margin: auto;
    text-align: center;
}

.goal-desc-top-box {
    height: 28%;
}

.description-border-left {
    border-style: dashed;
    border-width: 0.1rem 0rem 0rem 0.1rem;
    border-color: #B3C1D1;
    border-radius: 12px 0px 12px 12px;
    margin: -8px 25px 0px 5px;
    div {
        position: absolute;
        margin-top: -0.6em;
    }
}

span.dot.below-dot {
    position: absolute;
    margin: 30px 0px 0px -30px;
}

.endBox-right {
    position: absolute;
    float: left;
    left: 0px;
    top: 21px;
}

.violet-bg-page {
    background: #f8f7f9;
    --background: #f8f7f9;
}