<ion-header style="background: #373588 !important;">
  <ion-toolbar style="background: #373588 !important;">
    <ion-title style="background: #373588 !important; padding: 0px; margin: 0px; color: #ffffff; height: 56px;padding-right: 50px;">Goal Description</ion-title>
    <ion-buttons slot="start"  style="background: #373588 !important; color: #ffffff;margin: 0px; height: 56px;">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="violet-bg-page">

  <div class="goal-card">
      <ion-grid class=" product-cart" style="background: linear-gradient(to bottom, #373588 0%, #373588 83%, #f3f3f3 73%, #f3f3f3 100%);">
        <div class="green-bg">
            <p class="m-t-0 m-b-0 footer-text">
                Save Rs.10 daily to achieve your goal
            </p>
            <p class="m-t-0 m-b-0 grey-text">
                No penalty if you do not save daily
            </p>
        </div>
      </ion-grid>
      <div class="description-one">
          <ion-grid style="margin-top: 30px !important;">
              <span class="dot below-dot" style="margin: 68px 0px 0px -11px;background: green;height: 15px;width: 15px;box-shadow: 0px 0px 5px black;"></span>
              <ion-row>
                  <ion-col col-3 *ngFor="let step of [].constructor(3); let i= index;">
                      <p class="rupeestext m-t-0 m-b-0">₹ {{permonthAmount*(i+1)}}</p>
                      <button ion-button color="light" outline class="goal-setting-btn">

                      stop {{i+1}} 
                      <!-- {{mileStones[i]['MileStoneAmount']}} -->
                      <span class="dot below-dot" style="margin: 33px 0px 0px -30px;"></span>
                  </button>
                  </ion-col>

              </ion-row>
          </ion-grid>
      </div>
      <div *ngFor="let step of [].constructor(totalNumberSet); let i= index;" [ngClass]="{'description-border': i%2 == 0, 'description-border-left': i%2 == 1}">

          <ion-grid class="m-t-0 m-b-0" style="margin-top: 30px !important;">
              <ion-row *ngIf="i%2 == 0">
                  <ion-col col-3 *ngFor="let step of [].constructor(3); let j= index;">

                      <p *ngIf="mileStones.length >= (3*(i+2) -j)" class="rupeestext m-t-0 m-b-0">₹ {{permonthAmount*(3*(i+2) -j)}}</p>
                      <button *ngIf="mileStones.length >= (3*(i+2) -j)" ion-button color="light" outline class="goal-setting-btn">
      
                              stop {{(3*(i+2) -j)}} 
                              <!-- {{mileStones[i]['MileStoneAmount']}} -->
                              <span class="dot below-dot"></span>
                          </button>
                  </ion-col>

              </ion-row>
              <ion-row *ngIf="i%2 == 1">
                  <ion-col col-3 *ngFor="let step of [].constructor(3); let j= index;">

                      <p class="rupeestext m-t-0 m-b-0" *ngIf="mileStones.length >=(3*(i+1) +j+1)">₹ {{permonthAmount*(j+4)}}</p>
                      <button ion-button color="light" outline class="goal-setting-btn" *ngIf="mileStones.length >=(3*(i+1) +j+1)">
      
                          st  op {{(3*(i+1) +j+1)}}
                              <!-- {{mileStones[i]['MileStoneAmount']}} -->
                              <span class="dot below-dot"></span>
                          </button>
                  </ion-col>

              </ion-row>
          </ion-grid>
      </div>

      <div style="margin: 3px 5px 0px 16px;">
          <ion-grid class="m-t-0 m-b-0">
              <ion-row class="m-t-0 m-b-0 ">
                  <div class="goal-img-icon">
                      <span class="dot goal-dot"></span>
                      <i class="icon-school-fees1x temple-icon endBox-right"> </i>
                  </div>
              </ion-row>
              <ion-row class="m-t-0 m-b-0 ">
                  <div class="description-para-text m-t-0">
                      <p class="grey-text m-b-0 "> School fees in 3 months</p>
                      <p class="grey-text m-t-0 m-b-0"> ₹ 1,00,000</p>
                  </div>
              </ion-row> 
          </ion-grid>
      </div>
  </div>
  <ion-grid class="grey-bg-page">
    <ion-row>
      <ion-col size="1" class="text-right" style="font-size: 18px; color: green;">
        <ion-icon name="checkmark" class="tickmark"></ion-icon>
      </ion-col>  
      <ion-col size="11" style="padding-left: 1px;">
        <p class="m-t-0 m-b-0" style="padding-top: 0px;font-size: 14px;color: gray;font-weight: 400;">
          Your goal has been divided into different stops.</p>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col  size="1" class="text-right" style="font-size: 18px; color: green;">
        <ion-icon name="checkmark" class="tickmark"></ion-icon>
      </ion-col>  
      <ion-col size="11" style="padding-left: 1px;">
        <p class="m-t-0 m-b-0" style="padding-top: 0px;color: gray;font-size: 14px;font-weight: 400;">Concentrate only on reaching the next stop</p>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-text-center ion-padding grey-bg-page">

  <ion-button expand="block" (click)="setyourgoal()" class="demo-button-violet">
      Set Goal</ion-button>

</ion-footer>