<ion-header class="ion-no-padding">
    <ion-buttons slot="start" class="backbutton-white">
       <ion-back-button defaultHref=""></ion-back-button>
       <h2 class="page-header-white m-t-0 m-b-0">{{'VideoSelfieStart.vidselfiheader'|translate}}</h2>
    </ion-buttons>
 </ion-header>
 <ion-content class="first">
    <ion-card class="first_part slides-ios white-coler">
       <div class="ion-text-center pan-card-border">
          <h2 class="black-text m-t-0 m-b-0 video-header">{{'VideoSelfieStart.nowitssmheadertxt'|translate}}</h2>
          <p class="grey-text m-t-0 m-b-0 video-grey-text">{{'VideoSelfieStart.followstptxt'|translate}}</p>
          <div class="video-text-padding ion-text-left">
             <p class="grey-text m-t-0 m-b-0 video-text-para">
                <span> {{'VideoSelfieStart.setone'|translate}} </span> {{'VideoSelfieStart.stp1txt'|translate}}
             </p>
             <!-- <p class="grey-text m-t-0 m-b-0 video-text-para">
                <span> {{'VideoSelfieStart.settwo'|translate}}</span> {{'VideoSelfieStart.stp2txt'|translate}}
             </p> -->
             <p class="grey-text m-t-0 m-b-0 video-text-para">
                <span> {{'VideoSelfieStart.settwo'|translate}} </span> {{'VideoSelfieStart.stp3txt'|translate}} 
             </p>
          </div>
       </div>
    </ion-card>
    <ion-card class="white-color ion-margin-vertical ion-padding ion-doted-box">
       <div class=" verify-bottom-box">
          <ion-row>
             <ion-col  size="4">  <img src="/assets/images/video.jpg" class="ion-no-padding"   /></ion-col >
             <ion-col class=""  size="8">
                <div class="  ion-text-left ">
                   <p class="grey-text"> <i class="icon-help1x help-icon ion-icon"></i>{{'CommonUtility.wtchvideotxt'|translate}}</p>
                   <p class="ion-text-left uplode-photo m-t-0 kyc-heading video-selfi">{{'VideoSelfieStart.hottotxt'|translate}} ?</p>
                </div>
             </ion-col>
          </ion-row>
       </div>
    </ion-card>
 </ion-content>
 <ion-footer class="ion-text-center ion-padding grey-bg-page">
    <ion-row>
       <ion-col>
          <ion-button expand="block" (click)="startvideo()" class="demo-button-violet">
             {{'VideoSelfieStart.strtbtn'|translate}}
          </ion-button>
       </ion-col>
    </ion-row>
 </ion-footer>