

ion-header{
    background: #373588;
    color: #ffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    --background: none;
  }
  ion-header h2{ font-size: 20px;}
  .white-coler{background-color: #fff;}
  ion-card{ border-radius: 8px;}
  .pan-card-border{border: 2px dashed #DFE7F5; padding: 10px;     border-radius: 8px;}
  
  
  
  ion-content{
    --background: #373588;
    --background: -webkit-gradient(linear, left top, left bottom, from(#373588), color-stop(20%, #373588), color-stop(20%, #f3f3f3), to(#f3f3f3));
    --background: linear-gradient(to bottom, #373588 0%, #373588 20%, #f3f3f3 20%, #f3f3f3 100%);
  }
.white-color{ background-color: #fff;     border: 2px dashed #DFE7F5;}
.ion-icon{    font-size: 22px;
    vertical-align: middle;}
.video-selfi{
    font-size: 16px;	font-weight: 500; color: #043267;
}

.video-header{
 line-height: 25px;  
 padding: 0px 16px;
}
.video-grey-text{
    padding-bottom: 12px;
    border-bottom: 0.1rem dashed #D4DCEC;
}
.video-text-padding{
    padding: 8px;
    .video-text-para{
        font-weight: 350;
    }
    span{
       color: #3F3C93;
       font-weight: 400;
    }
}
