.header-title{
    font-size: 13px;
    font-weight: bold;
}
.header-subtitle{
    font-size: 12px;
} 
.header{
    margin: unset;
    padding: unset;
    height: 25px;
    width: max-content;
    font-size: 13px;
    font-weight: bold;
}
.white {
    background-color: #fff;
}
.card-header {
    font-size: 1.2rem;
    font-weight: 500;
    color: #0b0879;
    text-align: center;
    margin: auto;
}
.card-header-gold {
    color: gold;

}

.card-icon-text {
    font-size: .7rem;
    color: #0400a7;
    text-align: center;
    margin: auto;
    font-weight: 500;
}

.card-icon {
    font-size: 2rem;
    margin: auto;
    margin-bottom: 10px;

}

.card-secure-text {
    font-size: .9rem;
    font-weight: 500;
    color: #0400a7;
    text-align: center;
    margin: auto;
}

.card-secure-text2 {
    color: #827e7e;
    text-align: center;
    margin: auto;
    font-size: .7rem;
}